---
version: 2
interactions:
    - id: 0
      request:
        host: api.pinecone.io
        body: '{"documents":[{"id":"doc1","text":"Apple is a popular fruit known for its sweetness."},{"id":"doc2","text":"Many people enjoy eating apples as a healthy snack."},{"id":"doc3","text":"Apple Inc. has revolutionized the tech industry."}],"model":"bge-reranker-v2-m3","query":"i love to eat apples","rank_fields":["text"],"return_documents":true,"top_n":2}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Pinecone-Api-Version:
                - 2026-04
        url: https://api.pinecone.io/rerank
        method: POST
      response:
        body: '{"model":"bge-reranker-v2-m3","data":[{"index":1,"document":{"id":"doc2","text":"Many people enjoy eating apples as a healthy snack."},"score":0.9497627},{"index":0,"document":{"id":"doc1","text":"Apple is a popular fruit known for its sweetness."},"score":0.6338636}],"usage":{"rerank_units":1}}'
        headers:
            Content-Type:
                - application/json
            X-Cloud-Trace-Context:
                - dc2b1326885e8587d634ac69b7fcab54
            X-Pinecone-Api-Version:
                - 2026-04
        status: 200 OK
        code: 200
        duration: 415.10525ms
