---
version: 2
interactions:
    - id: 0
      request:
        host: api.pinecone.io
        body: '{"inputs":[{"text":"Who created the first computer?"}],"model":"multilingual-e5-large","parameters":{"input_type":"passage","truncate":"END"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Pinecone-Api-Version:
                - 2026-04
        url: https://api.pinecone.io/embed
        method: POST
      response:
        body: '{"model":"multilingual-e5-large","vector_type":"dense","data":[{"vector_type":"dense","values":[0.03961181640625,0.0021610260009765625,-0.01824951171875,-0.017791748046875,0.038970947265625,-0.0479736328125,-0.0074615478515625,0.050872802734375,0.06658935546875,-0.036590576171875,0.00787353515625,0.0103759765625,-0.0278472900390625,-0.032806396484375,-0.0181884765625,-0.047271728515625,-0.0230712890625,0.042236328125,-0.0289154052734375,-0.01812744140625,0.04400634765625,-0.020416259765625,-0.0035915374755859375,-0.01392364501953125,0.0012388229370117188,-0.0145416259765625,-0.04159545898[...]
