---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/project/non-existent-project-id-12345
        method: GET
      response:
        body: |-
            [
              {
                "validation": "uuid",
                "code": "invalid_string",
                "message": "Invalid uuid",
                "path": [
                  "id",
                  0
                ]
              }
            ] [user_email=matt@braintrustdata.com] [user_org=matt-test-org] [timestamp=1762959310.665] [request_id=iad1::n8k68-1762959310507-02f419606559]
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - W/"117-k5VBHAZO+vvUvPP6QX4SdcrPV3A"
            X-Amz-Apigw-Id:
                - T73oUHhyoAMEV6Q=
            X-Amzn-Requestid:
                - 1aa35f82-e2ac-464b-aad8-9ff3078ff66d
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000012ac60d530f9d99d
        status: 400 Bad Request
        code: 400
        duration: 260.474416ms
