---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-lifecycle-test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"cb18fe2a-27c4-42e8-8da6-4abb8c783470","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-lifecycle-test","created":"2025-11-07T18:02:46.722Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"f4-TpkeGaJn6haNyrOme+6QzfUAqqE"
            X-Amz-Apigw-Id:
                - Tr0bGHduIAMEBSQ=
            X-Amzn-Requestid:
                - fe67d4e5-5f22-47da-a9c1-dda74e296029
            X-Bt-Internal-Trace-Id:
                - 690e34460000000078e1e559ffc440c1
        status: 200 OK
        code: 200
        duration: 176.870292ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/project/cb18fe2a-27c4-42e8-8da6-4abb8c783470
        method: GET
      response:
        body: '{"id":"cb18fe2a-27c4-42e8-8da6-4abb8c783470","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-lifecycle-test","created":"2025-11-07T18:02:46.722Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"f4-TpkeGaJn6haNyrOme+6QzfUAqqE"
            X-Amz-Apigw-Id:
                - Tr0bJFHtoAMEmWw=
            X-Amzn-Requestid:
                - c515982c-196a-4480-a9ae-6ce5ef9701af
            X-Bt-Internal-Trace-Id:
                - 690e34460000000047cdb4ce9d86f373
        status: 200 OK
        code: 200
        duration: 117.646125ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/project?limit=100
        method: GET
      response:
        body: '{"objects":[{"id":"cb18fe2a-27c4-42e8-8da6-4abb8c783470","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-lifecycle-test","created":"2025-11-07T18:02:46.722Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},{"id":"7c8460b6-f890-4715-bef5-408092559666","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Python Working Origin Demo","created":"2025-11-06T21:08:26.281Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},{"id[...]
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-lifecycle-test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"cb18fe2a-27c4-42e8-8da6-4abb8c783470","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-lifecycle-test","created":"2025-11-07T18:02:46.722Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"f4-TpkeGaJn6haNyrOme+6QzfUAqqE"
            X-Amz-Apigw-Id:
                - Tr0bPETFoAMEISw=
            X-Amzn-Requestid:
                - ba460298-f331-434d-aa48-3256b8f3766c
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e3447000000001cfa8467867886af
        status: 200 OK
        code: 200
        duration: 193.361833ms
[...]
