---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/project/non-existent-project-id-12345
        method: GET
      response:
        body: |-
            [
              {
                "validation": "uuid",
                "code": "invalid_string",
                "message": "Invalid uuid",
                "path": [
                  "id",
                  0
                ]
              }
            ] [user_email=matt@braintrustdata.com] [user_org=matt-test-org] [timestamp=1762538566.763] [request_id=iad1::kz55r-1762538566661-bfc20c8688d9]
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - W/"117-dgedrgYs8yotI8d9HHzxNlg8jv8"
            X-Amz-Apigw-Id:
                - Tr0bGEwcIAMEpnQ=
            X-Amzn-Requestid:
                - fdef1f47-10d1-4a83-84f3-7375095c68ff
            X-Bt-Internal-Trace-Id:
                - 690e3446000000007b5195a3689e5454
        status: 400 Bad Request
        code: 400
        duration: 210.015583ms
