---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oUHPwoAMES3A=
            X-Amzn-Requestid:
                - bb72c96c-a607-4df0-82e2-4d4065bca9c6
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000007352fce172c3c00
        status: 200 OK
        code: 200
        duration: 163.299208ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/project?limit=10&org_id=5ba6d482-b475-4c66-8cd2-5815694764e3
        method: GET
      response:
        body: '{"objects":[{"id":"a192f7d3-e154-4874-ab87-72599c8c02d6","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-lifecycle-test","created":"2025-11-12T02:58:27.365Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},{"id":"7c8460b6-f890-4715-bef5-408092559666","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Python Working Origin Demo","created":"2025-11-06T21:08:26.281Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null},{"id[...]
