---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0bGGQBIAMEbOg=
            X-Amzn-Requestid:
                - bd225484-58c7-4ea9-a706-743191f22461
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34460000000009fc891a98090a7a
        status: 200 OK
        code: 200
        duration: 171.822458ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/project/842c2063-b9c7-4c40-9fb9-fa95f810c57f
        method: GET
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0bJHhioAMEVBQ=
            X-Amzn-Requestid:
                - 8bfc71c2-f3c3-4512-8ff5-215274c63c56
            X-Bt-Internal-Trace-Id:
                - 690e3446000000002d934728d39feae3
        status: 200 OK
        code: 200
        duration: 126.689417ms
