go 1.25.0

toolchain go1.26.1

use (
	.
	./btx
	./examples
	./trace/contrib/adk
	./trace/contrib/all
	./trace/contrib/anthropic
	./trace/contrib/bedrockruntime
	./trace/contrib/cloudwego/eino
	./trace/contrib/genai
	./trace/contrib/genkit
	./trace/contrib/github.com/sashabaranov/go-openai
	./trace/contrib/langchaingo
	./trace/contrib/mcp
	./trace/contrib/openai
)
