---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"Braintrust SDKs","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"178-kKbrsfThc+xXlggXc9RQYV+Gr9I"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CGPIwHafoAMECZg=
            X-Amzn-Requestid:
                - 0ff50e63-1808-4800-89fe-aa23b31bff7a
            X-Bt-Internal-Trace-Id:
                - 6a7f2bd1000000006d0d023df3dd171d
        status: 200 OK
        code: 200
        duration: 162.109419ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"7f591203-74a0-4126-9103-1fb905b32618","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"go-sdk-tests","description":null,"created":"2026-08-13T20:45:31.574Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fe-e5XSQJyAK+9rnBrPXkKT/jlKL04"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CGPIwGRAoAMEvmQ=
            X-Amzn-Requestid:
                - 824f537e-09e2-4095-ac38-39e5f7198fac
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6a7f2bd10000000040bced76ebe3367a
        status: 200 OK
        code: 200
        duration: 195.959326ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"7f591203-74a0-4126-9103-1fb905b32618","name":"prompt-echo"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"5a68ce61-9d56-4ae0-abe5-bb701ba4c42c","project_id":"7f591203-74a0-4126-9103-1fb905b32618","name":"prompt-echo","description":null,"created":"2026-08-14T14:53:05.489Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"internal_metadata":null,"parameters_id":null,"parameters_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1bf-38iR8AUSYXEtD7MIxIsXK1HBkn4"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CGPIyHvBIAMEdZg=
            X-Amzn-Requestid:
                - f6fa52b9-c316-4ec7-865b-0c851730c3b7
            X-Bt-Internal-Trace-Id:
                - 6a7f2bd1000000006085c7de6b69e565
        status: 200 OK
        code: 200
        duration: 229.946128ms
