---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oQGQ8IAMEArw=
            X-Amzn-Requestid:
                - 2c53ce13-674b-462b-88eb-0ac56390049e
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000049682276e17136b
        status: 200 OK
        code: 200
        duration: 338.538959ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-register","ensure_new":true,"tags":["test"],"metadata":{"purpose":"testing"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"980e886c-826b-4cfc-9dd3-1aad6d791540","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-register-0316bdb4","description":null,"created":"2025-11-12T14:55:10.472Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"purpose":"testing"},"tags":["test"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1a0-ld/S8htcwz6eH1xYNq3gc0mQmpU"
            X-Amz-Apigw-Id:
                - T73oTHTNIAMEkEg=
            X-Amzn-Requestid:
                - 975f7a60-14f1-4dd9-82b6-4a8e934e520d
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000051a058183fc26a41
        status: 200 OK
        code: 200
        duration: 160.094542ms
