---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T74YoGUKIAMEpuw=
            X-Amzn-Requestid:
                - e45247b6-1af5-4df5-90c6-7e9742d799ac
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6914a103000000007a39a8f5d70ed567
        status: 200 OK
        code: 200
        duration: 123.613541ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"5b8ec822-3c16-4058-a71f-59db9b2fb550","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list","description":null,"created":"2025-11-12T15:00:19.901Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"17e-r8U5CwVptsKCb8sBSi/SLNkFPVU"
            X-Amz-Apigw-Id:
                - T74YpHsrIAMEPdw=
            X-Amzn-Requestid:
                - 06fc984d-bbe7-4999-8ecb-5f39eb53999f
            X-Bt-Internal-Trace-Id:
                - 6914a103000000002a3a5394132c590e
        status: 200 OK
        code: 200
        duration: 315.613083ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/experiment/5b8ec822-3c16-4058-a71f-59db9b2fb550
        method: GET
      response:
        body: '{"id":"5b8ec822-3c16-4058-a71f-59db9b2fb550","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list","description":null,"created":"2025-11-12T15:00:19.901Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"17e-r8U5CwVptsKCb8sBSi/SLNkFPVU"
            X-Amz-Apigw-Id:
                - T74YsEK0IAMEXoQ=
            X-Amzn-Requestid:
                - c72bd3ac-9557-46bf-8a73-5cf6f6c392cb
            X-Bt-Internal-Trace-Id:
                - 6914a104000000003c7fc78a7164b797
        status: 200 OK
        code: 200
        duration: 153.947583ms
