---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0bDF1bIAMEtRw=
            X-Amzn-Requestid:
                - e2917e3e-ebca-4244-b0c0-01818dbd761b
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e3446000000005779bd0390f0218b
        status: 200 OK
        code: 200
        duration: 142.641833ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-exp","description":"Test experiment for lifecycle testing","tags":["lifecycle","test"],"metadata":{"stage":"created"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"d1c70c55-c5ef-48e0-9810-1d7105b587ef","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-exp","description":"Test experiment for lifecycle testing","created":"2025-11-07T18:02:46.732Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"stage":"created"},"tags":["lifecycle","test"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1b9-V+PPT6zJWDZv/NSHMW5cRdHuUeY"
            X-Amz-Apigw-Id:
                - Tr0bGHz-oAMEsDA=
            X-Amzn-Requestid:
                - 7057a54e-8422-4ef0-9588-4ef2cbbcbfb8
            X-Bt-Internal-Trace-Id:
                - 690e3446000000001f05917acb510151
        status: 200 OK
        code: 200
        duration: 155.570833ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/experiment/d1c70c55-c5ef-48e0-9810-1d7105b587ef
        method: GET
      response:
        body: '{"id":"d1c70c55-c5ef-48e0-9810-1d7105b587ef","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-exp","description":"Test experiment for lifecycle testing","created":"2025-11-07T18:02:46.732Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"stage":"created"},"tags":["lifecycle","test"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1b9-V+PPT6zJWDZv/NSHMW5cRdHuUeY"
            X-Amz-Apigw-Id:
                - Tr0bJF0OIAMEEcQ=
            X-Amzn-Requestid:
                - 337bf861-3b3c-4546-8cc6-1cc9c10e34ba
            X-Bt-Internal-Trace-Id:
                - 690e344600000000001ec5613d7b5d2d
        status: 200 OK
        code: 200
        duration: 182.677916ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/experiment?limit=100&project_id=842c2063-b9c7-4c40-9fb9-fa95f810c57f
        method: GET
      response:
        body: '{"objects":[{"id":"ad4e00f9-6e3b-4390-8cd3-02cf37b9addd","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test-14d42f10","description":null,"created":"2025-11-07T18:02:47.023Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null},{"id":"4ccadbc8-f267-4774-a02c-dd516db10eef","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-register-4a008738","description":null,"created":"2025-11-07T18:02:46.789Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"purpose":"testing"},"tags":["test"]},{"id":"d1c70c55-c5ef-48e0-9810-1d7105b587ef","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-exp","description":"Test experiment for lifecycle testing","created":"2025-11-07T18:02:46.732Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"stage":"created"},"tags":["lifecycle","test"]},{"id":"fe21ae85-40f2-4fe7-804a[...]
[...]
    - id: 6
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/experiment/d1c70c55-c5ef-48e0-9810-1d7105b587ef
        method: GET
      response:
        body: '{"Code":"ForbiddenError","Message":"Missing read access to experiment id d1c70c55-c5ef-48e0-9810-1d7105b587ef, or the experiment does not exist [user_email=matt@braintrustdata.com] [user_org=matt-test-org] [timestamp=1762538568.461]","InternalTraceId":"690e3448000000002872199ffe76f986","Path":"/v1/experiment/d1c70c55-c5ef-48e0-9810-1d7105b587ef","Service":"api"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"16c-+PNPo7gl+7Z6VqIGWfNvAzXR8Bk"
            X-Amz-Apigw-Id:
                - Tr0bXEBcIAMEBIg=
            X-Amzn-Requestid:
                - 3c45917b-56af-4c57-9109-d2a301a44fc2
            X-Bt-Internal-Trace-Id:
                - 690e3448000000002872199ffe76f986
        status: 403 Forbidden
        code: 403
        duration: 168.46ms
