---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0bDGRyoAMEJNA=
            X-Amzn-Requestid:
                - c0f97bed-ae17-484d-a227-3ad51df6292d
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34460000000046f76ef4f2181d6e
        status: 200 OK
        code: 200
        duration: 171.283875ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-register","ensure_new":true,"tags":["test"],"metadata":{"purpose":"testing"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"4ccadbc8-f267-4774-a02c-dd516db10eef","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-register-4a008738","description":null,"created":"2025-11-07T18:02:46.789Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"purpose":"testing"},"tags":["test"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1a0-DFbFXooSnsJEH4PRHy3fPX8j3p8"
            X-Amz-Apigw-Id:
                - Tr0bGHnRIAMEHlQ=
            X-Amzn-Requestid:
                - ad0b821d-edf9-4786-adf9-078963bc514d
            X-Bt-Internal-Trace-Id:
                - 690e3446000000005e645bf7eabfa535
        status: 200 OK
        code: 200
        duration: 149.578291ms
