---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oRG_AoAMEONQ=
            X-Amzn-Requestid:
                - edaa0cc8-3fee-4137-974a-cf4e3af68eb9
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000542530440001de06
        status: 200 OK
        code: 200
        duration: 302.6225ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"e846c9c9-704d-45e5-8bc1-94b071d1badc","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list-ee1c8d57","description":null,"created":"2025-11-12T14:55:10.473Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"187-ComOSpqpcIaSq4vOHhp4IBDyQGo"
            X-Amz-Apigw-Id:
                - T73oTEbyIAMEPBg=
            X-Amzn-Requestid:
                - 4c258e22-7e2b-409b-babb-1576f9746f3e
            X-Bt-Internal-Trace-Id:
                - 69149fce000000004c1b860d82802844
        status: 200 OK
        code: 200
        duration: 206.545417ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/experiment?limit=10&project_id=842c2063-b9c7-4c40-9fb9-fa95f810c57f
        method: GET
      response:
        body: '{"objects":[{"id":"dfa14420-b311-4355-a4f2-a42bab0ec5ec","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test-e2751ed0","description":null,"created":"2025-11-12T14:55:10.560Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null},{"id":"e846c9c9-704d-45e5-8bc1-94b071d1badc","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list-ee1c8d57","description":null,"created":"2025-11-12T14:55:10.473Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null},{"id":"980e886c-826b-4cfc-9dd3-1aad6d791540","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-register-0316bdb4","description":null,"created":"2025-11-12T14:55:10.472Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"purpose":"testing"},"tags":["test"]},{"id":"e0f50d94-c7f4-46fa-8bf4-7b72ae8e2002","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list","description":null,"created":"2025-11-12T14:55:10.468Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null},{"id":"3d409a0e-054f-4eda-a3f9-3af0b1c5fa59","project_id":"842c2063-b9c7-4c40-9fb9-fa95f8[...]
