---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oRHVqoAMES9Q=
            X-Amzn-Requestid:
                - 12d8ce86-3427-4802-89b3-588f8040a044
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000739695c3114ba0e6
        status: 200 OK
        code: 200
        duration: 396.1465ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment","description":"Test experiment for integration tests","tags":["test","integration"],"metadata":{"purpose":"testing"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"6a539c93-7e15-430a-b044-f0a0f1a22733","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment","description":"Test experiment for integration tests","created":"2025-11-07T18:02:24.977Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"purpose":"testing"},"tags":["test","integration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1bf-lBg9lJpJK1nAQ6d02j2UIH41CGE"
            X-Amz-Apigw-Id:
                - T73oUEmPIAMElqA=
            X-Amzn-Requestid:
                - 1c7db705-a295-489d-9b00-61d182d60431
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000025b55502c1d413ba
        status: 200 OK
        code: 200
        duration: 137.744458ms
