---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oQG6HoAMEoiw=
            X-Amzn-Requestid:
                - ad1b97dc-c375-412e-b6c2-ff5125b1ff21
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000002469a2ce05a9e766
        status: 200 OK
        code: 200
        duration: 265.200875ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"2a645444-237a-4f3c-aa76-ad77e7dae0e6","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test","description":null,"created":"2025-11-07T18:02:24.806Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"179-ClDAgdaaOPeTZpkDv8pGJ3fTQ7A"
            X-Amz-Apigw-Id:
                - T73oSFZzIAMEQ0Q=
            X-Amzn-Requestid:
                - 58e0198f-c0bd-4c46-b29d-cf4ed3f1d555
            X-Bt-Internal-Trace-Id:
                - 69149fce000000001c1b45d160de2d90
        status: 200 OK
        code: 200
        duration: 140.986292ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"dfa14420-b311-4355-a4f2-a42bab0ec5ec","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test-e2751ed0","description":null,"created":"2025-11-12T14:55:10.560Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"182-0jpwVldSfmu1IFaOsAKN9yzouqs"
            X-Amz-Apigw-Id:
                - T73oUGxBIAMElmA=
            X-Amzn-Requestid:
                - d599ec1a-167c-4730-bea8-80e9203a49ec
            X-Bt-Internal-Trace-Id:
                - 69149fce000000006ec5338b43d62007
        status: 200 OK
        code: 200
        duration: 170.507375ms
