---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0bDEMsoAMEiQQ=
            X-Amzn-Requestid:
                - c16acfab-3a28-46cd-b86f-38de9202cf2c
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e3446000000001b08361604c9d0ff
        status: 200 OK
        code: 200
        duration: 144.665625ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment","description":"Test experiment for integration tests","tags":["test","integration"],"metadata":{"purpose":"testing"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"6a539c93-7e15-430a-b044-f0a0f1a22733","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment","description":"Test experiment for integration tests","created":"2025-11-07T18:02:24.977Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"purpose":"testing"},"tags":["test","integration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1bf-lBg9lJpJK1nAQ6d02j2UIH41CGE"
            X-Amz-Apigw-Id:
                - Tr0bGGdToAMEqsQ=
            X-Amzn-Requestid:
                - 0baf3ad2-f5c2-45c9-9de1-cee30e7d48af
            X-Bt-Internal-Trace-Id:
                - 690e344600000000664887e8d688a3eb
        status: 200 OK
        code: 200
        duration: 139.173ms
