---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oRFmeIAMEiRg=
            X-Amzn-Requestid:
                - fc27eaee-ce68-4995-9f26-f0db314c4f1d
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000065b61f20c4daeb9d
        status: 200 OK
        code: 200
        duration: 308.358292ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"e0f50d94-c7f4-46fa-8bf4-7b72ae8e2002","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list","description":null,"created":"2025-11-12T14:55:10.468Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"17e-kyQ6KnonknCRczPED2lBotsLQHE"
            X-Amz-Apigw-Id:
                - T73oTGQGoAMEZog=
            X-Amzn-Requestid:
                - e414776d-166e-4ea8-85d2-5cda175cc40a
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000058871ccef75fccf2
        status: 200 OK
        code: 200
        duration: 220.110458ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/experiment/e0f50d94-c7f4-46fa-8bf4-7b72ae8e2002
        method: GET
      response:
        body: '{"Code":"ForbiddenError","Message":"Missing read access to experiment id e0f50d94-c7f4-46fa-8bf4-7b72ae8e2002, or the experiment does not exist [user_email=matt@braintrustdata.com] [user_org=matt-test-org] [timestamp=1762959310.804]","InternalTraceId":"69149fce000000004b71fd714cd060f7","Path":"/v1/experiment/e0f50d94-c7f4-46fa-8bf4-7b72ae8e2002","Service":"api"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"16c-R2fYmhyUq78x3XWSo6YvkzUxjX4"
            X-Amz-Apigw-Id:
                - T73oVEIRIAMEdQw=
            X-Amzn-Requestid:
                - 61d56f24-a660-45dd-9180-8ed93ccff913
            X-Bt-Internal-Trace-Id:
                - 69149fce000000004b71fd714cd060f7
        status: 403 Forbidden
        code: 403
        duration: 270.893584ms
