---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0bDFaZoAMER-w=
            X-Amzn-Requestid:
                - 7bc36340-be2c-400f-acee-350862155ab4
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e3446000000006af99250683f1b19
        status: 200 OK
        code: 200
        duration: 171.327833ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"e89e09bd-105f-4e5b-a885-e5ff64a66af0","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list","description":null,"created":"2025-11-07T18:02:40.888Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"17e-nfw4MFtLMSb6UapleCYtaYnhSEQ"
            X-Amz-Apigw-Id:
                - Tr0bGGZHIAMEM7A=
            X-Amzn-Requestid:
                - 6a612c0e-bd42-4c84-bace-692813702933
            X-Bt-Internal-Trace-Id:
                - 690e3446000000000bcd5f0acd34689b
        status: 200 OK
        code: 200
        duration: 192.898875ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/experiment?limit=10&project_id=842c2063-b9c7-4c40-9fb9-fa95f810c57f
        method: GET
      response:
        body: '{"objects":[{"id":"ad4e00f9-6e3b-4390-8cd3-02cf37b9addd","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test-14d42f10","description":null,"created":"2025-11-07T18:02:47.023Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null},{"id":"4ccadbc8-f267-4774-a02c-dd516db10eef","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-register-4a008738","description":null,"created":"2025-11-07T18:02:46.789Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"purpose":"testing"},"tags":["test"]},{"id":"d1c70c55-c5ef-48e0-9810-1d7105b587ef","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-exp","description":"Test experiment for lifecycle testing","created":"2025-11-07T18:02:46.732Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"stage":"created"},"tags":["lifecycle","test"]},{"id":"fe21ae85-40f2-4fe7-804a-6a222a2aa8f5","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test-2a83cd25","description":null,"created":"2025-11-07T18:02:25.096Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null},{"id":"6a539c93-7e15-430a-b044-f0a0f1a22733","project_id":"842c2063-b9c7-[...]
