---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oQEgroAMEdCg=
            X-Amzn-Requestid:
                - c2506e1d-5752-4623-8bb2-a672b9e76fe7
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000000eed8c6a1ebdbbf8
        status: 200 OK
        code: 200
        duration: 300.012167ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"e0f50d94-c7f4-46fa-8bf4-7b72ae8e2002","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list","description":null,"created":"2025-11-12T14:55:10.468Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"17e-kyQ6KnonknCRczPED2lBotsLQHE"
            X-Amz-Apigw-Id:
                - T73oTHjkoAMEMMg=
            X-Amzn-Requestid:
                - c66c3d60-e66b-4744-8722-cc474606ed53
            X-Bt-Internal-Trace-Id:
                - 69149fce000000000aa068a6e531594a
        status: 200 OK
        code: 200
        duration: 238.298417ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/experiment/e0f50d94-c7f4-46fa-8bf4-7b72ae8e2002
        method: DELETE
      response:
        body: '{"id":"e0f50d94-c7f4-46fa-8bf4-7b72ae8e2002","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list","description":null,"created":"2025-11-12T14:55:10.468Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":"2025-11-12T14:55:10.675Z","dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"194-6WAETlRV3sb4+r+itbyiFqFn6yE"
            X-Amz-Apigw-Id:
                - T73oVEgYoAMEqFw=
            X-Amzn-Requestid:
                - faa766ff-33e6-413d-835e-af239b410de5
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000150d3c3f35725bdf
        status: 200 OK
        code: 200
        duration: 155.700333ms
