---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oRGjyIAMEuwg=
            X-Amzn-Requestid:
                - 83f9abcc-f08e-481a-923c-1f7ac3b68ec5
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000042dce9b336e7f2f3
        status: 200 OK
        code: 200
        duration: 320.450333ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-exp","description":"Test experiment for lifecycle testing","tags":["lifecycle","test"],"metadata":{"stage":"created"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"5c9ab2ee-9921-49a8-bb60-67be6a855a61","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-exp","description":"Test experiment for lifecycle testing","created":"2025-11-12T02:58:27.251Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"stage":"created"},"tags":["lifecycle","test"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1b9-TI7MmjI53CXEOPymYtJH5fMSmUo"
            X-Amz-Apigw-Id:
                - T73oTE0fIAMETbw=
            X-Amzn-Requestid:
                - d39e1494-c2b3-4240-83f5-e656ab218734
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000052a30dca7d1bf4ec
        status: 200 OK
        code: 200
        duration: 202.368875ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/experiment/5c9ab2ee-9921-49a8-bb60-67be6a855a61
        method: GET
      response:
        body: '{"id":"5c9ab2ee-9921-49a8-bb60-67be6a855a61","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-exp","description":"Test experiment for lifecycle testing","created":"2025-11-12T02:58:27.251Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"stage":"created"},"tags":["lifecycle","test"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1b9-TI7MmjI53CXEOPymYtJH5fMSmUo"
            X-Amz-Apigw-Id:
                - T73oVHXQoAMED7g=
            X-Amzn-Requestid:
                - 2c3a0842-85c0-471c-821c-c5081db98041
            X-Bt-Internal-Trace-Id:
                - 69149fce000000006c12466d67afe20e
        status: 200 OK
        code: 200
        duration: 136.240083ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/experiment?limit=100&project_id=842c2063-b9c7-4c40-9fb9-fa95f810c57f
        method: GET
      response:
        body: '{"objects":[{"id":"dfa14420-b311-4355-a4f2-a42bab0ec5ec","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test-e2751ed0","description":null,"created":"2025-11-12T14:55:10.560Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null},{"id":"e846c9c9-704d-45e5-8bc1-94b071d1badc","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-list-ee1c8d57","description":null,"created":"2025-11-12T14:55:10.473Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null},{"id":"980e886c-826b-4cfc-9dd3-1aad6d791540","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-register-0316bdb4","description":null,"created":"2025-11-12T14:55:10.472Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"purpose":"testing"},"tags":["test"]},{"id":"3d409a0e-054f-4eda-a3f9-3af0b1c5fa59","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test-449c120b","description":null,"created":"2025-11-12T02:58:27.486Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null},{"id":"e82b519d-1cca-4c42-bdf3-95a4f9c201de","project_id":"842c2063-b9c7-4c40-9fb9-fa[...]
[...]
    - id: 6
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/experiment/5c9ab2ee-9921-49a8-bb60-67be6a855a61
        method: GET
      response:
        body: '{"Code":"ForbiddenError","Message":"Missing read access to experiment id 5c9ab2ee-9921-49a8-bb60-67be6a855a61, or the experiment does not exist [user_email=matt@braintrustdata.com] [user_org=matt-test-org] [timestamp=1762959311.491]","InternalTraceId":"69149fcf00000000162693b998fdb6dc","Path":"/v1/experiment/5c9ab2ee-9921-49a8-bb60-67be6a855a61","Service":"api"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"16c-jQ8E2Z+PGUrrMF6cejy7galS2zQ"
            X-Amz-Apigw-Id:
                - T73odFlnIAMEHig=
            X-Amzn-Requestid:
                - 9624eb86-755b-49cf-8f42-3094d65b3837
            X-Bt-Internal-Trace-Id:
                - 69149fcf00000000162693b998fdb6dc
        status: 403 Forbidden
        code: 403
        duration: 152.448791ms
