---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0bDFwwIAMEsKg=
            X-Amzn-Requestid:
                - 2703dcba-7a4c-42d6-b0d9-49378aa6fd40
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e3446000000001afde918feb457f3
        status: 200 OK
        code: 200
        duration: 157.198167ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"2a645444-237a-4f3c-aa76-ad77e7dae0e6","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test","description":null,"created":"2025-11-07T18:02:24.806Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"179-ClDAgdaaOPeTZpkDv8pGJ3fTQ7A"
            X-Amz-Apigw-Id:
                - Tr0bGHUeIAMEKaQ=
            X-Amzn-Requestid:
                - aeedd5ee-87ba-496c-8942-b42ba880d40b
            X-Bt-Internal-Trace-Id:
                - 690e34460000000016b05ec36d232cc0
        status: 200 OK
        code: 200
        duration: 134.55325ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"ad4e00f9-6e3b-4390-8cd3-02cf37b9addd","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"ensure-new-test-14d42f10","description":null,"created":"2025-11-07T18:02:47.023Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"182-ralUEiuiefLSnt8u00MH62uymGI"
            X-Amz-Apigw-Id:
                - Tr0bJF0FIAMEsKg=
            X-Amzn-Requestid:
                - c2f54e9a-0957-48cc-8cb2-7d111658be7a
            X-Bt-Internal-Trace-Id:
                - 690e344600000000633abee2f222aa05
        status: 200 OK
        code: 200
        duration: 156.335292ms
