---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T6ONEHwSIAMESMA=
            X-Amzn-Requestid:
                - a652b4e9-4caf-41ed-bb43-faec8de52dd8
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6913f720000000005cfeb8b728a1d573
        status: 200 OK
        code: 200
        duration: 97.075917ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Scorer_VariousTypes-slug
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T6ONFEL0oAMECkw=
            X-Amzn-Requestid:
                - 888fedf8-4352-4d03-8133-7e9e0d9bca7f
            X-Bt-Internal-Trace-Id:
                - 6913f7200000000077cd556bafa83245
        status: 200 OK
        code: 200
        duration: 151.56775ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"Type Flexible Scorer","slug":"TestFunctionsAPI_Scorer_VariousTypes-slug","function_type":"scorer","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0,"use_cache":true}},"parser":{"choice_scores":{"bad":0,"good":1},"type":"llm_classifier","use_cot":true},"prompt":{"messages":[{"content":"You are a scorer. Evaluate quality.","role":"system"},{"content":"Input: {{input}}, Output: {{output}}. Choose ''good'' or ''bad''.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Scorer_VariousTypes-slug","name":"Type Flexible Scorer","function_type":"scorer","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0,"use_cache":true}},"parser":{"choice_scores":{"bad":0,"good":1},"type":"llm_classifier","use_cot":true},"prompt":{"messages":[{"content":"You are a scorer. Evaluate quality.","role":"system"},{"content":"Input: {{input}}, Output: {{output}}. Choose ''good'' or ''bad''.","role":"user"}],"type":"chat"}},"id":"56c20314-1a8c-4f70-ba2a-3622b5c55634","created":"2025-11-12T02:55:28.381Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196126724390534"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2e5-lM7o0lmHuxoT9VVc+eMpPjgoxtU"
            X-Amz-Apigw-Id:
                - T6ONGGbqIAMElSw=
            X-Amzn-Requestid:
                - dee845c0-9497-4021-acf0-d928e8039eba
            X-Bt-Internal-Trace-Id:
                - 6913f7200000000077879a86519d1aae
        status: 200 OK
        code: 200
        duration: 309.091833ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Scorer_VariousTypes-slug
        method: GET
      response:
        body: '{"objects":[{"id":"56c20314-1a8c-4f70-ba2a-3622b5c55634","_xact_id":"1000196126724390534","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Type Flexible Scorer","slug":"TestFunctionsAPI_Scorer_VariousTypes-slug","description":null,"created":"2025-11-12T02:55:28.381Z","prompt_data":{"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"bad":0,"good":1}},"prompt":{"type":"chat","messages":[{"role":"system","content":"You are a scorer. Evaluate quality."},{"role":"user","content":"Input: {{input}}, Output: {{output}}. Choose ''good'' or ''bad''."}]},"options":{"model":"gpt-4o-mini","params":{"use_cache":true,"temperature":0}}},"tags":null,"metadata":null,"function_type":"scorer","function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"347-D/Z/TMbpqG0kXLHdDBKNQoDO81s"
            X-Amz-Apigw-Id:
                - T6ONJE4QoAMEvpA=
            X-Amzn-Requestid:
                - c0fc2945-078d-4950-a44a-506058b48566
            X-Bt-Internal-Trace-Id:
                - 6913f72000000000183a4e995310ee2a
        status: 200 OK
        code: 200
        duration: 340.334458ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"input":{"expected":"expected","input":"test input","output":"test output"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/56c20314-1a8c-4f70-ba2a-3622b5c55634/invoke
        method: POST
      response:
        body: '{"name":"Type Flexible Scorer","score":0,"metadata":{"rationale":"The input and output provided are generic and do not provide any specific context or detail. Without additional information about the quality or relevance of the input and output, it is difficult to assess their quality. Therefore, I would categorize this as ''bad'' due to the lack of clarity and substance.","choice":"bad"}}'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "416"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 951605c2-80f2-4404-9f85-e127dc1bbfa9
            X-Bt-Cached:
                - HIT
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999972"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 367.798542ms
[...]
    - id: 6
      request:
        host: api.braintrust.dev
        body: '{"input":{"expected":{"answer":"4"},"input":{"question":"What is 2+2?"},"output":{"answer":"4"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/56c20314-1a8c-4f70-ba2a-3622b5c55634/invoke
        method: POST
      response:
        body: '{"name":"Type Flexible Scorer","score":1,"metadata":{"rationale":"The question asks for a simple arithmetic calculation, and the output correctly provides the answer to that calculation. The answer ''4'' is accurat[...]
[...]
    - id: 8
      request:
        host: api.braintrust.dev
        body: '{"input":{"expected":{"result":"success"},"input":{"key":"value"},"output":{"result":"success"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/56c20314-1a8c-4f70-ba2a-3622b5c55634/invoke
        method: POST
      response:
        body: '{"name":"Type Flexible Scorer","score":1,"metadata":{"rationale":"The input is a valid JSON object with a key-value pair, and the output is also a valid JSON object indicating a successful result. There are no error[...]
    - id: 9
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/56c20314-1a8c-4f70-ba2a-3622b5c55634
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Scorer_VariousTypes-slug","id":"56c20314-1a8c-4f70-ba2a-3622b5c55634","created":"2025-11-12T02:55:29.655Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196126724390993"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12d-01u6qMNgToKiSJgIS8+Yxc9aw1w"
            X-Amz-Apigw-Id:
                - T6ONTH06IAMEgtQ=
            X-Amzn-Requestid:
                - 1692e3a2-b88a-410e-b574-bfcc31bc6964
            X-Bt-Internal-Trace-Id:
                - 6913f721000000003b8c6df0c9742d43
        status: 200 OK
        code: 200
        duration: 277.859083ms
