---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","description":null,"created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fe-rfCZvNlcUhLHZTl4/HHBhOEJFv4"
            X-Amz-Apigw-Id:
                - ZuXyTFmwIAMEuzQ=
            X-Amzn-Requestid:
                - cd462757-3e29-48a4-a2f4-7bf6cc1f55e9
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69a8d3410000000031a3a70e3e47fd68
        status: 200 OK
        code: 200
        duration: 251.65825ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - ZuXyVET4oAMEYtQ=
            X-Amzn-Requestid:
                - a406de4e-b6b2-43f0-ba75-d02b6ebd8b96
            X-Bt-Internal-Trace-Id:
                - 69a8d3410000000004bd74d6d772a7c2
        status: 200 OK
        code: 200
        duration: 396.15425ms
[...]
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-spans","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"1ca73994-ead0-49be-92d4-8f8916477dcd","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-spans-5d390dc0","description":null,"created":"2026-03-05T00:50:10.051Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"17d-cG0lelZAcNlJL1NknFljLpci0GY"
            X-Amz-Apigw-Id:
                - ZuXyXFguoAMEA6A=
            X-Amzn-Requestid:
                - e32ed372-3fa8-4432-96c1-fdeb5d934a54
            X-Bt-Internal-Trace-Id:
                - 69a8d3410000000053849cd8d26108c9
        status: 200 OK
        code: 200
        duration: 214.578166ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"limit":1000,"filter":{"children":[{"left":{"name":["root_span_id"],"op":"ident"},"op":"eq","right":{"op":"literal","value":"1faf54c2b37cad5df7ba1ece3757b934"}},{"children":[{"expr":{"name":["span_attributes","purpose"],"op":"ident"},"op":"isnull"},{"left":{"name":["span_attributes","purpose"],"op":"ident"},"op":"ne","right":{"op":"literal","value":"scorer"}}],"op":"or"}],"op":"and"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment/1ca73994-ead0-49be-92d4-8f8916477dcd/fetch
        method: POST
      response:
        body: '{"events":[]}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - ZuXyZE4GoAMEumw=
            X-Amzn-Requestid:
                - 5498c09d-c1a6-4595-aaba-0f76f4ffb01a
            X-Bt-Api-Duration-Ms:
                - "159"
            X-Bt-Brainstore-Duration-Ms:
                - "54"
            X-Bt-Internal-Trace-Id:
                - 69a8d3420000000006f38e1bc16804fe
        status: 200 OK
        code: 200
        duration: 287.293459ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: '{"global_function":"project_default","function_type":"preprocessor","mode":"json","input":{"trace_ref":{"object_id":"1ca73994-ead0-49be-92d4-8f8916477dcd","object_type":"experiment","root_span_id":"1faf54c2b37cad5df7ba1ece3757b934"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/function/invoke
        method: POST
      response:
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Amzn-Requestid:
                - 9749feee-9c37-4c42-8976-77daa0f5e043
            X-Bt-Function-Creds-Cached:
                - MISS
            X-Bt-Function-Meta-Cached:
                - MISS
        status: 200 OK
        code: 200
        duration: 706.176375ms
[...]
