---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Bt-Found-Existing:
                - "true"
        status: 200 OK
        code: 200
        duration: 149.061458ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestTaskAPI_Get_ReturnsCallableTask-callable
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
        status: 200 OK
        code: 200
        duration: 163.317875ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"Echo Task","slug":"TestTaskAPI_Get_ReturnsCallableTask-callable","function_type":"llm","function_data":{"type":"llm"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestTaskAPI_Get_ReturnsCallableTask-callable","name":"Echo Task","function_type":"llm","function_data":{"type":"llm"},"id":"test-function-id-123","created":"2025-11-12T14:55:11.043Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129554423258"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1a4-p/LuMW2t2Q5oKT1JTGUermq9Nno"
        status: 200 OK
        code: 200
        duration: 333.394792ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestTaskAPI_Get_ReturnsCallableTask-callable
        method: GET
      response:
        body: '{"objects":[{"id":"test-function-id-123","_xact_id":"1000196129554423258","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Echo Task","slug":"TestTaskAPI_Get_ReturnsCallableTask-callable","description":null,"created":"2025-11-12T14:55:11.043Z","prompt_data":null,"tags":null,"metadata":null,"function_type":"llm","function_data":{"type":"llm"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"219-DqGiXG7HU2ejSeDY3sEWVrU2/Uo"
        status: 200 OK
        code: 200
        duration: 332.457208ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"question":"What is 2+2?"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/test-function-id-123/invoke
        method: POST
      response:
        body: '{"answer":"4"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"219-DqGiXG7HU2ejSeDY3sEWVrU2/Uo"
        status: 200 OK
        code: 200
        duration: 332.457208ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/test-function-id-123
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestTaskAPI_Get_ReturnsCallableTask-callable","id":"test-function-id-123","created":"2025-11-12T14:55:11.883Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129554423859"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"118-aHANdQBmMs3BgnUPeEDQxEi4zhY"
        status: 200 OK
        code: 200
        duration: 457.257292ms
