---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"c1357431-5a26-4ef4-baac-c40fc13553ef","org_id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"go-sdk-tests","description":null,"created":"2025-11-04T16:07:47.679Z","deleted_at":null,"user_id":"f2ddc4e6-a51a-4a60-9734-9af4ea05c6ef","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fe-zwAhFWuHmpM5HSpE8rG2KFNGNzI"
            X-Amz-Apigw-Id:
                - bGJ3ZEqTIAMEh9w=
            X-Amzn-Requestid:
                - aec7efd6-bd6a-471f-942e-12eeb24fe9b9
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69cbf02f00000000224cee26d6fb2154
        status: 200 OK
        code: 200
        duration: 264.397677ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5d7c97d7-fef1-4cb7-bda6-7e3756a0ca8e","name":"braintrustdata.com","api_url":"https://api.braintrust.dev","git_metadata":{"fields":["commit","branch","tag","author_name","author_email","commit_message","commit_time","dirty"],"collect":"some"},"is_universal_api":true,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"18b-OPCBBHzVVuCPaglXVbFjmsFzOoE"
            X-Amz-Apigw-Id:
                - bGJ3ZHNXoAMECzA=
            X-Amzn-Requestid:
                - c46b9c94-043a-4cce-a700-4d930e73e55b
            X-Bt-Internal-Trace-Id:
                - 69cbf02f00000000247f8dd332bca120
        status: 200 OK
        code: 200
        duration: 277.481017ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"c1357431-5a26-4ef4-baac-c40fc13553ef","name":"classify","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"332cd801-ab6a-4713-9a46-e71729db8de4","project_id":"c1357431-5a26-4ef4-baac-c40fc13553ef","name":"classify","description":null,"created":"2026-03-31T16:02:55.305Z","repo_info":null,"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"parameters_id":null,"parameters_version":null,"public":false,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1a3-O6UJpZ1ut7UppcvvRlH5NWXjJxM"
            X-Amz-Apigw-Id:
                - bGJ3bGxWIAMEOUw=
            X-Amzn-Requestid:
                - 335e5011-dad5-4730-ba33-c0c00a54838f
            X-Bt-Internal-Trace-Id:
                - 69cbf02f000000006bc6baafdb05fbb6
        status: 200 OK
        code: 200
        duration: 162.639032ms
