---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T74SFEj6oAMEvUw=
            X-Amzn-Requestid:
                - 7bfaca9c-9d77-431d-9b2e-90cb136dcbaf
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6914a0d900000000789f58b6ded56233
        status: 200 OK
        code: 200
        duration: 201.766792ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Task_StructInput-slug
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T74SHHwCIAMEmtQ=
            X-Amzn-Requestid:
                - ef8904f1-6a24-4e8b-b8a2-a36a72bb5982
            X-Bt-Internal-Trace-Id:
                - 6914a0d9000000004bcb98363c43e4ce
        status: 200 OK
        code: 200
        duration: 171.554916ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"Struct Math Task","slug":"TestFunctionsAPI_Task_StructInput-slug","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You return JSON with the answer field containing the numeric result.","role":"system"},{"content":"Calculate {{input.operation}} of {{input.a}} and {{input.b}}. Return ONLY a JSON object like {\"answer\": 5}. No other text.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Task_StructInput-slug","name":"Struct Math Task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You return JSON with the answer field containing the numeric result.","role":"system"},{"content":"Calculate {{input.operation}} of {{input.a}} and {{input.b}}. Return ONLY a JSON object like {\"answer\": 5}. No other text.","role":"user"}],"type":"chat"}},"id":"98d16dff-eaa6-49db-bb8a-e5e3632f4ebe","created":"2025-11-12T14:59:38.190Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129571910296"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2f8-8R74G9B3mQ3ybL+jLP3r+t7qr/0"
            X-Amz-Apigw-Id:
                - T74SIHDGIAMETQQ=
            X-Amzn-Requestid:
                - 58ad615d-9803-44bc-826a-1720cd06d8b8
            X-Bt-Internal-Trace-Id:
                - 6914a0da000000006c1629ffd57a5795
        status: 200 OK
        code: 200
        duration: 322.552416ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Task_StructInput-slug
        method: GET
      response:
        body: '{"objects":[{"id":"98d16dff-eaa6-49db-bb8a-e5e3632f4ebe","_xact_id":"1000196129571910296","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Struct Math Task","slug":"TestFunctionsAPI_Task_StructInput-slug","description":null,"created":"2025-11-12T14:59:38.190Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You return JSON with the answer field containing the numeric result."},{"role":"user","content":"Calculate {{input.operation}} of {{input.a}} and {{input.b}}. Return ONLY a JSON object like {\"answer\": 5}. No other text."}]},"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"temperature":0,"response_format":{"type":"json_object"}}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"36f-Adc473jJlixo1XbQyva5M4cHVY4"
            X-Amz-Apigw-Id:
                - T74SLFnHIAMEHhw=
            X-Amzn-Requestid:
                - 7e613193-adbf-474c-92e4-d02353a941bf
            X-Bt-Internal-Trace-Id:
                - 6914a0da000000004c2d98e3fb3258a9
        status: 200 OK
        code: 200
        duration: 379.650208ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"input":{"operation":"sum","a":2,"b":3}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/98d16dff-eaa6-49db-bb8a-e5e3632f4ebe/invoke
        method: POST
      response:
        body: '{"answer":5}'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "304"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 73527770-4382-4b7f-af45-731562f18878
            X-Bt-Cached:
                - HIT
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999957"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 473.308625ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/98d16dff-eaa6-49db-bb8a-e5e3632f4ebe
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Task_StructInput-slug","id":"98d16dff-eaa6-49db-bb8a-e5e3632f4ebe","created":"2025-11-12T14:59:39.365Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129571976612"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12a-HYpeUgjyTMWBEl+pnDLnAgqo4lk"
            X-Amz-Apigw-Id:
                - T74SUF1KoAMEGQA=
            X-Amzn-Requestid:
                - 92306f4d-cd2e-4b28-8f30-6f5f44c1e84b
            X-Bt-Internal-Trace-Id:
                - 6914a0db000000003737c7e33f270cdb
        status: 200 OK
        code: 200
        duration: 345.399167ms
