---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73orE1OIAMElqA=
            X-Amzn-Requestid:
                - de96f511-b734-4afe-b3fd-db5d2dfbcd46
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fd0000000002a421c8fda746f25
        status: 200 OK
        code: 200
        duration: 114.575834ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query","description":"Test dataset for DatasetAPI.Query"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"2083aa94-f61e-4d33-9a9d-646be0061aff","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query","description":null,"created":"2025-11-12T02:58:27.264Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"108-Wi0ov5bEB6ouvHCE+7zu2X7/zPI"
            X-Amz-Apigw-Id:
                - T73osHleoAMED7g=
            X-Amzn-Requestid:
                - 60f2bc56-7ab8-4419-9302-4cf0aacf9a50
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fd00000000074967d3a617a9474
        status: 200 OK
        code: 200
        duration: 142.351625ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"question":"Test question 1"},"expected":{"answer":"Test answer 1"}},{"input":{"question":"Test question 2"},"expected":{"answer":"Test answer 2"}},{"input":{"question":"Test question 3"},"expected":{"answer":"Test answer 3"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/2083aa94-f61e-4d33-9a9d-646be0061aff/insert
        method: POST
      response:
        body: '{"row_ids":["40645eb0-af89-4827-8653-0f5e717fa05c","784665d4-9611-44b5-8799-511f7beed20b","728fd839-f8b8-4fa9-8f30-d1f500adee87"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"82-GofSktvcMokQwAUUReJAOZis85w"
            X-Amz-Apigw-Id:
                - T73otFChoAMEb9g=
            X-Amzn-Requestid:
                - e11dc990-73fd-4b76-a0eb-e8a938e013f8
            X-Bt-Internal-Trace-Id:
                - 69149fd100000000588998c941a36547
        status: 200 OK
        code: 200
        duration: 267.197625ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"limit":2}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/2083aa94-f61e-4d33-9a9d-646be0061aff/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07571852597331755010","_xact_id":"1000196129554555796","created":"2025-11-12T14:55:13.014Z","dataset_id":"2083aa94-f61e-4d33-9a9d-646be0061aff","expected":{"answer":"Test answer 3"},"id":"728fd839-f8b8-4fa9-8f30-d1f500adee87","input":{"question":"Test question 3"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"41495113-13d8-43d3-8ca8-890fed134a90","span_id":"41495113-13d8-43d3-8ca8-890fed134a90","tags":null},{"_pagination_key":"p07571852597331755009","_xact_id":"1000196129554555796","created":"2025-11-12T14:55:13.014Z","dataset_id":"2083aa94-f61e-4d33-9a9d-646be0061aff","expected":{"answer":"Test answer 2"},"id":"784665d4-9611-44b5-8799-511f7beed20b","input":{"question":"Test question 2"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"b5395b9e-70e2-4bcb-815b-cccc86fb729f","span_id":"b5395b9e-70e2-4bcb-815b-cccc86fb729f","tags":null}],"cursor":"aRSf0eOUAAE"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - T73owEV2oAMEo8g=
            X-Amzn-Requestid:
                - 809bcc3d-66ea-4f06-a083-11de8bd411d8
            X-Bt-Cursor:
                - aRSf0eOUAAE
            X-Bt-Internal-Trace-Id:
                - 69149fd10000000070cf24dc8bb4f309
        status: 200 OK
        code: 200
        duration: 349.089708ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset/2083aa94-f61e-4d33-9a9d-646be0061aff
        method: DELETE
      response:
        body: '{"id":"2083aa94-f61e-4d33-9a9d-646be0061aff","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query","description":null,"created":"2025-11-12T02:58:27.264Z","deleted_at":"2025-11-12T14:55:13.886Z","user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"11e-a2vbIbrspI3ldQP3xpt1px614Oc"
            X-Amz-Apigw-Id:
                - T73o0FF6IAMEkuQ=
            X-Amzn-Requestid:
                - d4f5eb53-ba23-48be-ad64-4a60dad95527
            X-Bt-Internal-Trace-Id:
                - 69149fd1000000007c017da685efb45d
        status: 200 OK
        code: 200
        duration: 316.591417ms
