---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73qvEeJIAMER8g=
            X-Amzn-Requestid:
                - 3719e29a-86ea-4e8b-94b9-982864cd8f72
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fde000000005b70fd017498fbd4
        status: 200 OK
        code: 200
        duration: 161.662167ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - T73qvFO3IAMEodw=
            X-Amzn-Requestid:
                - e3e7feb1-c53c-430a-84a5-149a99c37574
            X-Bt-Internal-Trace-Id:
                - 69149fde0000000076e71096d0678e1f
        status: 200 OK
        code: 200
        duration: 181.231125ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestEval_Integration_StringToStruct-task
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T73qxFWioAMEUdQ=
            X-Amzn-Requestid:
                - 9ee2bd33-7352-425c-8f70-1a200d4fac1f
            X-Bt-Internal-Trace-Id:
                - 69149fde0000000030ffc8acb2c738a2
        status: 200 OK
        code: 200
        duration: 204.519417ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"JSON Answer Prompt","slug":"TestEval_Integration_StringToStruct-task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"temperature":0}},"prompt":{"messages":[{"content":"You are a helpful assistant that returns JSON.","role":"system"},{"content":"Return ONLY a JSON object (no other text) with an \"answer\" field containing the answer as a STRING. Question: {{input.question}}. Example: {\"answer\": \"4\"}","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestEval_Integration_StringToStruct-task","name":"JSON Answer Prompt","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"temperature":0}},"prompt":{"messages":[{"content":"You are a helpful assistant that returns JSON.","role":"system"},{"content":"Return ONLY a JSON object (no other text) with an \"answer\" field containing the answer as a STRING. Question: {{input.question}}. Example: {\"answer\": \"4\"}","role":"user"}],"type":"chat"}},"id":"0f345f82-7108-432f-bce9-e5e2b7b7fb41","created":"2025-11-12T14:55:26.437Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129555351915"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2e1-lo5QnFFmFdK4C1T5gbqBvWnxbPg"
            X-Amz-Apigw-Id:
                - T73qzFDioAMEJ4A=
            X-Amzn-Requestid:
                - 8cff2491-5b30-4581-804b-2a9676619ff2
            X-Bt-Internal-Trace-Id:
                - 69149fde000000006ad24d7b5870151a
        status: 200 OK
        code: 200
        duration: 292.036791ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestEval_Integration_StringToStruct-task
        method: GET
      response:
        body: '{"Code":"TooManyRequestsError","Message":"Too many requests. Source: checkBtqlOrgRateLimit. Rate limit: 20 requests per 60 seconds. Consumed: 24. Retry after 44.481 seconds. Please contact us at support@braintrust.dev to discuss remediation strategies. [user_email=matt@braintrustdata.com] [user_org=matt-test-org] [timestamp=1762959326.731]","InternalTraceId":"69149fde0000000015dd413c3f599d35","Path":"/v1/function","Service":"api"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1b2-Oh2iWTru0b0254kovRZDw5JvTc0"
            Retry-After:
                - "44.481"
            X-Amz-Apigw-Id:
                - T73q2GsWoAMEiOg=
            X-Amzn-Requestid:
                - b66235ce-da82-4af0-8311-884092777be3
            X-Bt-Internal-Trace-Id:
                - 69149fde0000000015dd413c3f599d35
        status: 429 Too Many Requests
        code: 429
        duration: 137.11675ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/0f345f82-7108-432f-bce9-e5e2b7b7fb41
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestEval_Integration_StringToStruct-task","id":"0f345f82-7108-432f-bce9-e5e2b7b7fb41","created":"2025-11-12T14:55:26.864Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129555352214"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12c-RBH+bqkp6a4rbUWy2Fbj6OoWuTg"
            X-Amz-Apigw-Id:
                - T73q3EYzoAMEqsQ=
            X-Amzn-Requestid:
                - b40bd35e-ac6e-40e7-9595-cec413865634
            X-Bt-Internal-Trace-Id:
                - 69149fde000000003086a25a7637e004
        status: 200 OK
        code: 200
        duration: 274.647ms
