---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oWHQMIAMEZFg=
            X-Amzn-Requestid:
                - a601e83c-5808-4602-9faf-eb429cf95271
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000006726a69811da271e
        status: 200 OK
        code: 200
        duration: 149.061458ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestTaskAPI_Get-slug
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T73oXHl9oAMEmig=
            X-Amzn-Requestid:
                - 650735d3-400e-4ea7-a932-8993d128316b
            X-Bt-Internal-Trace-Id:
                - 69149fce000000001415ad0ca8171c20
        status: 200 OK
        code: 200
        duration: 163.317875ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"Test Task","slug":"TestTaskAPI_Get-slug","function_type":"prompt","function_data":{"prompt":{"messages":[{"content":"Test prompt","role":"user"}],"type":"completion"},"type":"prompt"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestTaskAPI_Get-slug","name":"Test Task","function_type":"prompt","function_data":{"prompt":{"messages":[{"content":"Test prompt","role":"user"}],"type":"completion"},"type":"prompt"},"id":"ac12f00a-892d-420d-8aa2-2a0160e9bc47","created":"2025-11-12T14:55:11.043Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129554423258"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1a4-p/LuMW2t2Q5oKT1JTGUermq9Nno"
            X-Amz-Apigw-Id:
                - T73oZHRuoAMEZFg=
            X-Amzn-Requestid:
                - 31d9b0bb-6b0c-45f7-bcfd-462f77bca0cb
            X-Bt-Internal-Trace-Id:
                - 69149fce000000006e82836abd965700
        status: 200 OK
        code: 200
        duration: 333.394792ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestTaskAPI_Get-slug
        method: GET
      response:
        body: '{"objects":[{"id":"ac12f00a-892d-420d-8aa2-2a0160e9bc47","_xact_id":"1000196129554423258","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Test Task","slug":"TestTaskAPI_Get-slug","description":null,"created":"2025-11-12T14:55:11.043Z","prompt_data":null,"tags":null,"metadata":null,"function_type":"prompt","function_data":{"type":"prompt","prompt":{"type":"completion","messages":[{"role":"user","content":"Test prompt"}]}},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"219-DqGiXG7HU2ejSeDY3sEWVrU2/Uo"
            X-Amz-Apigw-Id:
                - T73ocHumIAMEoUQ=
            X-Amzn-Requestid:
                - 71aa244e-a25a-437b-b4a5-7d86c0663c93
            X-Bt-Internal-Trace-Id:
                - 69149fcf0000000045c4b93ee48f7956
        status: 200 OK
        code: 200
        duration: 332.457208ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?project_name=go-sdk-tests&slug=TestTaskAPI_Get-slug
        method: GET
      response:
        body: '{"objects":[{"id":"ac12f00a-892d-420d-8aa2-2a0160e9bc47","_xact_id":"1000196129554423258","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Test Task","slug":"TestTaskAPI_Get-slug","description":null,"created":"2025-11-12T14:55:11.043Z","prompt_data":null,"tags":null,"metadata":null,"function_type":"prompt","function_data":{"type":"prompt","prompt":{"type":"completion","messages":[{"role":"user","content":"Test prompt"}]}},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"219-DqGiXG7HU2ejSeDY3sEWVrU2/Uo"
            X-Amz-Apigw-Id:
                - T73ofGsKIAMECdg=
            X-Amzn-Requestid:
                - 96c83f50-eaab-42bc-9dd9-82dfde2424ce
            X-Bt-Internal-Trace-Id:
                - 69149fcf000000007144c8d99a806fd9
        status: 200 OK
        code: 200
        duration: 45.44375ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/ac12f00a-892d-420d-8aa2-2a0160e9bc47
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestTaskAPI_Get-slug","id":"ac12f00a-892d-420d-8aa2-2a0160e9bc47","created":"2025-11-12T14:55:11.883Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129554423859"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"118-aHANdQBmMs3BgnUPeEDQxEi4zhY"
            X-Amz-Apigw-Id:
                - T73ogFHLIAMEREg=
            X-Amzn-Requestid:
                - 2097d25a-b443-4208-bfff-6b4c6e978ec1
            X-Bt-Internal-Trace-Id:
                - 69149fcf00000000239345a4057c351f
        status: 200 OK
        code: 200
        duration: 457.257292ms
[...]
