---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T6OMzEteoAMEvpA=
            X-Amzn-Requestid:
                - 1df3e55e-ca28-41ae-b06f-e47bbbeeede1
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6913f71e00000000619057424922c263
        status: 200 OK
        code: 200
        duration: 194.517416ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - T6OMzG1zIAMEW0Q=
            X-Amzn-Requestid:
                - f6b51116-2a1a-431e-9ca3-559aeca9a076
            X-Bt-Internal-Trace-Id:
                - 6913f71e0000000076b44d0aa07014b2
        status: 200 OK
        code: 200
        duration: 253.584542ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestEval_Integration-task
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T6OM1ERwIAMEjEg=
            X-Amzn-Requestid:
                - 661566ad-a90d-4c5b-bd24-d4496bdc7ae3
            X-Bt-Internal-Trace-Id:
                - 6913f71e000000007c561b2ab57b05cd
        status: 200 OK
        code: 200
        duration: 201.01075ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"Test Echo Task","slug":"TestEval_Integration-task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0,"use_cache":true}},"prompt":{"messages":[{"content":"Say hello to {{input}}","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestEval_Integration-task","name":"Test Echo Task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0,"use_cache":true}},"prompt":{"messages":[{"content":"Say hello to {{input}}","role":"user"}],"type":"chat"}},"id":"c971c46b-07c8-4aa9-a5bb-72b4b34282f2","created":"2025-11-12T02:55:26.827Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196126724258880"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1f8-zla1hjxiMd88xwbA8xj7absYIa4"
            X-Amz-Apigw-Id:
                - T6OM2Hp-oAMESMA=
            X-Amzn-Requestid:
                - 6e1a2bf6-5224-4651-a799-122bf79c713f
            X-Bt-Internal-Trace-Id:
                - 6913f71e00000000183355beab4af734
        status: 200 OK
        code: 200
        duration: 308.970667ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestEval_Integration-task
        method: GET
      response:
        body: '{"objects":[{"id":"c971c46b-07c8-4aa9-a5bb-72b4b34282f2","_xact_id":"1000196126724258880","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Test Echo Task","slug":"TestEval_Integration-task","description":null,"created":"2025-11-12T02:55:26.827Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Say hello to {{input}}"}]},"options":{"model":"gpt-4o-mini","params":{"use_cache":true,"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"26f-d/gc0so+rqzJuoQf836oha4dR3Q"
            X-Amz-Apigw-Id:
                - T6OM6FiZoAMEV6Q=
            X-Amzn-Requestid:
                - b27f2c01-3e31-4718-b2cc-4ee91fce3598
            X-Bt-Internal-Trace-Id:
                - 6913f71f0000000050cd052b72047bd5
        status: 200 OK
        code: 200
        duration: 393.605458ms
[...]
    - id: 7
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"5ebf9406-0e58-4629-b49e-b6c4c952e362","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-9a17f076","description":null,"created":"2025-11-12T02:55:27.710Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"182-xd75uSzE8BTQFAFSaRpoazMwUQc"
            X-Amz-Apigw-Id:
                - T6ONAFr9oAMEC5g=
            X-Amzn-Requestid:
                - 3635d02e-54e9-4577-9bea-7c8efb7a32ca
            X-Bt-Internal-Trace-Id:
                - 6913f71f0000000010e2682aabe4093c
        status: 200 OK
        code: 200
        duration: 163.998458ms
    - id: 8
      request:
        host: api.braintrust.dev
        body: '{"input":"hello"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/c971c46b-07c8-4aa9-a5bb-72b4b34282f2/invoke
        method: POST
      response:
        body: '"Hello, hello! How can I assist you today?"'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "313"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 42a68a34-1f29-4b6a-9cd1-a1d0d14154c7
            X-Bt-Cached:
                - HIT
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999992"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 552.663416ms
[...]
    - id: 10
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/c971c46b-07c8-4aa9-a5bb-72b4b34282f2
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestEval_Integration-task","id":"c971c46b-07c8-4aa9-a5bb-72b4b34282f2","created":"2025-11-12T02:55:28.505Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196126724390574"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"11d-WpIzhmy2im5r8HexAQRn9j1QbL0"
            X-Amz-Apigw-Id:
                - T6ONIFRIIAMEkuQ=
            X-Amzn-Requestid:
                - 70ccc9b8-1ea4-4709-b443-3d25d9a2dd1c
            X-Bt-Internal-Trace-Id:
                - 6913f72000000000513ff9367f2491fe
        status: 200 OK
        code: 200
        duration: 280.420666ms
