---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73onHcSoAMEQYQ=
            X-Amzn-Requestid:
                - 71c09fdb-cad7-4c9d-9c00-af860ead7b06
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fd0000000003d2c35e7c42a001f
        status: 200 OK
        code: 200
        duration: 203.063583ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-fields","description":"Test dataset for verifying ID, XactID, Created fields"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"4d376202-4de2-46e9-956a-4939eacf5512","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-fields","description":null,"created":"2025-11-12T02:58:27.326Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"109-P4jm7oHa6bDYzeqFWJX1MTMnieE"
            X-Amz-Apigw-Id:
                - T73opG2hIAMEpxw=
            X-Amzn-Requestid:
                - 505caf5c-60c6-4fcb-8a3f-e75fc500df60
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fd0000000002e53443aaf6f75bf
        status: 200 OK
        code: 200
        duration: 182.747542ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"question":"What is 2+2?"},"expected":{"answer":"4"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/4d376202-4de2-46e9-956a-4939eacf5512/insert
        method: POST
      response:
        body: '{"row_ids":["b398f6a9-af4c-471e-a6ac-76711367026d"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"34-f/knusfbq2JjEeK+q7JluI+uOw8"
            X-Amz-Apigw-Id:
                - T73orHihoAMEPzg=
            X-Amzn-Requestid:
                - c935042b-01ed-4470-a044-959ff1a46a89
            X-Bt-Internal-Trace-Id:
                - 69149fd0000000007a9151aca9501c47
        status: 200 OK
        code: 200
        duration: 309.404917ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"limit":100}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/4d376202-4de2-46e9-956a-4939eacf5512/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07571852593025318912","_xact_id":"1000196129554490085","created":"2025-11-12T14:55:12.794Z","dataset_id":"4d376202-4de2-46e9-956a-4939eacf5512","expected":{"answer":"4"},"id":"b398f6a9-af4c-471e-a6ac-76711367026d","input":{"question":"What is 2+2?"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"17ed6e41-936b-463d-9692-bcb39f4786f4","span_id":"17ed6e41-936b-463d-9692-bcb39f4786f4","tags":null},{"_pagination_key":"p07571852588647645184","_xact_id":"1000196129554423287","created":"2025-11-12T14:55:10.872Z","dataset_id":"4d376202-4de2-46e9-956a-4939eacf5512","expected":{"answer":"42","confidence":0.95},"id":"45a7ae87-1f38-4ee7-937d-6f6804d7bbce","input":{"context":"philosophical","question":"What is the meaning of life?"},"is_root":true,"metadata":{"model":"test-model","source":"test"},"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"50934797-1369-4980-81d4-1525c3d6cf3d","span_id":"50934797-1369-4980-81d4-1525c3d6cf3d","tags":["philosophy","test","integration"]},{"_pagination_key":"p07571667888174202880","_xact_id":"1000196126736117723","created":"2025-11-12T02:58:27.385Z","dataset_id":"4d376202-4de2-46e9-956a-4939eacf5512","expected":{"answer":"42","confidence":0.95},"id":"e4269e43-cf91-4168-adf1-cc67f4e4d607","input":{"context":"philosophical","question":"What is the meaning of life?"},"is_root":true,"metadata":{"model":"test-model","source":"test"},"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"621365aa-6b04-4eb7-9c73-7922ccfb1fc5","span_id":"621365aa-6b04-4eb7-9c73-7922ccfb1fc5","tags":["philosophy","test","integration"]}],"cursor":"aRP30+/bAAA"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - T73ouF42oAMEiRg=
            X-Amzn-Requestid:
                - 5ff1fef3-b014-4868-bd4e-6f197d989b93
            X-Bt-Cursor:
                - aRP30+/bAAA
            X-Bt-Internal-Trace-Id:
                - 69149fd1000000001acdb97b9834ec53
        status: 200 OK
        code: 200
        duration: 276.676834ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset/4d376202-4de2-46e9-956a-4939eacf5512
        method: DELETE
      response:
        body: '{"id":"4d376202-4de2-46e9-956a-4939eacf5512","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-fields","description":null,"created":"2025-11-12T02:58:27.326Z","deleted_at":"2025-11-12T14:55:13.450Z","user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"11f-Sf/w8N6dpro9G99e2xdIl6TN0SQ"
            X-Amz-Apigw-Id:
                - T73oxGbZoAMEHeQ=
            X-Amzn-Requestid:
                - faa39315-6fa7-4c59-9176-b17806e4d5d2
            X-Bt-Internal-Trace-Id:
                - 69149fd100000000688cd95cf2e90b47
        status: 200 OK
        code: 200
        duration: 140.579125ms
