---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - T73oWGZ7IAMEMqw=
            X-Amzn-Requestid:
                - ff616a55-ce52-45ce-83cd-3d22972f7834
            X-Bt-Internal-Trace-Id:
                - 69149fce000000001f96a828ec094f89
        status: 200 OK
        code: 200
        duration: 158.536875ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73o3HSboAMEoiw=
            X-Amzn-Requestid:
                - 93241e1e-ab60-45ab-bb71-91055b4eaad7
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fd1000000002716d0e93afada6a
        status: 200 OK
        code: 200
        duration: 205.798458ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment","ensure_new":true,"metadata":{"model":"gpt-4","temperature":0.7,"version":"1.0.0"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"6f09f34b-93f6-4de2-9e5e-729fa963b4de","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-a907cabb","description":null,"created":"2025-11-12T14:55:14.280Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":{"model":"gpt-4","version":"1.0.0","temperature":0.7},"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1b3-whtzOHfZvZkgZgOPAReaD4wn/sg"
            X-Amz-Apigw-Id:
                - T73o5FDtoAMEZww=
            X-Amzn-Requestid:
                - 30c9084d-e575-4d0d-8940-a217e7a8d78b
            X-Bt-Internal-Trace-Id:
                - 69149fd20000000007212b6950c88010
        status: 200 OK
        code: 200
        duration: 166.364375ms
