---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - T73oWFOloAMEBpQ=
            X-Amzn-Requestid:
                - 131ff20a-1bce-486e-b649-1a5610a9ca4a
            X-Bt-Internal-Trace-Id:
                - 69149fce000000003b5fe10ff4d7b051
        status: 200 OK
        code: 200
        duration: 174.978375ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73ozGQ_IAMEiKw=
            X-Amzn-Requestid:
                - 8a84e010-e8d6-4204-a81e-519fe36511b3
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fd1000000001c00a248fe1249ea
        status: 200 OK
        code: 200
        duration: 168.314584ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment","ensure_new":true,"tags":["production","baseline","v2.0"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"ff349687-6f08-4ed5-b155-c9fed7661a7e","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-fc0a38ba","description":null,"created":"2025-11-12T14:55:13.883Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":["production","baseline","v2.0"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"19e-awLcEV8qyN5xlRg7xYEat65Wgi8"
            X-Amz-Apigw-Id:
                - T73o0EmyoAMEqaQ=
            X-Amzn-Requestid:
                - 53e9c93a-bc4e-46c7-9e0a-70088a0efeaf
            X-Bt-Internal-Trace-Id:
                - 69149fd1000000003ff3497bc0ca3bc3
        status: 200 OK
        code: 200
        duration: 293.785167ms
