---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oWHGPoAMEo9g=
            X-Amzn-Requestid:
                - 56195b83-b7a1-4c45-baed-0977cb6e1e44
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000013d637d1b19e480a
        status: 200 OK
        code: 200
        duration: 161.796083ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - T73oWHrkoAMEuvw=
            X-Amzn-Requestid:
                - 795f5d71-0b6f-447a-b0f3-8f4148b465e0
            X-Bt-Internal-Trace-Id:
                - 69149fce000000004ce10f17775296aa
        status: 200 OK
        code: 200
        duration: 200.679042ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-task
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T73oXFDCoAMEmWw=
            X-Amzn-Requestid:
                - 449af7f6-6ef6-489e-91fa-dc66d453b19d
            X-Bt-Internal-Trace-Id:
                - 69149fce000000007c7a536e01e84661
        status: 200 OK
        code: 200
        duration: 185.41825ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"E2E Task","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":100,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You answer questions with JSON. Return ONLY the JSON object, no markdown, no code blocks, no backticks.","role":"system"},{"content":"Question: {{input.question}}. Return ONLY JSON like {\"answer\": \"your answer\", \"confidence\": 0.9}. No markdown formatting.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-task","name":"E2E Task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":100,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You answer questions with JSON. Return ONLY the JSON object, no markdown, no code blocks, no backticks.","role":"system"},{"content":"Question: {{input.question}}. Return ONLY JSON like {\"answer\": \"your answer\", \"confidence\": 0.9}. No markdown formatting.","role":"user"}],"type":"chat"}},"id":"57437580-50d5-41dd-aea5-7206dfc1695f","created":"2025-11-12T14:55:11.093Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129554423300"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"31a-NvKY6SIyPD2eo7dMrvgb+kxSwko"
            X-Amz-Apigw-Id:
                - T73oZEoUoAMEfkA=
            X-Amzn-Requestid:
                - 9fa85cee-539d-405a-9046-f59fbe1abd7f
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000049d7094f35b4a36d
        status: 200 OK
        code: 200
        duration: 349.337458ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-scorer
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T73ocEzuIAMEHjQ=
            X-Amzn-Requestid:
                - 9fd3033c-b6bc-4c17-b47c-c18e3ed59b59
            X-Bt-Internal-Trace-Id:
                - 69149fcf00000000637c6b6f8b74e719
        status: 200 OK
        code: 200
        duration: 138.395125ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"E2E Scorer","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-scorer","function_type":"scorer","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"parser":{"choice_scores":{"correct":1,"incorrect":0},"type":"llm_classifier","use_cot":false},"prompt":{"messages":[{"content":"You are a scorer.","role":"system"},{"content":"Is the output.answer field non-empty? Choose ''correct'' if yes, ''incorrect'' if no.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_[...]
    - id: 6
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-task
        method: GET
      response:
        body: '{"objects":[{"id":"57437580-50d5-41dd-aea5-7206dfc1695f","_xact_id":"1000196129554423300","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"E2E Task","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-task","description":null,"created":"2025-11-12T14:55:11.093Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You answer questions with JSON. Return ONLY the JSON object, no markdown, no code blocks, no backticks."},{"role":"user","content":"Question: {{input.question}}. Return ONLY JSON like {\"answer\": \"your answer\", \"confidence\": 0.9}. No markdown formatting."}]},"options":{"model":"gpt-4o-mini","params":{"max_tokens":100,"temperature":0,"response_format":{"type":"json_object"}}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"391-748X2yL4AiaCPzHpNgy+c1THMzg"
            X-Amz-Apigw-Id:
                - T73ohEtWoAMEfkA=
            X-Amzn-Requestid:
                - 3c9ea379-63b2-4076-8e91-7410ea8d7948
            X-Bt-Internal-Trace-Id:
                - 69149fcf000000000636ef1355bc8b73
        status: 200 OK
        code: 200
        duration: 408.493667ms
    - id: 7
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-scorer
        method: GET
      response:
        body: '{"Code":"TooManyRequestsError","Message":"Too many requests. Source: checkBtqlOrgRateLimit. Rate limit: 20 requests per 60 seconds. Consumed: 21. Retry after 55.625 seconds. Please contact us at support@braintrust.dev to discuss remediation strategies. [user_email=matt@braintrustdata.com] [user_org=matt-test-org] [timestamp=1762959315.587]","InternalTraceId":"69149fd000000000332eb11b7e4b660b","Path":"/v1/function","Service":"api"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1b2-a/vNU2yRlKzFONisXmgmBcHmdvM"
            Retry-After:
                - "55.625"
            X-Amz-Apigw-Id:
                - T73olGHXIAMEkbw=
            X-Amzn-Requestid:
                - 46d06c0d-3d52-4844-8582-8f40ad742fb4
            X-Bt-Internal-Trace-Id:
                - 69149fd000000000332eb11b7e4b660b
        status: 429 Too Many Requests
        code: 429
        duration: 3.466937417s
    - id: 8
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/9b72d6a8-c05e-49e6-920c-e9fa1c8896c3
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-scorer","id":"9b72d6a8-c05e-49e6-920c-e9fa1c8896c3","created":"2025-11-12T14:55:15.720Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129554688984"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12f-alhMfk6r1mjC4d5cMlFEazt7zcg"
            X-Amz-Apigw-Id:
                - T73pIGzvIAMEArw=
            X-Amzn-Requestid:
                - e18bdac1-45ca-4540-ab9f-4c6776149c49
            X-Bt-Internal-Trace-Id:
                - 69149fd3000000003d521525b1125a5e
        status: 200 OK
        code: 200
        duration: 310.40025ms
[...]
