---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Bt-Found-Existing:
                - "true"
        status: 200 OK
        code: 200
        duration: 149.061458ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestScorerAPI_OutputParsing-slug
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 163.317875ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"Simple Scorer","slug":"TestScorerAPI_OutputParsing-slug","function_type":"scorer","function_data":{"type":"prompt"},"prompt_data":{"parser":{"type":"llm_classifier","use_cot":false,"choice_scores":{"bad":0,"good":1}},"prompt":{"type":"chat","messages":[{"role":"system","content":"You are a scorer."},{"role":"user","content":"Choose ''good'' if output matches expected, ''bad'' otherwise."}]},"options":{"model":"gpt-4o-mini","params":{"use_cache":true,"temperature":0}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestScorerAPI_OutputParsing-slug","name":"Simple Scorer","function_type":"scorer","function_data":{"type":"prompt"},"id":"scorer-id-123","created":"2025-11-12T14:55:11.043Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129554423258"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 333.394792ms
[...]
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"input":{"input":{"question":"What is 2+2?"},"output":{"answer":"4"},"expected":{"answer":"4"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/scorer-id-123/invoke
        method: POST
      response:
        body: "0.9"
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 550.123456ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestScorerAPI_OutputParsing-slug2
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 163.317875ms
    - id: 6
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"Detailed Scorer","slug":"TestScorerAPI_OutputParsing-slug2","function_type":"scorer","function_data":{"type":"prompt"},"prompt_data":{"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"incorrect":0,"correct":1}},"prompt":{"type":"chat","messages":[{"role":"system","content":"You are a detailed scorer."},{"role":"user","content":"Evaluate if the output is correct. Return ''correct'' or ''incorrect''."}]},"options":{"model":"gpt-4o-mini","params":{"use_cache":true,"temperature":0}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestScorerAPI_OutputParsing-slug2","name":"Detailed Scorer","function_type":"scorer","function_data":{"type":"prompt"},"id":"scorer-id-456","created":"2025-11-12T14:55:11.043Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129554423258"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 333.394792ms
[...]
    - id: 8
      request:
        host: api.braintrust.dev
        body: '{"input":{"input":{"question":"What is 2+2?"},"output":{"answer":"4"},"expected":{"answer":"4"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/scorer-id-456/invoke
        method: POST
      response:
        body: '{"name":"Detailed Scorer","score":1.0,"metadata":{"reasoning":"The output matches the expected value"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 650.987654ms
    - id: 9
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/scorer-id-123
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestScorerAPI_OutputParsing-slug","id":"scorer-id-123","created":"2025-11-12T14:55:11.883Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129554423859"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 457.257292ms
[...]
