---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - ZuXs7GIdIAMEchQ=
            X-Amzn-Requestid:
                - ce478b10-34cf-436c-a070-693a814104c0
            X-Bt-Internal-Trace-Id:
                - 69a8d31f000000000a7548177a572e2c
        status: 200 OK
        code: 200
        duration: 380.176208ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","description":null,"created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fe-rfCZvNlcUhLHZTl4/HHBhOEJFv4"
            X-Amz-Apigw-Id:
                - ZuXs7HlSIAMEVig=
            X-Amzn-Requestid:
                - d06d5ac0-e676-4987-a21f-fccc52a4af3a
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69a8d31f000000003c1b407edee5ddc4
        status: 200 OK
        code: 200
        duration: 400.695125ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-task
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - ZuXs9FUboAMEGgA=
            X-Amzn-Requestid:
                - 76ec94a1-b2ed-451b-94d5-457c1f33d631
            X-Bt-Internal-Trace-Id:
                - 69a8d31f0000000055a5e274c9362d08
        status: 200 OK
        code: 200
        duration: 255.454416ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"E2E Task","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":100,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You answer questions with JSON. Return ONLY the JSON object, no markdown, no code blocks, no backticks.","role":"system"},{"content":"Question: {{input.question}}. Return ONLY JSON like {\"answer\": \"your answer\", \"confidence\": 0.9}. No markdown formatting.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-task","name":"E2E Task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":100,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You answer questions with JSON. Return ONLY the JSON object, no markdown, no code blocks, no backticks.","role":"system"},{"content":"Question: {{input.question}}. Return ONLY JSON like {\"answer\": \"your answer\", \"confidence\": 0.9}. No markdown formatting.","role":"user"}],"type":"chat"}},"id":"aeb4d39b-f38b-4a20-98d3-6e5adfe64af6","created":"2026-03-05T00:49:35.784Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196766070421934"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"31a-u63TMcnl+2zDildgbw2PNcNhP0U"
            X-Amz-Apigw-Id:
                - ZuXtAE2cIAMEmWQ=
            X-Amzn-Requestid:
                - 3b42dc12-0c4d-42f8-bc3a-8e290491fdb7
            X-Bt-Internal-Trace-Id:
                - 69a8d31f00000000028bd8cf775380e5
        status: 200 OK
        code: 200
        duration: 464.592875ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-scorer
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - ZuXtGGvFIAMES0Q=
            X-Amzn-Requestid:
                - 653ec07c-d886-4f53-bb0e-43fc9812c710
            X-Bt-Internal-Trace-Id:
                - 69a8d320000000000fa0909979f17aac
        status: 200 OK
        code: 200
        duration: 385.217042ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"E2E Scorer","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-scorer","function_type":"scorer","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"parser":{"choice_scores":{"correct":1,"incorrect":0},"type":"llm_classifier","use_cot":false},"prompt":{"messages":[{"content":"You are a scorer.","role":"system"},{"content":"Is the output.answer field non-empty? Choose ''correct'' if yes, ''incorrect'' if no.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_[...]
    - id: 6
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-task
        method: GET
      response:
        body: '{"objects":[{"id":"aeb4d39b-f38b-4a20-98d3-6e5adfe64af6","_xact_id":"1000196766070421934","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"E2E Task","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-task","description":null,"created":"2026-03-05T00:49:35.784Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You answer questions with JSON. Return ONLY the JSON object, no markdown, no code blocks, no backticks."},{"role":"user","content":"Question: {{input.question}}. Return ONLY JSON like {\"answer\": \"your answer\", \"confidence\": 0.9}. No markdown formatting."}]},"options":{"model":"gpt-4o-mini","params":{"max_tokens":100,"temperature":0,"response_format":{"type":"json_object"}}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"391-h4a/5l/DbhX6bRvfOtLQO3uXUOw"
            X-Amz-Apigw-Id:
                - ZuXtNGy0IAMElHQ=
            X-Amzn-Requestid:
                - 2c0107a5-0670-45f6-bc5d-aa30061a05df
            X-Bt-Internal-Trace-Id:
                - 69a8d32100000000403013d9aeddd3b5
        status: 200 OK
        code: 200
        duration: 761.63ms
[...]
    - id: 9
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-e2e-exp","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"ff367ddf-d12b-46c9-a6f2-8f5d82b29a37","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-e2e-exp-340b67ab","description":null,"created":"2026-03-05T00:49:38.648Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"17f-wrYluRYq+KO7HXrtgUiusBTRuZA"
            X-Amz-Apigw-Id:
                - ZuXtdEchIAMEbdQ=
            X-Amzn-Requestid:
                - 2a9e8d0c-a1b9-402c-9aa9-86f51bed9984
            X-Bt-Internal-Trace-Id:
                - 69a8d3220000000058ae9162354e6eb9
        status: 200 OK
        code: 200
        duration: 213.041709ms
    - id: 10
      request:
        host: api.braintrust.dev
        body: '{"input":{"question":"What is the capital of France?"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/aeb4d39b-f38b-4a20-98d3-6e5adfe64af6/invoke
        method: POST
      response:
        body: '{"answer":"Paris","confidence":0.95}'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "10236"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 9b4138e7-b0b8-420e-bdf8-e4c2b8c6bdcd
            X-Bt-Cached:
                - HIT
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999937"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 864.584166ms
    - id: 11
      request:
        host: api.braintrust.dev
        body: '{"limit":1000,"filter":{"children":[{"left":{"name":["root_span_id"],"op":"ident"},"op":"eq","right":{"op":"literal","value":"bb8d12c3758f8f0a1a46ce6864a322bb"}},{"children":[{"expr":{"name":["span_attributes","purpose"],"op":"ident"},"op":"isnull"},{"left":{"name":["span_attributes","purpose"],"op":"ident"},"op":"ne","right":{"op":"literal","value":"scorer"}}],"op":"or"}],"op":"and"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment/ff367ddf-d12b-46c9-a6f2-8f5d82b29a37/fetch
        method: POST
      response:
        body: '{"events":[]}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - ZuXtoGt4IAMEK3Q=
            X-Amzn-Requestid:
                - e4ed36bf-b431-4eef-b91c-29c3e48c2193
            X-Bt-Api-Duration-Ms:
                - "206"
            X-Bt-Brainstore-Duration-Ms:
                - "76"
            X-Bt-Internal-Trace-Id:
                - 69a8d3230000000069140f55d034267f
        status: 200 OK
        code: 200
        duration: 409.460875ms
    - id: 12
      request:
        host: api.braintrust.dev
        body: '{"global_function":"project_default","function_type":"preprocessor","mode":"json","input":{"trace_ref":{"object_id":"ff367ddf-d12b-46c9-a6f2-8f5d82b29a37","object_type":"experiment","root_span_id":"bb8d12c3758f8f0a1a46ce6864a322bb"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/function/invoke
        method: POST
      response:
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Amzn-Requestid:
                - ef2b3ee3-c9fa-412d-8004-d1ef25cdef72
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - HIT
        status: 200 OK
        code: 200
        duration: 409.483083ms
    - id: 13
      request:
        host: api.braintrust.dev
        body: '{"input":{"expected":{"answer":"Paris","confidence":1},"input":{"question":"What is the capital of France?"},"output":{"answer":"Paris","confidence":0.95},"trace":{"spans":null,"thread":null}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/c81984ec-a11b-4de4-86bd-6256985f82ab/invoke
        method: POST
      response:
        body: '{"name":"E2E Scorer","score":0,"metadata":{"choice":"incorrect"}}'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "8900"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 80ef3e2e-4906-4940-8880-4403a524807f
            X-Bt-Cached:
                - HIT
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999972"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 1.368409541s
[...]
    - id: 18
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/v1/function/c81984ec-a11b-4de4-86bd-6256985f82ab
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-scorer","id":"c81984ec-a11b-4de4-86bd-6256985f82ab","created":"2026-03-05T00:49:42.865Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196766070890268"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12f-eyOPkORMDSf9v1c8fBMBAQ4+S4Y"
            X-Amz-Apigw-Id:
                - ZuXuHEm_IAMEf1A=
            X-Amzn-Requestid:
                - 9132e99a-0d5e-4ea0-9f29-fcde8e2da9c8
            X-Bt-Internal-Trace-Id:
                - 69a8d326000000004881e5345c2f29e1
        status: 200 OK
        code: 200
        duration: 461.6655ms
[...]
