---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T6OM2EiPIAMEc5A=
            X-Amzn-Requestid:
                - a8310b25-f413-4253-aa38-6858953e0c08
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6913f71e00000000665808dc242d01fe
        status: 200 OK
        code: 200
        duration: 122.2135ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestScorerAPI_Get-slug
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T6OM3Hg3oAMEuwg=
            X-Amzn-Requestid:
                - 0745f60b-01e8-40ce-b07a-db593195a1b7
            X-Bt-Internal-Trace-Id:
                - 6913f71e000000002e2b44cfe15dfd54
        status: 200 OK
        code: 200
        duration: 155.889917ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"Test Scorer","slug":"TestScorerAPI_Get-slug","function_type":"scorer","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0,"use_cache":true}},"parser":{"choice_scores":{"fail":0,"pass":1},"type":"llm_classifier","use_cot":true},"prompt":{"messages":[{"content":"You are a scorer. Evaluate the input and output.","role":"system"},{"content":"Choose ''pass'' if the output is good, ''fail'' if it''s bad.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestScorerAPI_Get-slug","name":"Test Scorer","function_type":"scorer","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0,"use_cache":true}},"parser":{"choice_scores":{"fail":0,"pass":1},"type":"llm_classifier","use_cot":true},"prompt":{"messages":[{"content":"You are a scorer. Evaluate the input and output.","role":"system"},{"content":"Choose ''pass'' if the output is good, ''fail'' if it''s bad.","role":"user"}],"type":"chat"}},"id":"9f7d3429-5bfd-4075-965e-1a40802dfdfa","created":"2025-11-12T02:55:27.055Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196126724324540"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2d2-w/1N2RpfrnIkLIM4SiCQMihu5wU"
            X-Amz-Apigw-Id:
                - T6OM5EeLoAMEVMA=
            X-Amzn-Requestid:
                - 1a26408c-005c-4c2a-aa07-b041906e8c6a
            X-Bt-Internal-Trace-Id:
                - 6913f71e000000002d4b26111b7166ff
        status: 200 OK
        code: 200
        duration: 395.597792ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestScorerAPI_Get-slug
        method: GET
      response:
        body: '{"objects":[{"id":"9f7d3429-5bfd-4075-965e-1a40802dfdfa","_xact_id":"1000196126724324540","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Test Scorer","slug":"TestScorerAPI_Get-slug","description":null,"created":"2025-11-12T02:55:27.055Z","prompt_data":{"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"fail":0,"pass":1}},"prompt":{"type":"chat","messages":[{"role":"system","content":"You are a scorer. Evaluate the input and output."},{"role":"user","content":"Choose ''pass'' if the output is good, ''fail'' if it''s bad."}]},"options":{"model":"gpt-4o-mini","params":{"use_cache":true,"temperature":0}}},"tags":null,"metadata":null,"function_type":"scorer","function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"334-e4uEQaJNiSs5PMlXpo3+MwZV8G0"
            X-Amz-Apigw-Id:
                - T6OM9FIGIAMES3A=
            X-Amzn-Requestid:
                - 010e2877-d2cd-41c8-9eab-b8fafcb552ce
            X-Bt-Internal-Trace-Id:
                - 6913f71f00000000661408d58e20331f
        status: 200 OK
        code: 200
        duration: 368.475541ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"input":{"expected":{"answer":"4"},"input":{"question":"What is 2+2?"},"output":{"answer":"4"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/9f7d3429-5bfd-4075-965e-1a40802dfdfa/invoke
        method: POST
      response:
        body: '{"name":"Test Scorer","score":1,"metadata":{"rationale":"The output should be evaluated based on clarity, relevance, and correctness. If the output meets these criteria and effectively addresses the input, it can be considered good. If it lacks clarity, is irrelevant, or contains errors, it would be deemed bad. Without specific input and output to evaluate, I cannot make a definitive choice. However, if the output is coherent and fulfills the requirements of the task, I would choose ''pass''.","choice":"pass"}}'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "990"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 69c2d021-fb27-47ef-9e97-a7c628724e47
            X-Bt-Cached:
                - HIT
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999972"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 491.460208ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/9f7d3429-5bfd-4075-965e-1a40802dfdfa
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestScorerAPI_Get-slug","id":"9f7d3429-5bfd-4075-965e-1a40802dfdfa","created":"2025-11-12T02:55:28.292Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196126724390491"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"11a-4XorXmMoKnIYlDYdcKRFX8F+HHo"
            X-Amz-Apigw-Id:
                - T6ONFEW0IAMEZZg=
            X-Amzn-Requestid:
                - d1619135-6207-41a0-94ac-648252336218
            X-Bt-Internal-Trace-Id:
                - 6913f7200000000056e6de9797116fd3
        status: 200 OK
        code: 200
        duration: 279.719292ms
