---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - T73oWFDfoAMEelA=
            X-Amzn-Requestid:
                - ae05336b-9b85-42b3-9156-d59288cfcd15
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000000df6e294e11b430
        status: 200 OK
        code: 200
        duration: 179.421083ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73o4HXHIAMEONQ=
            X-Amzn-Requestid:
                - 0c0b2c22-78af-48f9-b55c-25cb6d14748d
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fd2000000005a4a3bfca0614c44
        status: 200 OK
        code: 200
        duration: 105.485958ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset","description":"Test dataset with tags and metadata"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"ff1a7013-1d38-4d31-a494-336b43767324","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset","description":"Test dataset with tags and metadata","created":"2025-11-12T14:55:14.285Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"123-3RpBUv00rJuTa0EG9ntnZWmPRL4"
            X-Amz-Apigw-Id:
                - T73o5HWQIAMER8g=
            X-Amzn-Requestid:
                - eb17cd70-4f66-4f42-8bcf-56e28b0178e5
            X-Bt-Internal-Trace-Id:
                - 69149fd2000000005585046508f63523
        status: 200 OK
        code: 200
        duration: 173.38275ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":2,"expected":4,"metadata":{"category":"simple","priority":1},"tags":["even","small"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/ff1a7013-1d38-4d31-a494-336b43767324/insert
        method: POST
      response:
        body: '{"row_ids":["590b97ff-59cb-432f-b1f7-c3b2242ea69c"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"34-AeTyuhNN+6fl7LvOxzRtBPzEEZw"
            X-Amz-Apigw-Id:
                - T73o7HrZoAMElVA=
            X-Amzn-Requestid:
                - 60342de3-8f3e-4271-9fe6-10c9cbd994d4
            X-Bt-Internal-Trace-Id:
                - 69149fd2000000003c4e940faa601006
        status: 200 OK
        code: 200
        duration: 447.281291ms
[...]
    - id: 5
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment","dataset_id":"ff1a7013-1d38-4d31-a494-336b43767324","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"b0f5da9b-5353-4d80-8142-c32e74181417","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-e922c59a","description":null,"created":"2025-11-12T14:55:15.036Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":"ff1a7013-1d38-4d31-a494-336b43767324","dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1a4-SPokIU/5hzyTOumVR/wDXnRjxBE"
            X-Amz-Apigw-Id:
                - T73pBF2XIAMEt4Q=
            X-Amzn-Requestid:
                - 6dd81bf3-a29f-469f-a70d-88fb22829044
            X-Bt-Internal-Trace-Id:
                - 69149fd20000000035eda37b05ebe363
        status: 200 OK
        code: 200
        duration: 166.685958ms
    - id: 6
      request:
        host: api.braintrust.dev
        body: '{"limit":100}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/ff1a7013-1d38-4d31-a494-336b43767324/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07571852601703596032","_xact_id":"1000196129554622505","created":"2025-11-12T14:55:14.352Z","dataset_id":"ff1a7013-1d38-4d31-a494-336b43767324","expected":4,"id":"590b97ff-59cb-432f-b1f7-c3b2242ea69c","input":2,"is_root":true,"metadata":{"category":"simple","priority":1},"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"dc380329-3f5d-4b65-956b-dcc70c34d4b3","span_id":"dc380329-3f5d-4b65-956b-dcc70c34d4b3","tags":["even","small"]}],"cursor":"aRSf0ugpAAA"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - T73pCGyHIAMETeQ=
            X-Amzn-Requestid:
                - 70c0c4e0-3733-4616-9499-4ce86c554891
            X-Bt-Cursor:
                - aRSf0ugpAAA
            X-Bt-Internal-Trace-Id:
                - 69149fd300000000745207e2b92e77ce
        status: 200 OK
        code: 200
        duration: 127.169917ms
[...]
    - id: 8
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset/ff1a7013-1d38-4d31-a494-336b43767324
        method: DELETE
      response:
        body: '{"id":"ff1a7013-1d38-4d31-a494-336b43767324","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset","description":"Test dataset with tags and metadata","created":"2025-11-12T14:55:14.285Z","deleted_at":"2025-11-12T14:55:15.499Z","user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"139-+v58tEn7yzrz8tdL7/EaLp8mzgU"
            X-Amz-Apigw-Id:
                - T73pFHM3oAMEvUw=
            X-Amzn-Requestid:
                - 534be748-ce7e-44b8-9b94-648b45d662a0
            X-Bt-Internal-Trace-Id:
                - 69149fd3000000006aaeef039cd0cf9f
        status: 200 OK
        code: 200
        duration: 207.412083ms
