---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","description":null,"created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fe-rfCZvNlcUhLHZTl4/HHBhOEJFv4"
            X-Amz-Apigw-Id:
                - ZuK2KHm8oAMEEoA=
            X-Amzn-Requestid:
                - 03a6d1c4-4797-499a-b5ab-21e9c397874f
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69a8be8d00000000360707728f6cc5fb
        status: 200 OK
        code: 200
        duration: 391.960958ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - ZuK2KEeYoAMEU9Q=
            X-Amzn-Requestid:
                - 8a72e6e6-f503-4acd-80ba-5ac9cfbef0a1
            X-Bt-Internal-Trace-Id:
                - 69a8be8d000000000b7e01fdb7cb5f1e
        status: 200 OK
        code: 200
        duration: 480.561958ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-task
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - ZuK2NF1goAMEE5w=
            X-Amzn-Requestid:
                - 97bfee2c-f896-4e53-b186-bd91972b299e
            X-Bt-Internal-Trace-Id:
                - 69a8be8d0000000066474d8596ffcad6
        status: 200 OK
        code: 200
        duration: 232.55375ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"E2E Task","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":100,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You answer questions with JSON. Return ONLY the JSON object, no markdown, no code blocks, no backticks.","role":"system"},{"content":"Question: {{input.question}}. Return ONLY JSON like {\"answer\": \"your answer\", \"confidence\": 0.9}. No markdown formatting.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-task","name":"E2E Task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":100,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You answer questions with JSON. Return ONLY the JSON object, no markdown, no code blocks, no backticks.","role":"system"},{"content":"Question: {{input.question}}. Return ONLY JSON like {\"answer\": \"your answer\", \"confidence\": 0.9}. No markdown formatting.","role":"user"}],"type":"chat"}},"id":"5cee0811-48f0-453a-9103-365d3a3344a8","created":"2026-03-04T23:21:50.043Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196765725398940"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"31a-em6V5YuFILXI9rS58D+nzORFiA0"
            X-Amz-Apigw-Id:
                - ZuK2PHhSIAMEVLw=
            X-Amzn-Requestid:
                - ae1cdbfa-9533-491b-a210-655f70100808
            X-Bt-Internal-Trace-Id:
                - 69a8be8d00000000139b12966908e47c
        status: 200 OK
        code: 200
        duration: 651.189959ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-scorer
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - ZuK2VEELoAMEikA=
            X-Amzn-Requestid:
                - 42802556-4bbb-42ab-884c-b0d43e040527
            X-Bt-Internal-Trace-Id:
                - 69a8be8e000000006707a464c766dd54
        status: 200 OK
        code: 200
        duration: 306.8885ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"E2E Scorer","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-scorer","function_type":"scorer","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"parser":{"choice_scores":{"correct":1,"incorrect":0},"type":"llm_classifier","use_cot":false},"prompt":{"messages":[{"content":"You are a scorer.","role":"system"},{"content":"Is the output.answer field non-empty? Choose ''correct'' if yes, ''incorrect'' if no.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_[...]
    - id: 6
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-task
        method: GET
      response:
        body: '{"objects":[{"id":"5cee0811-48f0-453a-9103-365d3a3344a8","_xact_id":"1000196765725398940","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"E2E Task","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-task","description":null,"created":"2026-03-04T23:21:50.043Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You answer questions with JSON. Return ONLY the JSON object, no markdown, no code blocks, no backticks."},{"role":"user","content":"Question: {{input.question}}. Return ONLY JSON like {\"answer\": \"your answer\", \"confidence\": 0.9}. No markdown formatting."}]},"options":{"model":"gpt-4o-mini","params":{"max_tokens":100,"temperature":0,"response_format":{"type":"json_object"}}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"391-RyipEwunzCjsJA5GBlrnPSNhTww"
            X-Amz-Apigw-Id:
                - ZuK2eGs0IAMERLA=
            X-Amzn-Requestid:
                - b660676e-584c-4318-88df-5b348791814c
            X-Bt-Internal-Trace-Id:
                - 69a8be8f0000000024155419a75408d6
        status: 200 OK
        code: 200
        duration: 514.074125ms
[...]
    - id: 9
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-e2e-exp","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"18d8ffff-1a3b-4ba4-b714-b9fd7e86b508","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-e2e-exp-83e080a6","description":null,"created":"2026-03-04T23:21:52.805Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"17f-N3C0LL/w6WWLkMx7P4tk/BG8aes"
            X-Amz-Apigw-Id:
                - ZuK2rFFjoAMEXHw=
            X-Amzn-Requestid:
                - 7f1c978b-acad-4b96-8924-d485a1016180
            X-Bt-Internal-Trace-Id:
                - 69a8be900000000010d5c5728824f6ba
        status: 200 OK
        code: 200
        duration: 224.047208ms
    - id: 10
      request:
        host: api.braintrust.dev
        body: '{"input":{"question":"What is the capital of France?"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/5cee0811-48f0-453a-9103-365d3a3344a8/invoke
        method: POST
      response:
        body: '{"answer":"Paris","confidence":0.95}'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "110"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 5d9d5311-6ea0-429c-b180-16ddacd5f96f
            X-Bt-Cached:
                - MISS
            X-Bt-Function-Creds-Cached:
                - MISS
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999937"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 1.602242666s
    - id: 11
      request:
        host: api.braintrust.dev
        body: '{"input":{"expected":{"answer":"Paris","confidence":1},"input":{"question":"What is the capital of France?"},"output":{"answer":"Paris","confidence":0.95},"trace":{"spans":null,"thread":null}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/3d00adc8-eb0f-4372-813b-6c945725b4e9/invoke
        method: POST
      response:
        body: '{"name":"E2E Scorer","score":0,"metadata":{"choice":"incorrect"}}'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "123"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 5c13920b-dd1c-4dbd-b4d9-aac889fd4785
            X-Bt-Cached:
                - MISS
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999972"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 1.048096458s
[...]
    - id: 14
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/v1/function/3d00adc8-eb0f-4372-813b-6c945725b4e9
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-scorer","id":"3d00adc8-eb0f-4372-813b-6c945725b4e9","created":"2026-03-04T23:21:58.096Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196765725936784"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12f-62LNmt00v79FTwwQkGZZHscWEUY"
            X-Amz-Apigw-Id:
                - ZuK3fEw7oAMEK8w=
            X-Amzn-Requestid:
                - bd730343-0524-416d-9fbd-aff3324f50ae
            X-Bt-Internal-Trace-Id:
                - 69a8be96000000004a3d019d789a1ee5
        status: 200 OK
        code: 200
        duration: 407.340458ms
[...]
