---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T74ZkESnIAMEPdw=
            X-Amzn-Requestid:
                - 58587d56-8adf-42cb-9708-ab6b36db4da5
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6914a109000000001d4b1e1cfdec0f4a
        status: 200 OK
        code: 200
        duration: 160.601542ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-task
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T74ZlGNGIAMERPw=
            X-Amzn-Requestid:
                - 8457ba24-fcb7-4fe5-9982-3d5668220f05
            X-Bt-Internal-Trace-Id:
                - 6914a109000000007e1a8d75bcd327d1
        status: 200 OK
        code: 200
        duration: 138.443417ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - T74ZkHBJoAMEPBg=
            X-Amzn-Requestid:
                - ce1757d6-f991-4c45-94a4-1fc76a7abd4d
            X-Bt-Internal-Trace-Id:
                - 6914a1090000000072cc3183fcea9ee1
        status: 200 OK
        code: 200
        duration: 299.309167ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"E2E Task","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":100,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You answer questions with JSON. Return ONLY the JSON object, no markdown, no code blocks, no backticks.","role":"system"},{"content":"Question: {{input.question}}. Return ONLY JSON like {\"answer\": \"your answer\", \"confidence\": 0.9}. No markdown formatting.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-task","name":"E2E Task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":100,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You answer questions with JSON. Return ONLY the JSON object, no markdown, no code blocks, no backticks.","role":"system"},{"content":"Question: {{input.question}}. Return ONLY JSON like {\"answer\": \"your answer\", \"confidence\": 0.9}. No markdown formatting.","role":"user"}],"type":"chat"}},"id":"29072339-6591-46f1-a865-3fcce6c44f40","created":"2025-11-12T15:00:26.063Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129575022738"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"31a-2sPpzg0Qu9SZPTYx3IyIzx1xF5E"
            X-Amz-Apigw-Id:
                - T74ZnGZkIAMENaQ=
            X-Amzn-Requestid:
                - 2b4bb93b-05d0-43e0-8bba-dd670625e4a8
            X-Bt-Internal-Trace-Id:
                - 6914a1090000000005877586dd2100fa
        status: 200 OK
        code: 200
        duration: 360.401958ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-scorer
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T74ZqGTdoAMEHhw=
            X-Amzn-Requestid:
                - 2a4c0f5e-8d2b-416f-82c5-7032aeecc557
            X-Bt-Internal-Trace-Id:
                - 6914a10a000000007a91e819becd7717
        status: 200 OK
        code: 200
        duration: 171.598958ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"E2E Scorer","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-scorer","function_type":"scorer","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"parser":{"choice_scores":{"correct":1,"incorrect":0},"type":"llm_classifier","use_cot":false},"prompt":{"messages":[{"content":"You are a scorer.","role":"system"},{"content":"Is the output.answer field non-empty? Choose ''correct'' if yes, ''incorrect'' if no.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_[...]
    - id: 6
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_EndToEnd_MixedTypes-task
        method: GET
      response:
        body: '{"objects":[{"id":"29072339-6591-46f1-a865-3fcce6c44f40","_xact_id":"1000196129575022738","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"E2E Task","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-task","description":null,"created":"2025-11-12T15:00:26.063Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You answer questions with JSON. Return ONLY the JSON object, no markdown, no code blocks, no backticks."},{"role":"user","content":"Question: {{input.question}}. Return ONLY JSON like {\"answer\": \"your answer\", \"confidence\": 0.9}. No markdown formatting."}]},"options":{"model":"gpt-4o-mini","params":{"max_tokens":100,"temperature":0,"response_format":{"type":"json_object"}}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"391-e7g1AM+1gReVj71N32+mVYVwDuE"
            X-Amz-Apigw-Id:
                - T74ZwGwpoAMEtrg=
            X-Amzn-Requestid:
                - ca78451f-3b60-465f-a2a0-0e2afffaf555
            X-Bt-Internal-Trace-Id:
                - 6914a10a00000000398c274d02a41e0b
        status: 200 OK
        code: 200
        duration: 516.321125ms
[...]
    - id: 9
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-e2e-exp","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"fb3f7727-c60f-48e4-ad30-2a2befaf85f8","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-e2e-exp-20b5b9c1","description":null,"created":"2025-11-12T15:00:28.439Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"17f-L7Es4ehBG+vrDKjUmJB1DsxDWq4"
            X-Amz-Apigw-Id:
                - T74Z_Ez-oAMET0w=
            X-Amzn-Requestid:
                - 16de2b29-27de-476c-a409-4e06087ba8a7
            X-Bt-Internal-Trace-Id:
                - 6914a10c000000006f99ae55efce4c51
        status: 200 OK
        code: 200
        duration: 191.883375ms
    - id: 10
      request:
        host: api.braintrust.dev
        body: '{"input":{"question":"What is the capital of France?"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/29072339-6591-46f1-a865-3fcce6c44f40/invoke
        method: POST
      response:
        body: '{"answer":"Paris","confidence":0.95}'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "2381"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 71841cc7-fce1-4e39-b685-8634737e6ecb
            X-Bt-Cached:
                - MISS
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999937"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 4.09908225s
    - id: 11
      request:
        host: api.braintrust.dev
        body: '{"input":{"expected":{"answer":"Paris","confidence":1},"input":{"question":"What is the capital of France?"},"output":{"answer":"Paris","confidence":0.95}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/063f91ca-beb0-42dd-8f39-d34bebea6d98/invoke
        method: POST
      response:
        body: '{"name":"E2E Scorer","score":0,"metadata":{"choice":"incorrect"}}'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "454"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 44068fc3-d8a6-4c5a-b017-fdcdeffcbf9e
            X-Bt-Cached:
                - MISS
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999972"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 1.349148834s
[...]
    - id: 14
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/063f91ca-beb0-42dd-8f39-d34bebea6d98
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-scorer","id":"063f91ca-beb0-42dd-8f39-d34bebea6d98","created":"2025-11-12T15:00:35.359Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129575620471"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12f-GRQ22KEM0pPNmGtvOoGOw13UPS0"
            X-Amz-Apigw-Id:
                - T74bDFEvIAMEOmw=
            X-Amzn-Requestid:
                - be21dd98-89a8-43b0-aa04-5d559e20c2af
            X-Bt-Internal-Trace-Id:
                - 6914a113000000004489d85ebd9e608b
        status: 200 OK
        code: 200
        duration: 444.713459ms
[...]
