---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - T73oWHUtoAMEkEg=
            X-Amzn-Requestid:
                - 9ed71b81-3fcf-46f2-b16b-7c7e28746f67
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000025faba9e27a45d1e
        status: 200 OK
        code: 200
        duration: 167.61ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73o3G4IIAMEdpQ=
            X-Amzn-Requestid:
                - ff0bfdb1-7040-457d-81a4-674446481eb5
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fd1000000002e54dde2a6aedfaf
        status: 200 OK
        code: 200
        duration: 115.849917ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-update-flag","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"71f659eb-42aa-46bb-bb07-614d316e2f0e","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-update-flag-c6292f56","description":null,"created":"2025-11-12T14:55:14.159Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"18e-7ORK+Fupca6tF/m6mvKGHl4tcEU"
            X-Amz-Apigw-Id:
                - T73o4FOOIAMEGVg=
            X-Amzn-Requestid:
                - d84c244f-479a-4e22-a175-53733907d3e7
            X-Bt-Internal-Trace-Id:
                - 69149fd2000000001b19552444ab985d
        status: 200 OK
        code: 200
        duration: 163.698958ms
[...]
