---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - T73oWG_LoAMEj2w=
            X-Amzn-Requestid:
                - e8b9b57d-2610-4371-94ba-72e58a746b98
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000326cb3fc7b469a0b
        status: 200 OK
        code: 200
        duration: 139.529917ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73o7H3fIAMEoHg=
            X-Amzn-Requestid:
                - 51360ae7-3159-48ff-92f1-b9075aaec789
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fd20000000078579a66017291ef
        status: 200 OK
        code: 200
        duration: 106.223541ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-by-name","description":"Test dataset for name-based eval"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"711d3420-4009-448f-8aeb-6a9ba30bf91d","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-by-name","description":"Test dataset for name-based eval","created":"2025-11-12T14:55:14.658Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"128-G7Ap6zF//6kkWTh9/sl28YXU4k0"
            X-Amz-Apigw-Id:
                - T73o8FCHIAMEmjA=
            X-Amzn-Requestid:
                - ca16ad11-7305-493a-96a6-976a1e75a400
            X-Bt-Internal-Trace-Id:
                - 69149fd200000000004f8f126024aaaa
        status: 200 OK
        code: 200
        duration: 262.860417ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":3,"expected":9},{"input":4,"expected":16}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/711d3420-4009-448f-8aeb-6a9ba30bf91d/insert
        method: POST
      response:
        body: '{"row_ids":["9534a597-acc3-4bf3-a7b3-9a39a0bec5bb","0adbcc88-40a1-402d-961b-3341142a7f2d"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"5b-XLIVihB0EfYaaF8OOV/LHLum+fs"
            X-Amz-Apigw-Id:
                - T73o-FPmIAMETbw=
            X-Amzn-Requestid:
                - 6efd2a81-b8bb-4615-b241-21cda040696d
            X-Bt-Internal-Trace-Id:
                - 69149fd200000000342d9384d6d7732a
        status: 200 OK
        code: 200
        duration: 402.852167ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?dataset_name=test-dataset-by-name&limit=1
        method: GET
      response:
        body: '{"objects":[{"id":"711d3420-4009-448f-8aeb-6a9ba30bf91d","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-by-name","description":"Test dataset for name-based eval","created":"2025-11-12T14:55:14.658Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"136-giZc46Z9eHolzM+fVSat+wJ2V5o"
            X-Amz-Apigw-Id:
                - T73pDH9rIAMEJ4A=
            X-Amzn-Requestid:
                - 4e1c1ed5-658c-4170-803f-4b25e33df83e
            X-Bt-Internal-Trace-Id:
                - 69149fd3000000002f671b5622ed1ec5
        status: 200 OK
        code: 200
        duration: 162.187625ms
[...]
    - id: 6
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment","dataset_id":"711d3420-4009-448f-8aeb-6a9ba30bf91d","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"44cf798b-b850-461a-aedc-19945f5fe7ae","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-3bafbf0c","description":null,"created":"2025-11-12T14:55:15.491Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":"711d3420-4009-448f-8aeb-6a9ba30bf91d","dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1a4-xBK/KcvzQD9zgMFvfijgzy6pk7A"
            X-Amz-Apigw-Id:
                - T73pFH-PoAMEoHg=
            X-Amzn-Requestid:
                - 6b0c41fa-e04c-4eaa-821b-5bc8564eaaa9
            X-Bt-Internal-Trace-Id:
                - 69149fd300000000336e5456b4bcc8fd
        status: 200 OK
        code: 200
        duration: 133.315375ms
    - id: 7
      request:
        host: api.braintrust.dev
        body: '{"limit":100}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/711d3420-4009-448f-8aeb-6a9ba30bf91d/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07571852601720438785","_xact_id":"1000196129554622762","created":"2025-11-12T14:55:14.718Z","dataset_id":"711d3420-4009-448f-8aeb-6a9ba30bf91d","expected":16,"id":"0adbcc88-40a1-402d-961b-3341142a7f2d","input":4,"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"6656b6bc-c83c-4bd1-a1f9-337e8a4e9961","span_id":"6656b6bc-c83c-4bd1-a1f9-337e8a4e9961","tags":null},{"_pagination_key":"p07571852601720438784","_xact_id":"1000196129554622762","created":"2025-11-12T14:55:14.718Z","dataset_id":"711d3420-4009-448f-8aeb-6a9ba30bf91d","expected":9,"id":"9534a597-acc3-4bf3-a7b3-9a39a0bec5bb","input":3,"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"3809fd51-1c5e-4cf0-bf0e-d13cd2de9b4c","span_id":"3809fd51-1c5e-4cf0-bf0e-d13cd2de9b4c","tags":null}],"cursor":"aRSf0ukqAAA"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - T73pHHwUIAMEhvg=
            X-Amzn-Requestid:
                - a4f4de0f-6c66-4b65-a59e-d5c1904d2f28
            X-Bt-Cursor:
                - aRSf0ukqAAA
            X-Bt-Internal-Trace-Id:
                - 69149fd3000000002984058f49b14e9c
        status: 200 OK
        code: 200
        duration: 129.112875ms
[...]
    - id: 9
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset/711d3420-4009-448f-8aeb-6a9ba30bf91d
        method: DELETE
      response:
        body: '{"id":"711d3420-4009-448f-8aeb-6a9ba30bf91d","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-by-name","description":"Test dataset for name-based eval","created":"2025-11-12T14:55:14.658Z","deleted_at":"2025-11-12T14:55:15.887Z","user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"13e-ISNfP8M7IAJnIsXjPt2OEQlS3Hg"
            X-Amz-Apigw-Id:
                - T73pJEUMIAMEdHw=
            X-Amzn-Requestid:
                - 264cbd17-35c1-4273-b78a-539600dec6a2
            X-Bt-Internal-Trace-Id:
                - 69149fd300000000159577c8aeda6474
        status: 200 OK
        code: 200
        duration: 156.111625ms
