---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73qvEtxoAMEr6Q=
            X-Amzn-Requestid:
                - 09971e80-3a5b-48d0-b4db-117e1c23ae9b
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fde0000000059517e9b83ea6f02
        status: 200 OK
        code: 200
        duration: 2.852261875s
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Task_PrimitiveTypes-slug
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T73rMG1foAMEjCA=
            X-Amzn-Requestid:
                - 9c98ebf2-9080-45bd-a99c-d5402ab960a8
            X-Bt-Internal-Trace-Id:
                - 69149fe00000000013a347cf587f7ef5
        status: 200 OK
        code: 200
        duration: 146.728625ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"Number Doubler","slug":"TestFunctionsAPI_Task_PrimitiveTypes-slug","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":10,"temperature":0}},"prompt":{"messages":[{"content":"Double this number: {{input}}. Return ONLY the number, no other text.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Task_PrimitiveTypes-slug","name":"Number Doubler","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":10,"temperature":0}},"prompt":{"messages":[{"content":"Double this number: {{input}}. Return ONLY the number, no other text.","role":"user"}],"type":"chat"}},"id":"67d89949-15ee-41fe-a096-5a7d9f4b9c72","created":"2025-11-12T14:55:29.099Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129555550330"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"236-kvD2Y8Soew0Qftc2ZMDS9qrJMRs"
            X-Amz-Apigw-Id:
                - T73rNGD9oAMEqaQ=
            X-Amzn-Requestid:
                - 63212227-9696-4294-a687-43969a1424dd
            X-Bt-Internal-Trace-Id:
                - 69149fe0000000006bc1de9a76b2957a
        status: 200 OK
        code: 200
        duration: 314.579ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Task_PrimitiveTypes-slug
        method: GET
      response:
        body: '{"Code":"TooManyRequestsError","Message":"Too many requests. Source: checkBtqlOrgRateLimit. Rate limit: 20 requests per 60 seconds. Consumed: 25. Retry after 41.807 seconds. Please contact us at support@braintrust.dev to discuss remediation strategies. [user_email=matt@braintrustdata.com] [user_org=matt-test-org] [timestamp=1762959329.403]","InternalTraceId":"69149fe10000000044dde381935004e8","Path":"/v1/function","Service":"api"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1b2-B2eVWZyeHzuXpLu3PFl3yW5GiGU"
            Retry-After:
                - "41.807"
            X-Amz-Apigw-Id:
                - T73rQFFNoAMEhvg=
            X-Amzn-Requestid:
                - f245944a-3557-40c7-94d6-822918f12855
            X-Bt-Internal-Trace-Id:
                - 69149fe10000000044dde381935004e8
        status: 429 Too Many Requests
        code: 429
        duration: 155.357875ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/67d89949-15ee-41fe-a096-5a7d9f4b9c72
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Task_PrimitiveTypes-slug","id":"67d89949-15ee-41fe-a096-5a7d9f4b9c72","created":"2025-11-12T14:55:29.560Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129555550599"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12d-EjotPMHShmOrsM9Ev5t/9o0az5g"
            X-Amz-Apigw-Id:
                - T73rSHARIAMEV1w=
            X-Amzn-Requestid:
                - fa3548b1-e52f-4681-b596-fbd91190b317
            X-Bt-Internal-Trace-Id:
                - 69149fe10000000022107aa5783a4dc0
        status: 200 OK
        code: 200
        duration: 322.086042ms
