---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oWFJpIAMEI1w=
            X-Amzn-Requestid:
                - 140a2afb-2c7b-48ea-9aae-519ef3ff44cb
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000002e907516cc72bb10
        status: 200 OK
        code: 200
        duration: 182.2205ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - T73oWEbVIAMEaPA=
            X-Amzn-Requestid:
                - 7128c6da-2a58-46e0-8be3-2f74a38a801d
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000057f9a58d4b331a03
        status: 200 OK
        code: 200
        duration: 198.910041ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset","description":"Test dataset for eval integration"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"f7b36204-e4d1-43f3-bc77-169bec19595e","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset","description":"Test dataset for integration tests","created":"2025-11-12T02:58:27.281Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"122-4b2Wf1G4Lvh74XhXCfxa5bBccLs"
            X-Amz-Apigw-Id:
                - T73oXHK-oAMETAg=
            X-Amzn-Requestid:
                - 93f4a0a6-b422-4beb-8124-681827b3755b
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000001dea0a49d029723
        status: 200 OK
        code: 200
        duration: 156.191ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":2,"expected":4},{"input":5,"expected":10}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/f7b36204-e4d1-43f3-bc77-169bec19595e/insert
        method: POST
      response:
        body: '{"row_ids":["f7500da4-d253-4746-8150-bfbe05f6d8d5","5c58a73d-12bc-4792-a735-b3be147c4ae6"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"5b-JFeDgL/Wr6mGcq/XDqtMdrg9xQ8"
            X-Amz-Apigw-Id:
                - T73oZHqroAMER5A=
            X-Amzn-Requestid:
                - 464f8e57-760d-40e2-aaeb-24dd9982c7c3
            X-Bt-Internal-Trace-Id:
                - 69149fce000000001b0ff945cc718f25
        status: 200 OK
        code: 200
        duration: 660.374167ms
[...]
    - id: 5
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment","dataset_id":"f7b36204-e4d1-43f3-bc77-169bec19595e","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"2970a234-dd0b-456e-86e2-15b2c8317e62","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-b5089afc","description":null,"created":"2025-11-12T14:55:11.848Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":"f7b36204-e4d1-43f3-bc77-169bec19595e","dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1a4-2nG8C1QlfFaJX2uB2oNY77gNbHo"
            X-Amz-Apigw-Id:
                - T73ohFtBoAMEB7w=
            X-Amzn-Requestid:
                - 67cbea16-2207-44e1-bfa7-e6961caaa37c
            X-Bt-Internal-Trace-Id:
                - 69149fcf000000006298aa7e97544544
        status: 200 OK
        code: 200
        duration: 181.570625ms
    - id: 6
      request:
        host: api.braintrust.dev
        body: '{"limit":100}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/f7b36204-e4d1-43f3-bc77-169bec19595e/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07571852588661276673","_xact_id":"1000196129554423495","created":"2025-11-12T14:55:10.950Z","dataset_id":"f7b36204-e4d1-43f3-bc77-169bec19595e","expected":10,"id":"5c58a73d-12bc-4792-a735-b3be147c4ae6","input":5,"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"cda31a1c-2e27-4feb-9518-a1f66fa5cdc8","span_id":"cda31a1c-2e27-4feb-9518-a1f66fa5cdc8","tags":null},{"_pagination_key":"p07571852588661276672","_xact_id":"1000196129554423495","created":"2025-11-12T14:55:10.950Z","dataset_id":"f7b36204-e4d1-43f3-bc77-169bec19595e","expected":4,"id":"f7500da4-d253-4746-8150-bfbe05f6d8d5","input":2,"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"e8cbf3d8-efe1-4117-a757-5a9900bfb56a","span_id":"e8cbf3d8-efe1-4117-a757-5a9900bfb56a","tags":null}],"cursor":"aRSfz97HAAA"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - T73ojEyTIAMENPA=
            X-Amzn-Requestid:
                - d7f36efb-bd5f-418e-8d85-3d98e1880412
            X-Bt-Cursor:
                - aRSfz97HAAA
            X-Bt-Internal-Trace-Id:
                - 69149fcf0000000047fb3b582586816f
        status: 200 OK
        code: 200
        duration: 139.393416ms
[...]
    - id: 8
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset/f7b36204-e4d1-43f3-bc77-169bec19595e
        method: DELETE
      response:
        body: '{"id":"f7b36204-e4d1-43f3-bc77-169bec19595e","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset","description":"Test dataset for integration tests","created":"2025-11-12T02:58:27.281Z","deleted_at":"2025-11-12T14:55:12.302Z","user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"138-Ge0/qz0fntrdlUhAYvnm5vI786A"
            X-Amz-Apigw-Id:
                - T73olHDAoAMEp3g=
            X-Amzn-Requestid:
                - 1dbca55f-c6b9-46ac-8e5b-fba2de0c328a
            X-Bt-Internal-Trace-Id:
                - 69149fd0000000004db1925225fc0b5c
        status: 200 OK
        code: 200
        duration: 211.329209ms
