---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73qvFVyIAMEUdQ=
            X-Amzn-Requestid:
                - 9c55513f-6ad7-45c2-9bf8-096253fe868a
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fde0000000077d7d91eb73c0696
        status: 200 OK
        code: 200
        duration: 161.730625ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Task_StructInput-slug
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T73qxEyBoAMEOvw=
            X-Amzn-Requestid:
                - ad5592ba-de26-44e7-80cf-f257e246fb1f
            X-Bt-Internal-Trace-Id:
                - 69149fde0000000014742c4fe0fa5bc5
        status: 200 OK
        code: 200
        duration: 150.034708ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"Struct Math Task","slug":"TestFunctionsAPI_Task_StructInput-slug","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You return JSON with the answer field containing the numeric result.","role":"system"},{"content":"Calculate {{input.operation}} of {{input.a}} and {{input.b}}. Return ONLY a JSON object like {\"answer\": 5}. No other text.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Task_StructInput-slug","name":"Struct Math Task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You return JSON with the answer field containing the numeric result.","role":"system"},{"content":"Calculate {{input.operation}} of {{input.a}} and {{input.b}}. Return ONLY a JSON object like {\"answer\": 5}. No other text.","role":"user"}],"type":"chat"}},"id":"8593cfff-9f75-4084-8dbf-bee3570a08c3","created":"2025-11-12T14:55:26.420Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129555351914"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2f8-uPIGOZPNzeq9eFwswCD+HhwGyt0"
            X-Amz-Apigw-Id:
                - T73qyE7DIAMEMoA=
            X-Amzn-Requestid:
                - ac5520dd-2bd6-4f05-a39f-46fa30dfd340
            X-Bt-Internal-Trace-Id:
                - 69149fde000000001d854fc02e84042f
        status: 200 OK
        code: 200
        duration: 331.853292ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Task_StructInput-slug
        method: GET
      response:
        body: '{"Code":"TooManyRequestsError","Message":"Too many requests. Source: checkBtqlOrgRateLimit. Rate limit: 20 requests per 60 seconds. Consumed: 23. Retry after 44.49 seconds. Please contact us at support@braintrust.dev to discuss remediation strategies. [user_email=matt@braintrustdata.com] [user_org=matt-test-org] [timestamp=1762959326.722]","InternalTraceId":"69149fde0000000073716cb805ca2b39","Path":"/v1/function","Service":"api"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1b1-C1Q0XmziLuz78mfOb1rw8eg43BQ"
            Retry-After:
                - "44.49"
            X-Amz-Apigw-Id:
                - T73q2GVgIAMEkuQ=
            X-Amzn-Requestid:
                - 6839ceb4-5788-48fa-ab98-2317a0e067a1
            X-Bt-Internal-Trace-Id:
                - 69149fde0000000073716cb805ca2b39
        status: 429 Too Many Requests
        code: 429
        duration: 152.372833ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/8593cfff-9f75-4084-8dbf-bee3570a08c3
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Task_StructInput-slug","id":"8593cfff-9f75-4084-8dbf-bee3570a08c3","created":"2025-11-12T14:55:26.860Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129555352209"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12a-y/8osLyqg/deZZg1Ytu1QZsvWlI"
            X-Amz-Apigw-Id:
                - T73q3HieoAMEFwg=
            X-Amzn-Requestid:
                - cce48fed-628e-4f49-bdf6-f3cc7d11eb94
            X-Bt-Internal-Trace-Id:
                - 69149fde0000000070cf96fabca2060d
        status: 200 OK
        code: 200
        duration: 274.608458ms
