---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T74TVGt8IAMEoLg=
            X-Amzn-Requestid:
                - c1448b41-7951-424c-a3f6-243879cabb27
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6914a0e1000000001fd2257b2c34caec
        status: 200 OK
        code: 200
        duration: 133.813667ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Task_PrimitiveTypes-slug
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T74TWH-xIAMEXHw=
            X-Amzn-Requestid:
                - 22d8533d-acfb-4e77-9dfc-8015fd7724d8
            X-Bt-Internal-Trace-Id:
                - 6914a0e10000000009e0823db5e856bd
        status: 200 OK
        code: 200
        duration: 138.875292ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"Number Doubler","slug":"TestFunctionsAPI_Task_PrimitiveTypes-slug","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":10,"temperature":0}},"prompt":{"messages":[{"content":"Double this number: {{input}}. Return ONLY the number, no other text.","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Task_PrimitiveTypes-slug","name":"Number Doubler","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":10,"temperature":0}},"prompt":{"messages":[{"content":"Double this number: {{input}}. Return ONLY the number, no other text.","role":"user"}],"type":"chat"}},"id":"ebc61381-3f5a-4ee4-8f3e-b04e662732b2","created":"2025-11-12T14:59:46.156Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129572439857"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"236-Q0blqgC5uUjP9OR6IoEdRXMjyPY"
            X-Amz-Apigw-Id:
                - T74TYEb-IAMEgQg=
            X-Amzn-Requestid:
                - ca87a61e-44a3-41aa-99eb-46d405bc05e6
            X-Bt-Internal-Trace-Id:
                - 6914a0e200000000502d76f12e6f4926
        status: 200 OK
        code: 200
        duration: 316.9275ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Task_PrimitiveTypes-slug
        method: GET
      response:
        body: '{"objects":[{"id":"ebc61381-3f5a-4ee4-8f3e-b04e662732b2","_xact_id":"1000196129572439857","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Number Doubler","slug":"TestFunctionsAPI_Task_PrimitiveTypes-slug","description":null,"created":"2025-11-12T14:59:46.156Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Double this number: {{input}}. Return ONLY the number, no other text."}]},"options":{"model":"gpt-4o-mini","params":{"max_tokens":10,"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2ad-CoPP2rVdNAgftGxJ/Y68CUSI6lc"
            X-Amz-Apigw-Id:
                - T74TbEQjIAMEDMA=
            X-Amzn-Requestid:
                - 04eefa89-9e1d-4bfd-af10-44f926e5f1f6
            X-Bt-Internal-Trace-Id:
                - 6914a0e200000000469851fd09b99e49
        status: 200 OK
        code: 200
        duration: 398.501833ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"input":5}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/ebc61381-3f5a-4ee4-8f3e-b04e662732b2/invoke
        method: POST
      response:
        body: '"10"'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "263"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 40e09456-6cf0-4cf2-b7ee-d364c49c2e6a
            X-Bt-Cached:
                - HIT
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999982"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 511.248459ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/ebc61381-3f5a-4ee4-8f3e-b04e662732b2
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Task_PrimitiveTypes-slug","id":"ebc61381-3f5a-4ee4-8f3e-b04e662732b2","created":"2025-11-12T14:59:47.396Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129572506245"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12d-1s7FsO6dYm9ajjX4hoIl7ZmaL2k"
            X-Amz-Apigw-Id:
                - T74TkEKToAMEHig=
            X-Amzn-Requestid:
                - 3759a942-e0dc-440d-9077-2d465aa42651
            X-Bt-Internal-Trace-Id:
                - 6914a0e3000000006579657797296032
        status: 200 OK
        code: 200
        duration: 350.783667ms
