---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73onHlLIAMEW0Q=
            X-Amzn-Requestid:
                - 03bdfbef-3639-49d0-8a66-eba9c99f9cf8
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fd00000000014eea97f555663f7
        status: 200 OK
        code: 200
        duration: 101.604083ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Task_MapInput-slug
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T73ooGrkoAMEQcg=
            X-Amzn-Requestid:
                - d1112139-bfcd-4e17-b122-a912741dd87d
            X-Bt-Internal-Trace-Id:
                - 69149fd0000000000dc211b098262906
        status: 200 OK
        code: 200
        duration: 237.731875ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"Map Processing Task","slug":"TestFunctionsAPI_Task_MapInput-slug","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You process input and return a JSON object with a ''result'' field.","role":"system"},{"content":"Process this data: {{input.name}} - {{input.value}}. Return ONLY JSON like {\"result\": \"processed\"}","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Task_MapInput-slug","name":"Map Processing Task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You process input and return a JSON object with a ''result'' field.","role":"system"},{"content":"Process this data: {{input.name}} - {{input.value}}. Return ONLY JSON like {\"result\": \"processed\"}","role":"user"}],"type":"chat"}},"id":"734d35ae-8555-4132-b34e-b99b22515660","created":"2025-11-12T14:55:12.823Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129554490091"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2df-LCJLQ6cW6LoAknreHPxKro3bjyI"
            X-Amz-Apigw-Id:
                - T73oqHvFIAMEvrw=
            X-Amzn-Requestid:
                - ec501161-a71a-4625-8ad9-729e33d49d64
            X-Bt-Internal-Trace-Id:
                - 69149fd0000000000a0fff61e39ad2d0
        status: 200 OK
        code: 200
        duration: 363.500166ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Task_MapInput-slug
        method: GET
      response:
        body: '{"objects":[{"id":"734d35ae-8555-4132-b34e-b99b22515660","_xact_id":"1000196129554490091","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Map Processing Task","slug":"TestFunctionsAPI_Task_MapInput-slug","description":null,"created":"2025-11-12T14:55:12.823Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You process input and return a JSON object with a ''result'' field."},{"role":"user","content":"Process this data: {{input.name}} - {{input.value}}. Return ONLY JSON like {\"result\": \"processed\"}"}]},"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"temperature":0,"response_format":{"type":"json_object"}}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"356-nt17z3i7p9A7uFncw5HdP7tW/tA"
            X-Amz-Apigw-Id:
                - T73ouEBDoAMEXxA=
            X-Amzn-Requestid:
                - 26bbc187-57ab-4a55-bc6f-964a3fdffc84
            X-Bt-Internal-Trace-Id:
                - 69149fd1000000004ade788ce96b8fc3
        status: 200 OK
        code: 200
        duration: 325.874875ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"input":{"name":"test","nested":{"key":"value"},"value":42}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/734d35ae-8555-4132-b34e-b99b22515660/invoke
        method: POST
      response:
        body: '{"result":"processed"}'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "347"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 41fd8387-adbb-41e5-9302-f89eef5a0f86
            X-Bt-Cached:
                - MISS
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999960"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 1.517105625s
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/734d35ae-8555-4132-b34e-b99b22515660
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Task_MapInput-slug","id":"734d35ae-8555-4132-b34e-b99b22515660","created":"2025-11-12T14:55:15.028Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129554688421"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"127-Lpybmmrffshltv/CTyOMjw9VrIE"
            X-Amz-Apigw-Id:
                - T73pAH75oAMEVvA=
            X-Amzn-Requestid:
                - cc11b5d2-a129-403b-942a-c6a91775f96e
            X-Bt-Internal-Trace-Id:
                - 69149fd2000000002dfd0f010ec0fd29
        status: 200 OK
        code: 200
        duration: 322.262375ms
