---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T74VYEe4IAMElqA=
            X-Amzn-Requestid:
                - 42da371c-dfec-4379-aead-cc42759ab4d0
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6914a0ee00000000527c1170383cf97c
        status: 200 OK
        code: 200
        duration: 170.740792ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - T74VYEzCIAMELpQ=
            X-Amzn-Requestid:
                - bbb08fd5-4f6f-4c97-8a12-f5a0fb0acf1e
            X-Bt-Internal-Trace-Id:
                - 6914a0ee000000004354600fba21dd55
        status: 200 OK
        code: 200
        duration: 170.861583ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestEval_Integration_StringToStruct-task
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T74VZF8AoAMEKBQ=
            X-Amzn-Requestid:
                - d0164355-111a-440c-b1c5-913c0b8bda49
            X-Bt-Internal-Trace-Id:
                - 6914a0ef0000000050535e199bfdc42b
        status: 200 OK
        code: 200
        duration: 156.044458ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"JSON Answer Prompt","slug":"TestEval_Integration_StringToStruct-task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"temperature":0}},"prompt":{"messages":[{"content":"You are a helpful assistant that returns JSON.","role":"system"},{"content":"Return ONLY a JSON object (no other text) with an \"answer\" field containing the answer as a STRING. Question: {{input.question}}. Example: {\"answer\": \"4\"}","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestEval_Integration_StringToStruct-task","name":"JSON Answer Prompt","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"temperature":0}},"prompt":{"messages":[{"content":"You are a helpful assistant that returns JSON.","role":"system"},{"content":"Return ONLY a JSON object (no other text) with an \"answer\" field containing the answer as a STRING. Question: {{input.question}}. Example: {\"answer\": \"4\"}","role":"user"}],"type":"chat"}},"id":"556a8194-2c63-4957-b2a7-101ae47e5441","created":"2025-11-12T14:59:59.234Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129573300697"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2e1-AK/0chL8kmLCtoUc/7NfBdugwoQ"
            X-Amz-Apigw-Id:
                - T74VbHZ2oAMES3w=
            X-Amzn-Requestid:
                - fea41be7-f7ab-44a5-a1a8-ba4b55ebc957
            X-Bt-Internal-Trace-Id:
                - 6914a0ef00000000014169d5e55a2b17
        status: 200 OK
        code: 200
        duration: 283.726ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestEval_Integration_StringToStruct-task
        method: GET
      response:
        body: '{"objects":[{"id":"556a8194-2c63-4957-b2a7-101ae47e5441","_xact_id":"1000196129573300697","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"JSON Answer Prompt","slug":"TestEval_Integration_StringToStruct-task","description":null,"created":"2025-11-12T14:59:59.234Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You are a helpful assistant that returns JSON."},{"role":"user","content":"Return ONLY a JSON object (no other text) with an \"answer\" field containing the answer as a STRING. Question: {{input.question}}. Example: {\"answer\": \"4\"}"}]},"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"358-oTN48EySDjoAV9rxWABAbj4F3RE"
            X-Amz-Apigw-Id:
                - T74VeFa_IAMEYAA=
            X-Amzn-Requestid:
                - d527df34-fe14-4fad-a064-ff966b3c88e2
            X-Bt-Internal-Trace-Id:
                - 6914a0ef0000000042b43d6a5b910a8b
        status: 200 OK
        code: 200
        duration: 456.551334ms
[...]
    - id: 6
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"8ec25da8-1afb-4901-bac2-8140aad6efb0","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-fbea3e97","description":null,"created":"2025-11-12T15:00:00.260Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"182-b8d77yKuSqW434DLOhKyQLgxAuc"
            X-Amz-Apigw-Id:
                - T74VkHKfIAMEQYQ=
            X-Amzn-Requestid:
                - b9b423e0-a0b1-4d64-bc57-d5bec62731ef
            X-Bt-Internal-Trace-Id:
                - 6914a0f00000000044c34cc9466650b2
        status: 200 OK
        code: 200
        duration: 272.375042ms
    - id: 7
      request:
        host: api.braintrust.dev
        body: '{"input":{"question":"What is 2+2?"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/556a8194-2c63-4957-b2a7-101ae47e5441/invoke
        method: POST
      response:
        body: '"{\"answer\": \"4\"}"'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "241"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 44014d08-30a3-4f3b-a94e-fd9f1042614c
            X-Bt-Cached:
                - HIT
            X-Bt-Function-Creds-Cached:
                - HIT
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999947"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 577.166084ms
    - id: 8
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/556a8194-2c63-4957-b2a7-101ae47e5441
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestEval_Integration_StringToStruct-task","id":"556a8194-2c63-4957-b2a7-101ae47e5441","created":"2025-11-12T15:00:00.991Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129573432866"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12c-zeUxdsak442A7oD9BPRY9qASCc8"
            X-Amz-Apigw-Id:
                - T74VsGHZIAMEZhA=
            X-Amzn-Requestid:
                - 4b499d01-b87d-4157-8c45-788ad747ba4b
            X-Bt-Internal-Trace-Id:
                - 6914a0f0000000005456553ca9e1f02c
        status: 200 OK
        code: 200
        duration: 317.344542ms
