---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","description":null,"created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fe-rfCZvNlcUhLHZTl4/HHBhOEJFv4"
            X-Amz-Apigw-Id:
                - ZuR6FH-7IAMEMKQ=
            X-Amzn-Requestid:
                - 028ea526-fd6c-4e3c-9a74-abc85da09560
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69a8c9d90000000071cafbe183512841
        status: 200 OK
        code: 200
        duration: 356.208959ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - ZuR6FE_soAMEF0w=
            X-Amzn-Requestid:
                - 267d9a25-2507-4505-a0f9-7fb063adf47d
            X-Bt-Internal-Trace-Id:
                - 69a8c9d900000000128f46ab7b71df04
        status: 200 OK
        code: 200
        duration: 405.929209ms
[...]
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-spans","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"bcd37563-913d-4192-8df4-ad21f7789cc1","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-spans","description":null,"created":"2026-03-05T00:10:02.544Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"174-TF3v5bwhAKfv+utVChBaVQS1WcM"
            X-Amz-Apigw-Id:
                - ZuR6MEnaIAMERow=
            X-Amzn-Requestid:
                - e4809472-0925-442d-9e5b-4e42db5eafeb
            X-Bt-Internal-Trace-Id:
                - 69a8c9da0000000028661bb250455f79
        status: 200 OK
        code: 200
        duration: 383.825417ms
