---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/api/apikey/login
        method: POST
      response:
        body: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"101-EqXzt+vlRFUt5HCzQY7qxp9rZU0"
            X-Amz-Apigw-Id:
                - T73oWEuxIAMERxA=
            X-Amzn-Requestid:
                - 24a7e6f7-ae70-42d0-be73-60f8a2ecda4c
            X-Bt-Internal-Trace-Id:
                - 69149fce000000004d5ac9e7ec21ae91
        status: 200 OK
        code: 200
        duration: 163.3755ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oWHPqIAMEPtg=
            X-Amzn-Requestid:
                - 66fe9221-2a71-45be-889d-5282791f5e9a
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000004d1d7bbed8b99938
        status: 200 OK
        code: 200
        duration: 238.85275ms
[...]
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment","ensure_new":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/experiment
        method: POST
      response:
        body: '{"id":"17e79f0e-39da-49b6-8e3d-111e40fa85d8","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-experiment-7956a62d","description":null,"created":"2025-11-12T14:55:11.266Z","repo_info":{},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"public":false,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"tags":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"182-o88cGEcO+bJxQuIIbpWhZRcgbks"
            X-Amz-Apigw-Id:
                - T73obFFtoAMEmWw=
            X-Amzn-Requestid:
                - d3f7caf6-7bb5-410c-8947-ae6a90cf9aa6
            X-Bt-Internal-Trace-Id:
                - 69149fcf00000000227f71c0bf5ed2d3
        status: 200 OK
        code: 200
        duration: 197.899959ms
[...]
