---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests-dataset-query"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"7c2aa411-2c8e-48e3-a3cc-33a72b08e222","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests-dataset-query","created":"2025-11-13T17:07:41.050Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"f9-61Gr5WEpKlmCuIUo15hbXzObHEE"
            X-Amz-Apigw-Id:
                - T_ewVHePIAMElNw=
            X-Amzn-Requestid:
                - 8d18af33-dfe5-4fd3-8b2c-a31a876a9622
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6916119b000000002fb158a61948da05
        status: 200 OK
        code: 200
        duration: 172.144917ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"7c2aa411-2c8e-48e3-a3cc-33a72b08e222","name":"test-dataset-by-project","description":"Test dataset for querying by name and project"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"175812db-c6d6-4cb2-86ea-6b2c985e54bc","project_id":"7c2aa411-2c8e-48e3-a3cc-33a72b08e222","name":"test-dataset-by-project","description":"Test dataset for querying by name and project","created":"2025-11-13T17:12:59.558Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"138-2UTzHqve3ckcc4FJqz+b9RNj0PA"
            X-Amz-Apigw-Id:
                - T_ewWE5oIAMEApQ=
            X-Amzn-Requestid:
                - 8b2ce207-b6ee-4190-a0f1-c8c7e4b3a3eb
            X-Bt-Internal-Trace-Id:
                - 6916119b000000000490cb3e605d5f97
        status: 200 OK
        code: 200
        duration: 164.630667ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"question":"What is Go?"},"expected":{"answer":"A programming language"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/175812db-c6d6-4cb2-86ea-6b2c985e54bc/insert
        method: POST
      response:
        body: '{"row_ids":["e0270fce-e615-4859-8c76-0b6647a97afe"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"34-q4d+M/a/seiwH1pu7KS1EgiO/9g"
            X-Amz-Apigw-Id:
                - T_ewYG53IAMENPA=
            X-Amzn-Requestid:
                - 2f519124-3c21-426a-aa88-e9c1ccac422a
            X-Bt-Internal-Trace-Id:
                - 6916119b00000000436d440ef37fbbd4
        status: 200 OK
        code: 200
        duration: 369.551875ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?dataset_name=test-dataset-by-project&limit=1&project_name=go-sdk-tests-dataset-query
        method: GET
      response:
        body: '{"objects":[{"id":"175812db-c6d6-4cb2-86ea-6b2c985e54bc","project_id":"7c2aa411-2c8e-48e3-a3cc-33a72b08e222","name":"test-dataset-by-project","description":"Test dataset for querying by name and project","created":"2025-11-13T17:12:59.558Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"146-SbDaLoEBrFFeWs2z7/gh7yMHMNo"
            X-Amz-Apigw-Id:
                - T_ewbEydIAMEBtQ=
            X-Amzn-Requestid:
                - 01527a56-d41e-4bcc-8274-328aee1e48c9
            X-Bt-Internal-Trace-Id:
                - 6916119c00000000003a252a1e5e6020
        status: 200 OK
        code: 200
        duration: 176.028ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"limit":100}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/175812db-c6d6-4cb2-86ea-6b2c985e54bc/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07572259183944925184","_xact_id":"1000196135758575162","created":"2025-11-13T17:12:59.636Z","dataset_id":"175812db-c6d6-4cb2-86ea-6b2c985e54bc","expected":{"answer":"A programming language"},"id":"e0270fce-e615-4859-8c76-0b6647a97afe","input":{"question":"What is Go?"},"is_root":true,"metadata":null,"origin":null,"project_id":"7c2aa411-2c8e-48e3-a3cc-33a72b08e222","root_span_id":"d8ee61d0-8f9e-4f9d-9088-5ac88e99502b","span_id":"d8ee61d0-8f9e-4f9d-9088-5ac88e99502b","tags":null}],"cursor":"aRYRm7Y6AAA"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - T_ewdHBhoAMEjEg=
            X-Amzn-Requestid:
                - b4616ea6-7f98-4714-b412-69ea64300dea
            X-Bt-Cursor:
                - aRYRm7Y6AAA
            X-Bt-Internal-Trace-Id:
                - 6916119c0000000071613a04db288ac8
        status: 200 OK
        code: 200
        duration: 345.272208ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?dataset_name=test-dataset-by-project&limit=1&project_id=7c2aa411-2c8e-48e3-a3cc-33a72b08e222
        method: GET
      response:
        body: '{"objects":[{"id":"175812db-c6d6-4cb2-86ea-6b2c985e54bc","project_id":"7c2aa411-2c8e-48e3-a3cc-33a72b08e222","name":"test-dataset-by-project","description":"Test dataset for querying by name and project","created":"2025-11-13T17:12:59.558Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"146-SbDaLoEBrFFeWs2z7/gh7yMHMNo"
            X-Amz-Apigw-Id:
                - T_ewhFB0IAMEooQ=
            X-Amzn-Requestid:
                - 3b87da78-1e9d-4701-abff-f003b2ac9cc4
            X-Bt-Internal-Trace-Id:
                - 6916119c000000005645956b97ed1d38
        status: 200 OK
        code: 200
        duration: 172.387208ms
[...]
    - id: 7
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset/175812db-c6d6-4cb2-86ea-6b2c985e54bc
        method: DELETE
      response:
        body: '{"id":"175812db-c6d6-4cb2-86ea-6b2c985e54bc","project_id":"7c2aa411-2c8e-48e3-a3cc-33a72b08e222","name":"test-dataset-by-project","description":"Test dataset for querying by name and project","created":"2025-11-13T17:12:59.558Z","deleted_at":"2025-11-13T17:13:00.920Z","user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"14e-NdRM8fdkisYt5/FKJlzhLoaOCV0"
            X-Amz-Apigw-Id:
                - T_ewkEL-IAMELpQ=
            X-Amzn-Requestid:
                - fd39b31a-ed05-4dbf-a1d6-156c7e27f785
            X-Bt-Internal-Trace-Id:
                - 6916119c000000007b3aec5189a67bc9
        status: 200 OK
        code: 200
        duration: 152.116667ms
