---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oWHB7IAMEpJA=
            X-Amzn-Requestid:
                - fe816e3b-7c39-4f47-9b8c-6d8d5a14fcb8
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000123da9aa55270dc8
        status: 200 OK
        code: 200
        duration: 137.848583ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Task_StringInput-slug
        method: GET
      response:
        body: '{"objects":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e-xZKibKAiOxxBbzTm2byfFNRkvtA"
            X-Amz-Apigw-Id:
                - T73oXHtCIAMEtRw=
            X-Amzn-Requestid:
                - a9579a15-6d9c-443c-8ebf-34eac284adf1
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000044278dffe39980ce
        status: 200 OK
        code: 200
        duration: 195.774959ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"String Echo Task","slug":"TestFunctionsAPI_Task_StringInput-slug","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0,"use_cache":true}},"prompt":{"messages":[{"content":"Echo this text: {{input}}","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Task_StringInput-slug","name":"String Echo Task","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0,"use_cache":true}},"prompt":{"messages":[{"content":"Echo this text: {{input}}","role":"user"}],"type":"chat"}},"id":"99c5cba6-a129-456f-8bfe-8ad356d3ca2d","created":"2025-11-12T14:55:11.057Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129554423318"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"20a-sDVZFzF5rwwkz2xMxByjeEibYf4"
            X-Amz-Apigw-Id:
                - T73oZH1FIAMENoQ=
            X-Amzn-Requestid:
                - c1ce7a8a-9161-40fe-ba8a-db8a8bc79ce3
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000047f486e1de07f3bd
        status: 200 OK
        code: 200
        duration: 384.759458ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=TestFunctionsAPI_Task_StringInput-slug
        method: GET
      response:
        body: '{"objects":[{"id":"99c5cba6-a129-456f-8bfe-8ad356d3ca2d","_xact_id":"1000196129554423318","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"String Echo Task","slug":"TestFunctionsAPI_Task_StringInput-slug","description":null,"created":"2025-11-12T14:55:11.057Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Echo this text: {{input}}"}]},"options":{"model":"gpt-4o-mini","params":{"use_cache":true,"temperature":0}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"281-StKmvK69soAwajE0dt99Rt4mQEY"
            X-Amz-Apigw-Id:
                - T73odH3roAMENoQ=
            X-Amzn-Requestid:
                - 051994b6-07fa-4cb0-bc4a-5b7aa67ae247
            X-Bt-Internal-Trace-Id:
                - 69149fcf000000005a1c83a7de7f9bef
        status: 200 OK
        code: 200
        duration: 332.840042ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"input":"hello world"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/99c5cba6-a129-456f-8bfe-8ad356d3ca2d/invoke
        method: POST
      response:
        body: '"hello world"'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "287"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - 1fb24d61-0a68-44bc-b762-03168626f74d
            X-Bt-Cached:
                - HIT
            X-Bt-Function-Creds-Cached:
                - MISS
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999990"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 640.261792ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/99c5cba6-a129-456f-8bfe-8ad356d3ca2d
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"TestFunctionsAPI_Task_StringInput-slug","id":"99c5cba6-a129-456f-8bfe-8ad356d3ca2d","created":"2025-11-12T14:55:12.416Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129554489815"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12a-6OSDRqj8cvNKPhkbZ4LvDAKYjCk"
            X-Amz-Apigw-Id:
                - T73omFSeoAMEiOg=
            X-Amzn-Requestid:
                - a3ed777e-611c-417a-9e04-f409050d7c67
            X-Bt-Internal-Trace-Id:
                - 69149fd00000000052019f1c839413c5
        status: 200 OK
        code: 200
        duration: 455.830375ms
