---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oWF9SIAMEs1A=
            X-Amzn-Requestid:
                - 833afb4c-f135-4f22-b733-7c8e9d6e66ab
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000792debc329b77eb2
        status: 200 OK
        code: 200
        duration: 136.37475ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-get","description":"Test dataset for DatasetAPI.Get"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"4f4979ac-adf6-4902-8df7-79d009b6ad0c","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-get","description":"Test dataset for DatasetAPI.Get","created":"2025-11-12T02:58:27.657Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"123-XPMURzMU4BDHKqMN/8+CR7Ms1NI"
            X-Amz-Apigw-Id:
                - T73oXHtBoAMEtRw=
            X-Amzn-Requestid:
                - 0f87fe17-8a35-4bbb-b8d2-d2268a98976f
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000007b77f1e493c5dfd0
        status: 200 OK
        code: 200
        duration: 160.136375ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"question":"What is 2+2?"},"expected":{"answer":"4"},"tags":["math","easy"]},{"input":{"question":"What is the capital of France?"},"expected":{"answer":"Paris"},"tags":["geography"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/4f4979ac-adf6-4902-8df7-79d009b6ad0c/insert
        method: POST
      response:
        body: '{"row_ids":["2f36ed52-21f5-4aa0-9e38-0df77153c23c","3483b3be-2ffd-475f-baed-13a32f2a933a"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"5b-AwnQB3pFFfaf8cK12Ax1g+bk+SE"
            X-Amz-Apigw-Id:
                - T73oYHweIAMEodw=
            X-Amzn-Requestid:
                - b7ebb4dc-a4d6-4564-ae52-bd8ed7ab2d11
            X-Bt-Internal-Trace-Id:
                - 69149fce000000003cd3c81c822c1cd1
        status: 200 OK
        code: 200
        duration: 426.460125ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"limit":100}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/4f4979ac-adf6-4902-8df7-79d009b6ad0c/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07571852588647710721","_xact_id":"1000196129554423288","created":"2025-11-12T14:55:10.910Z","dataset_id":"4f4979ac-adf6-4902-8df7-79d009b6ad0c","expected":{"answer":"Paris"},"id":"3483b3be-2ffd-475f-baed-13a32f2a933a","input":{"question":"What is the capital of France?"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"c6ea0d23-70e8-4069-bd46-a1a810d6bf40","span_id":"c6ea0d23-70e8-4069-bd46-a1a810d6bf40","tags":["geography"]},{"_pagination_key":"p07571852588647710720","_xact_id":"1000196129554423288","created":"2025-11-12T14:55:10.910Z","dataset_id":"4f4979ac-adf6-4902-8df7-79d009b6ad0c","expected":{"answer":"4"},"id":"2f36ed52-21f5-4aa0-9e38-0df77153c23c","input":{"question":"What is 2+2?"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"39480b61-1d1f-487e-9670-98f70a462806","span_id":"39480b61-1d1f-487e-9670-98f70a462806","tags":["math","easy"]}],"cursor":"aRSfz934AAA"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - T73odGmaoAMEDVA=
            X-Amzn-Requestid:
                - e49a1ae6-08ca-419d-80c4-2af9f4324312
            X-Bt-Cursor:
                - aRSfz934AAA
            X-Bt-Internal-Trace-Id:
                - 69149fcf000000004dffda890f3670cb
        status: 200 OK
        code: 200
        duration: 125.108667ms
[...]
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset/4f4979ac-adf6-4902-8df7-79d009b6ad0c
        method: DELETE
      response:
        body: '{"id":"4f4979ac-adf6-4902-8df7-79d009b6ad0c","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-get","description":"Test dataset for DatasetAPI.Get","created":"2025-11-12T02:58:27.657Z","deleted_at":"2025-11-12T14:55:11.696Z","user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"139-qbEEtLySdzqa4RLgz8agG9kAIq4"
            X-Amz-Apigw-Id:
                - T73ofGJMoAMEGoA=
            X-Amzn-Requestid:
                - 1f3863b0-2a60-427b-acbe-0fcf223664c6
            X-Bt-Internal-Trace-Id:
                - 69149fcf000000000d0edeaec06d682b
        status: 200 OK
        code: 200
        duration: 170.921834ms
