---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"7f591203-74a0-4126-9103-1fb905b32618","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"go-sdk-tests","description":null,"created":"2026-08-13T20:45:31.574Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fe-e5XSQJyAK+9rnBrPXkKT/jlKL04"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CGPydHYFoAMEnpQ=
            X-Amzn-Requestid:
                - f7775fc1-e422-4dd4-af55-c1db162ca723
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6a7f2cdc000000000201ba54fedd20dc
        status: 200 OK
        code: 200
        duration: 121.355822ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"7f591203-74a0-4126-9103-1fb905b32618","name":"sdk-go-load-prompt","slug":"sdk-go-load-prompt","function_type":"prompt","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"prompt":{"messages":[{"content":"You greet people warmly.","role":"system"},{"content":"Say hello to {{name}}.","role":"user"}],"type":"chat"},"template_format":"mustache"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"7f591203-74a0-4126-9103-1fb905b32618","slug":"sdk-go-load-prompt","name":"sdk-go-load-prompt","function_type":"prompt","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"prompt":{"messages":[{"content":"You greet people warmly.","role":"system"},{"content":"Say hello to {{name}}.","role":"user"}],"type":"chat"},"template_format":"mustache"},"id":"9db0c7e3-4cd8-478b-9048-1af5b3d854fe","created":"2026-08-14T14:57:32.298Z","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","_xact_id":"1000197686699028920"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"251-ANH2kEudGi//WyDPHql3p1zGXFc"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CGPyeFpkIAMEVRQ=
            X-Amzn-Requestid:
                - 6dc766f8-75af-40c8-85f8-5c303131c11e
            X-Bt-Internal-Trace-Id:
                - 6a7f2cdc00000000526a0562972a2ae9
        status: 200 OK
        code: 200
        duration: 262.08601ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/prompt?limit=1&project_name=go-sdk-tests&slug=sdk-go-load-prompt
        method: GET
      response:
        body: '{"objects":[{"_xact_id":"1000197686699028920","created":"2026-08-14T14:57:32.298Z","description":null,"function_type":"prompt","id":"9db0c7e3-4cd8-478b-9048-1af5b3d854fe","log_id":"p","metadata":null,"name":"sdk-go-load-prompt","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","project_id":"7f591203-74a0-4126-9103-1fb905b32618","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You greet people warmly."},{"role":"user","content":"Say hello to {{name}}."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"template_format":"mustache"},"slug":"sdk-go-load-prompt","tags":null,"function_data":{"type":"prompt"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"28e-oiNY5yIaVrgkrkmBvxQCaQZo8Pw"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CGPyhFpjIAMEhpg=
            X-Amzn-Requestid:
                - 355563da-462d-48c2-b0b8-46789e776b19
            X-Bt-Internal-Trace-Id:
                - 6a7f2cdc000000001e2c75d81d39625c
        status: 200 OK
        code: 200
        duration: 330.994684ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/prompt/9db0c7e3-4cd8-478b-9048-1af5b3d854fe
        method: GET
      response:
        body: '{"_xact_id":"1000197686699028920","created":"2026-08-14T14:57:32.298Z","description":null,"function_type":"prompt","id":"9db0c7e3-4cd8-478b-9048-1af5b3d854fe","log_id":"p","metadata":null,"name":"sdk-go-load-prompt","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","project_id":"7f591203-74a0-4126-9103-1fb905b32618","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You greet people warmly."},{"role":"user","content":"Say hello to {{name}}."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"template_format":"mustache"},"slug":"sdk-go-load-prompt","tags":null,"function_data":{"type":"prompt"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"280-wtSHLkYcDy0XFl83W+BqW688Ey0"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CGPykGaIoAMEG1A=
            X-Amzn-Requestid:
                - b1f2f75e-5226-4a9b-b56d-3b5f2b96ca54
            X-Bt-Internal-Trace-Id:
                - 6a7f2cdc0000000054625bfa60f6c20a
        status: 200 OK
        code: 200
        duration: 333.91419ms
