---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"7f591203-74a0-4126-9103-1fb905b32618","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"go-sdk-tests","description":null,"created":"2026-08-13T20:45:31.574Z","deleted_at":null,"user_id":"c755328d-f64a-4737-a984-e83c088cd9f7","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fe-e5XSQJyAK+9rnBrPXkKT/jlKL04"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CGPyVGwxoAMEa1A=
            X-Amzn-Requestid:
                - 05fb1ce5-865f-43be-bf8b-fee995cc776f
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 6a7f2cdb00000000170b24d6a9841b24
        status: 200 OK
        code: 200
        duration: 132.34905ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"7f591203-74a0-4126-9103-1fb905b32618","name":"sdk-go-load-prompt","slug":"sdk-go-load-prompt","function_type":"prompt","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"prompt":{"messages":[{"content":"You greet people warmly.","role":"system"},{"content":"Say hello to {{name}}.","role":"user"}],"type":"chat"},"template_format":"mustache"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"7f591203-74a0-4126-9103-1fb905b32618","slug":"sdk-go-load-prompt","name":"sdk-go-load-prompt","function_type":"prompt","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"prompt":{"messages":[{"content":"You greet people warmly.","role":"system"},{"content":"Say hello to {{name}}.","role":"user"}],"type":"chat"},"template_format":"mustache"},"id":"9db0c7e3-4cd8-478b-9048-1af5b3d854fe","created":"2026-08-14T14:57:31.456Z","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","_xact_id":"1000197686698959449"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"251-oNjF6APGRyAKrXr1xn87Wdabubo"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CGPyWHGrIAMEXxw=
            X-Amzn-Requestid:
                - d9484f14-d73c-42e2-b912-5507cea07c5e
            X-Bt-Internal-Trace-Id:
                - 6a7f2cdb0000000066eb14fbcbaadb78
        status: 200 OK
        code: 200
        duration: 358.87096ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/prompt?limit=1&project_name=go-sdk-tests&slug=sdk-go-load-prompt
        method: GET
      response:
        body: '{"objects":[{"_xact_id":"1000197686698959449","created":"2026-08-14T14:57:31.456Z","description":null,"function_type":"prompt","id":"9db0c7e3-4cd8-478b-9048-1af5b3d854fe","log_id":"p","metadata":null,"name":"sdk-go-load-prompt","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","project_id":"7f591203-74a0-4126-9103-1fb905b32618","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You greet people warmly."},{"role":"user","content":"Say hello to {{name}}."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"template_format":"mustache"},"slug":"sdk-go-load-prompt","tags":null,"function_data":{"type":"prompt"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"28e-K+OQb5QHzAp0S80YmzX/871P+10"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - CGPyaGJdoAMEkIQ=
            X-Amzn-Requestid:
                - e43e097f-1764-40db-bb51-d67defda4ea9
            X-Bt-Internal-Trace-Id:
                - 6a7f2cdb00000000594e72dca5901632
        status: 200 OK
        code: 200
        duration: 307.317695ms
