---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0bEEpvoAMEDcQ=
            X-Amzn-Requestid:
                - a9551965-7cf5-4788-a5bb-7704655fe54e
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e344600000000454fe5859d567d11
        status: 200 OK
        code: 200
        duration: 178.735791ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-function","slug":"test-func","function_data":{"type":"prompt"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"test-func","name":"test-function","function_data":{"type":"prompt"},"id":"7936de43-14f4-4176-aa15-06578696cc47","created":"2025-11-07T18:02:46.952Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196101980529144"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"130-c/wSwQKzES52L0lM+Z0yeeu+/uk"
            X-Amz-Apigw-Id:
                - Tr0bIGKGoAMESaQ=
            X-Amzn-Requestid:
                - 676c6094-08f0-43f1-9ff2-d9c602d176e4
            X-Bt-Internal-Trace-Id:
                - 690e34460000000026ad1a543ed9b914
        status: 200 OK
        code: 200
        duration: 385.424ms
