---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oTH53oAMEWTg=
            X-Amzn-Requestid:
                - c93b35dc-bd49-47e1-9bbb-7bb30cc95d12
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000005cf618ddbee3f27
        status: 200 OK
        code: 200
        duration: 185.12175ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-function-query","slug":"test-func-query","function_data":{"type":"prompt"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"test-func-query","name":"test-function-query","function_data":{"type":"prompt"},"id":"4c86d5a6-ea7e-4535-a959-95a7c4bc882e","created":"2025-11-12T14:55:10.648Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129554423146"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"13c-/l76PcvG0Zcjjfs3ZRdwgP0kI1w"
            X-Amz-Apigw-Id:
                - T73oUF28IAMEOYA=
            X-Amzn-Requestid:
                - 968bc679-d6cd-4cb7-ab93-4d2e5a92f6b2
            X-Bt-Internal-Trace-Id:
                - 69149fce000000005ee600d578064137
        status: 200 OK
        code: 200
        duration: 600.801167ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=test-func-query
        method: GET
      response:
        body: '{"objects":[{"id":"4c86d5a6-ea7e-4535-a959-95a7c4bc882e","_xact_id":"1000196129554423146","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-function-query","slug":"test-func-query","description":null,"created":"2025-11-12T14:55:10.648Z","prompt_data":null,"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1c6-UEq/KlS8ocbEgoYWbXPyeo976Sw"
            X-Amz-Apigw-Id:
                - T73oaGtdIAMEpxw=
            X-Amzn-Requestid:
                - e645ae4c-ba1c-49ee-b532-b2f0fe1134d8
            X-Bt-Internal-Trace-Id:
                - 69149fcf000000005ffb2f29960a14d3
        status: 200 OK
        code: 200
        duration: 325.922208ms
