---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0bEG0tIAMEqFw=
            X-Amzn-Requestid:
                - 719c90b1-9c89-42e4-9263-5adcb2054620
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34460000000015ae22043404215d
        status: 200 OK
        code: 200
        duration: 171.52125ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-function","slug":"test-func","function_data":{"type":"prompt"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"test-func","name":"test-function","function_data":{"type":"prompt"},"id":"7936de43-14f4-4176-aa15-06578696cc47","created":"2025-11-07T18:02:46.944Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196101980529235"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"130-07qbPyyJs7n2SwKIPUYgKakSrGs"
            X-Amz-Apigw-Id:
                - Tr0bIHesoAMESfQ=
            X-Amzn-Requestid:
                - da43b340-fbae-45fe-9115-6c2db1cd6340
            X-Bt-Internal-Trace-Id:
                - 690e3446000000003f94708360dd0480
        status: 200 OK
        code: 200
        duration: 516.451833ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/7936de43-14f4-4176-aa15-06578696cc47
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"test-func","id":"7936de43-14f4-4176-aa15-06578696cc47","created":"2025-11-07T18:02:47.956Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196101980595376"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"10d-sjPQFRmqgi92LWBahbpkAqAovj8"
            X-Amz-Apigw-Id:
                - Tr0bSF5kIAMEsKg=
            X-Amzn-Requestid:
                - 2f92061b-f334-47d7-9e77-961055a077ba
            X-Bt-Internal-Trace-Id:
                - 690e3447000000002061dcbe17d6452f
        status: 200 OK
        code: 200
        duration: 287.367541ms
