---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oTE2XoAMEH2A=
            X-Amzn-Requestid:
                - 1d0e99e2-903b-4623-8de7-ab4e5f1d0edd
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000007027a038b6e3c8e5
        status: 200 OK
        code: 200
        duration: 2.849920375s
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-function","slug":"lifecycle-func","function_data":{"type":"prompt"},"description":"Test function for lifecycle testing"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"lifecycle-func","name":"lifecycle-function","function_data":{"type":"prompt"},"description":"Test function for lifecycle testing","id":"aeeea34c-e7bb-4fba-b6f2-ba63d3e07916","created":"2025-11-12T14:55:13.254Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129554556016"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"16e-x6545Q5yF2GsKNykRZ0OnfW6SRU"
            X-Amz-Apigw-Id:
                - T73ovGOqIAMEiKw=
            X-Amzn-Requestid:
                - 79c72efd-e10b-4846-8907-9b420f453261
            X-Bt-Internal-Trace-Id:
                - 69149fd10000000002099d399935fff1
        status: 200 OK
        code: 200
        duration: 312.006041ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=lifecycle-func
        method: GET
      response:
        body: '{"objects":[{"id":"aeeea34c-e7bb-4fba-b6f2-ba63d3e07916","_xact_id":"1000196129554556016","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"lifecycle-function","slug":"lifecycle-func","description":"Test function for lifecycle testing","created":"2025-11-12T14:55:13.254Z","prompt_data":null,"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1e5-KjKa+q/qrIIql3vwI2Q5fEiY9Xs"
            X-Amz-Apigw-Id:
                - T73oyFQBIAMERiw=
            X-Amzn-Requestid:
                - eab86a0f-b1ae-431d-acc6-f4b421c041c9
            X-Bt-Internal-Trace-Id:
                - 69149fd100000000321b12c67a0221c2
        status: 200 OK
        code: 200
        duration: 340.709208ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=100&project_id=842c2063-b9c7-4c40-9fb9-fa95f810c57f
        method: GET
      response:
        body: '{"objects":[{"id":"19d91d52-a200-417d-a671-8b4c15bfa029","_xact_id":"1000196129554556293","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Struct Math Task","slug":"TestFunctionsAPI_Task_StructInput-slug","description":null,"created":"2025-11-12T14:55:13.527Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You return JSON with the answer field containing the numeric result."},{"role":"user","content":"Calculate {{input.operation}} of {{input.a}} and {{input.b}}. Return ONLY a JSON object like {\"answer\": 5}. No other text."}]},"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"temperature":0,"response_format":{"type":"json_object"}}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null},{"id":"734d35ae-8555-4132-b34e-b99b22515660","_xact_id":"1000196129554490091","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Map Processing Task","slug":"TestFunctionsAPI_Task_MapInput-slug","description":null,"created":"2025-11-12T14:55:12.823Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You process input and return a JSON object with a ''result'' field."},{"role":"user","content":"Process this data: {{input.name}} - {{input.value}}. Return ONLY JSON like {\"result\": \"processed\"}"}]},"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"temperature":0,"response_format":{"type":"json_object"}}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null},{"id":"7aadb07d-f950-4c1c-8ff4-f9922c5c0b58","_xact_id":"1000196129554489628","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"Type Flexible Scorer","slug":"TestFunctionsAPI_Scorer_VariousTypes-slug","description":null,"created":"2025-11-12T14:55:12.198Z","prompt_data":{"parser":{"type":"llm_classifier","use_cot":true,"choice_scores":{"bad":0,"good":1}},"prompt":{"type":"chat","messages":[{"role":"system","content":"You are a scorer. Evaluate quality."},{"role":"user","content":"Input: {{input}}, Output: {{output}}. Choose ''good'' or ''bad''."}]},"options":{"model":"gpt-4o-mini","params":{"use_cache":true,"temperature":0}}},"tags":null,"metadata":null,"function_type":"scorer","function_data":{"type":"prompt"},"origin":null,"function_schema":null},{"id":"9b72d6a8-c05e-49e6-920c-e9fa1c8896c3","_xact_id":"1000196129554423607","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"E2E Scorer","slug":"TestFunctionsAPI_EndToEnd_MixedTypes-scorer","description":null,"created":"2025-11-12T14:55:11.549Z","prompt_data":{"parser":{"type":"llm_classifier","use_cot":false,"choice_scores":{"correct":1,"incorrect":0}},"prompt":{"type":"chat","messages":[{"role":"system","content":"You are a scorer."},{"role":"user","content":"Is the output.answer field non-empty? Choose ''correct'' if yes, ''incorrect'' if no."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}}},"tags":null,"metadata":null,"function_type":"scorer","function_data":{"type":"prompt"},"origin":null,"function_schema":null},{"id":"ee59bcbe-ac13-4fe9-9ef8-45bd7e6cb9b4","_xact_id":"1000196129554556325","project_id":"842c2063-b9c7-4c4[...]
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/aeeea34c-e7bb-4fba-b6f2-ba63d3e07916
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"lifecycle-func","id":"aeeea34c-e7bb-4fba-b6f2-ba63d3e07916","created":"2025-11-12T14:55:14.544Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129554622485"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"112-1PWAxdfASfUTMpeqdvDZ7/RJeLU"
            X-Amz-Apigw-Id:
                - T73o8FJcIAMEolQ=
            X-Amzn-Requestid:
                - 31eab6a7-ec9e-4325-85c2-7e3fc6131afa
            X-Bt-Internal-Trace-Id:
                - 69149fd2000000001962225e30b99b1b
        status: 200 OK
        code: 200
        duration: 324.508334ms
[...]
