---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0bEGNgIAMEkEg=
            X-Amzn-Requestid:
                - b26a2759-cdf4-4224-8bc3-274b5e829838
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34460000000048c30f1155a7e8ed
        status: 200 OK
        code: 200
        duration: 145.059042ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-function-query","slug":"test-func-query","function_data":{"type":"prompt"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"test-func-query","name":"test-function-query","function_data":{"type":"prompt"},"id":"4c86d5a6-ea7e-4535-a959-95a7c4bc882e","created":"2025-11-07T18:02:46.887Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196101980529142"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"13c-uHvd11gJtOohgb2YRxgH49uIFQo"
            X-Amz-Apigw-Id:
                - Tr0bHGa5oAMEOyQ=
            X-Amzn-Requestid:
                - df4dc2e9-0812-4cb0-8de5-57d7378b5996
            X-Bt-Internal-Trace-Id:
                - 690e3446000000003efa4e26506da79c
        status: 200 OK
        code: 200
        duration: 468.355416ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=test-func-query
        method: GET
      response:
        body: '{"objects":[{"id":"4c86d5a6-ea7e-4535-a959-95a7c4bc882e","_xact_id":"1000196101980529142","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-function-query","slug":"test-func-query","description":null,"created":"2025-11-07T18:02:46.887Z","prompt_data":null,"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1c6-DO7PEaiJbAXLYl7UeXhqTTbmN7E"
            X-Amz-Apigw-Id:
                - Tr0bQF-8IAMEApA=
            X-Amzn-Requestid:
                - da218703-4510-4071-bd15-34ea69395869
            X-Bt-Internal-Trace-Id:
                - 690e3447000000007a75eb6e2236c644
        status: 200 OK
        code: 200
        duration: 317.901125ms
