---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oTHpvoAMEuvw=
            X-Amzn-Requestid:
                - a99e4dde-7bcb-495d-927b-f312a585914e
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000652a5c13f62f5427
        status: 200 OK
        code: 200
        duration: 164.58075ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-function","slug":"test-func","function_data":{"type":"prompt"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"test-func","name":"test-function","function_data":{"type":"prompt"},"id":"b870d6be-1bb6-409d-af8f-e34d5820f0ab","created":"2025-11-12T14:55:10.681Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129554357515"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"130-ubW7Z3hPKhNyiUum+jAAYFTqlNQ"
            X-Amz-Apigw-Id:
                - T73oUEuYoAMEFWw=
            X-Amzn-Requestid:
                - d4ed7f05-5572-4b30-9af9-01ecb40f88b2
            X-Bt-Internal-Trace-Id:
                - 69149fce000000001e6123906cc8bac5
        status: 200 OK
        code: 200
        duration: 526.07125ms
