---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0bFFWiIAMEHTg=
            X-Amzn-Requestid:
                - b31acfff-33da-448d-bbf0-cac31ca482ba
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e3446000000000753a6046b6e6957
        status: 200 OK
        code: 200
        duration: 157.318667ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-function","slug":"lifecycle-func","function_data":{"type":"prompt"},"description":"Test function for lifecycle testing"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"lifecycle-func","name":"lifecycle-function","function_data":{"type":"prompt"},"description":"Test function for lifecycle testing","id":"aafabf48-0cae-4750-9e44-74b1d52b65eb","created":"2025-11-07T18:02:46.896Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196101980529124"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"16e-R5dXziD42p0Dwp7TWaEwRGQcY3Y"
            X-Amz-Apigw-Id:
                - Tr0bHGXEIAMEMYA=
            X-Amzn-Requestid:
                - fbe38289-a64d-415c-981e-887d085abcb2
            X-Bt-Internal-Trace-Id:
                - 690e3446000000004e30507b26b15345
        status: 200 OK
        code: 200
        duration: 386.675625ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=1&project_name=go-sdk-tests&slug=lifecycle-func
        method: GET
      response:
        body: '{"objects":[{"id":"aafabf48-0cae-4750-9e44-74b1d52b65eb","_xact_id":"1000196101980529124","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"lifecycle-function","slug":"lifecycle-func","description":"Test function for lifecycle testing","created":"2025-11-07T18:02:46.896Z","prompt_data":null,"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1e5-t+RkjcT959HFoIcmnptDhCOGlII"
            X-Amz-Apigw-Id:
                - Tr0bPEShoAMEENQ=
            X-Amzn-Requestid:
                - fcc585c7-8fd9-4215-a04f-2228283af634
            X-Bt-Internal-Trace-Id:
                - 690e34470000000056286c1ed5879023
        status: 200 OK
        code: 200
        duration: 311.761458ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function?limit=100&project_id=842c2063-b9c7-4c40-9fb9-fa95f810c57f
        method: GET
      response:
        body: '{"objects":[{"id":"8a7465a5-45e7-4a36-87cf-7ab49d6c2085","_xact_id":"1000196101980529120","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"test-prompt","slug":"test-prompt","description":null,"created":"2025-11-07T18:02:46.918Z","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You are a helpful assistant. Respond with valid JSON in the format: {\"answer\": \"your answer here\"}"},{"role":"user","content":"{{input.question}}"}]},"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"temperature":0,"response_format":{"type":"json_object"}}}},"tags":null,"metadata":null,"function_type":null,"function_data":{"type":"prompt"},"origin":null,"function_schema":null},{"id":"aafabf48-0cae-4750-9e44-74b1d52b65eb","_xact_id":"1000196101980529124","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","log_id":"p","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"lifecycle-function","slug":"lifecycle-func","description":"Test function for lifecycle testing","created":"2025-11-07T18:02:46.896Z","prompt_data":null,"t[...]
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/aafabf48-0cae-4750-9e44-74b1d52b65eb
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"lifecycle-func","id":"aafabf48-0cae-4750-9e44-74b1d52b65eb","created":"2025-11-07T18:02:49.141Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196101980661778"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"112-11dWWZyZaQP+R8BhIQZuYuVpQPI"
            X-Amz-Apigw-Id:
                - Tr0beHsRoAMEBSQ=
            X-Amzn-Requestid:
                - de20b495-20c5-4e03-bcad-dd2d31de2c25
            X-Bt-Internal-Trace-Id:
                - 690e34490000000055577b966865ef9e
        status: 200 OK
        code: 200
        duration: 333.622541ms
[...]
