---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oTFdkoAMEleQ=
            X-Amzn-Requestid:
                - 4086e6ef-3c09-49b3-9470-1ed82b37ea70
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000002b5eb75df102619f
        status: 200 OK
        code: 200
        duration: 156.495917ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-prompt","slug":"test-prompt","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You are a helpful assistant. Respond with valid JSON in the format: {\"answer\": \"your answer here\"}","role":"system"},{"content":"{{input.question}}","role":"user"}],"type":"chat"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"test-prompt","name":"test-prompt","function_data":{"type":"prompt"},"prompt_data":{"options":{"model":"gpt-4o-mini","params":{"max_tokens":50,"response_format":{"type":"json_object"},"temperature":0}},"prompt":{"messages":[{"content":"You are a helpful assistant. Respond with valid JSON in the format: {\"answer\": \"your answer here\"}","role":"system"},{"content":"{{input.question}}","role":"user"}],"type":"chat"}},"id":"8a7465a5-45e7-4a36-87cf-7ab49d6c2085","created":"2025-11-12T14:55:10.663Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129554357537"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"290-g1fy78zLG+rgHe1IgCVHGBtjoU8"
            X-Amz-Apigw-Id:
                - T73oUH7loAMEGQA=
            X-Amzn-Requestid:
                - 041fb137-84b8-42b7-b76d-18ba11f0795c
            X-Bt-Internal-Trace-Id:
                - 69149fce000000006fe812145334268a
        status: 200 OK
        code: 200
        duration: 575.133458ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"input":{"question":"What is 2+2?"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function/8a7465a5-45e7-4a36-87cf-7ab49d6c2085/invoke
        method: POST
      response:
        body: '{"answer":"4"}'
        headers:
            Content-Type:
                - application/json
            Openai-Organization:
                - braintrust-data
            Openai-Processing-Ms:
                - "261"
            Openai-Project:
                - proj_wMRY6YpEiASXMxPIIcI9nQRi
            Openai-Version:
                - "2020-10-01"
            X-Amzn-Requestid:
                - a426dfc6-7f9d-410a-afe6-424c72763207
            X-Bt-Cached:
                - MISS
            X-Bt-Function-Creds-Cached:
                - MISS
            X-Bt-Function-Meta-Cached:
                - MISS
            X-Bt-Used-Endpoint:
                - OPENAI_API_KEY
            X-Openai-Proxy-Wasm:
                - v0.1
            X-Ratelimit-Limit-Requests:
                - "30000"
            X-Ratelimit-Limit-Tokens:
                - "150000000"
            X-Ratelimit-Remaining-Requests:
                - "29999"
            X-Ratelimit-Remaining-Tokens:
                - "149999970"
            X-Ratelimit-Reset-Requests:
                - 2ms
            X-Ratelimit-Reset-Tokens:
                - 0s
        status: 200 OK
        code: 200
        duration: 3.765513917s
