---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oTGwOoAMElmA=
            X-Amzn-Requestid:
                - 74767265-8b1d-40a7-85bf-1401b9bfd4a5
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000230584f18134ae27
        status: 200 OK
        code: 200
        duration: 186.830375ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-function","slug":"test-func","function_data":{"type":"prompt"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/function
        method: POST
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"test-func","name":"test-function","function_data":{"type":"prompt"},"id":"b870d6be-1bb6-409d-af8f-e34d5820f0ab","created":"2025-11-12T14:55:10.772Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_xact_id":"1000196129554357519"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"130-i1pLqcfcuvQTGTlcBItVknEOAWk"
            X-Amz-Apigw-Id:
                - T73oUFKRIAMEDZQ=
            X-Amzn-Requestid:
                - 70852324-1a25-4d4a-a3ae-59ad18858d11
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000005aace3ae669b8ce
        status: 200 OK
        code: 200
        duration: 503.9775ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/function/b870d6be-1bb6-409d-af8f-e34d5820f0ab
        method: DELETE
      response:
        body: '{"log_id":"p","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","slug":"test-func","id":"b870d6be-1bb6-409d-af8f-e34d5820f0ab","created":"2025-11-12T14:55:11.108Z","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","_object_delete":true,"_xact_id":"1000196129554423301"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"10d-VVWBP+gL+qGsM0TSdz1Hdo3hEdk"
            X-Amz-Apigw-Id:
                - T73oZGWpIAMEvpA=
            X-Amzn-Requestid:
                - 9715a0eb-653f-44c6-ba42-42a77f2473a4
            X-Bt-Internal-Trace-Id:
                - 69149fcf00000000380667284d1b9a77
        status: 200 OK
        code: 200
        duration: 308.423ms
