---
version: 2
interactions:
    - id: 0
      request:
        host: api.pinecone.io
        body: '{"inputs":[{"text":"Say hello"}],"model":"multilingual-e5-large","parameters":{"input_type":"passage"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Pinecone-Api-Version:
                - 2026-04
        url: https://api.pinecone.io/embed
        method: POST
      response:
        body: '{"model":"multilingual-e5-large","vector_type":"dense","data":[{"vector_type":"dense","values":[0.035858154296875,0.0003819465637207031,0.0071258544921875,-0.0247039794921875,0.038818359375,-0.034942626953125,-0.03216552734375,-0.0027599334716796875,0.0419921875,-0.0242919921875,0.0175018310546875,0.034881591796875,-0.0389404296875,-0.048553466796875,-0.0242919921875,-0.0302734375,-0.0005331039428710938,0.03851318359375,0.0284576416015625,0.0050811767578125,0.00457763671875,-0.0115966796875,0.0008578300476074219,-0.055267333984375,0.00040650367736816406,-0.0077362060546875,-0.041412353515[...]
