---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","description":null,"created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fe-rfCZvNlcUhLHZTl4/HHBhOEJFv4"
            X-Amz-Apigw-Id:
                - ZuRRxGLyIAMEQQg=
            X-Amzn-Requestid:
                - 159f6093-569b-4354-b9dc-73ef6bb9f39f
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69a8c8d70000000068ada928481af99a
        status: 200 OK
        code: 200
        duration: 309.069292ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-objects-fetch"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"42c8e29a-cb66-48bb-b096-231ef67ee693","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-objects-fetch","description":null,"created":"2026-03-05T00:05:44.048Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"url_slug":"test-objects-fetch"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"128-9dZLrIF+s7Enz6YOFwnL3vpsTXc"
            X-Amz-Apigw-Id:
                - ZuRRzHd4IAMEacw=
            X-Amzn-Requestid:
                - a4f176f0-a12a-4c08-b0f2-731d6e00b343
            X-Bt-Internal-Trace-Id:
                - 69a8c8d700000000199c4daf38897fc2
        status: 200 OK
        code: 200
        duration: 207.960541ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"q":"1"},"expected":{"a":"1"}},{"input":{"q":"2"},"expected":{"a":"2"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/42c8e29a-cb66-48bb-b096-231ef67ee693/insert
        method: POST
      response:
        body: '{"row_ids":["12cbf61f-e2ca-4230-89c6-2160b78849c1","575f3273-9fdd-4f49-800f-a547cb47b56f"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"5b-gNVplGTUVPDxEk/AfzY8tvQvPOI"
            X-Amz-Apigw-Id:
                - ZuRR1Ha5oAMEB0w=
            X-Amzn-Requestid:
                - 30c48abb-b9ca-4a2b-bc52-9e7c5880a6a7
            X-Bt-Internal-Trace-Id:
                - 69a8c8d8000000001d21567b603fc11f
        status: 200 OK
        code: 200
        duration: 487.507666ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"limit":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/42c8e29a-cb66-48bb-b096-231ef67ee693/fetch
        method: POST
      response:
        body: '{"events":[]}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - ZuRR6E2ZoAMEB3A=
            X-Amzn-Requestid:
                - 6c5b3f9f-f095-4f4d-b21d-92880ca539e2
            X-Bt-Api-Duration-Ms:
                - "10021"
            X-Bt-Brainstore-Duration-Ms:
                - "10014"
            X-Bt-Internal-Trace-Id:
                - 69a8c8d80000000071fdc7c63e3f47c0
        status: 200 OK
        code: 200
        duration: 10.149685667s
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"limit":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/42c8e29a-cb66-48bb-b096-231ef67ee693/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07613556004171874305","_xact_id":"1000196765898043957","audit_data":[{"_xact_id":"1000196765898043957","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-03-05T00:05:44.185Z","dataset_id":"42c8e29a-cb66-48bb-b096-231ef67ee693","expected":{"a":"2"},"facets":null,"id":"575f3273-9fdd-4f49-800f-a547cb47b56f","input":{"q":"2"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"1f320e46-2283-4b4e-9cad-cc67913655fb","span_id":"1f320e46-2283-4b4e-9cad-cc67913655fb","tags":null},{"_pagination_key":"p07613556004171874304","_xact_id":"1000196765898043957","audit_data":[{"_xact_id":"1000196765898043957","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-03-05T00:05:44.185Z","dataset_id":"42c8e29a-cb66-48bb-b096-231ef67ee693","expected":{"a":"1"},"facets":null,"id":"12cbf61f-e2ca-4230-89c6-2160b78849c1","input":{"q":"1"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"413c27c2-037c-4d73-8683-a141624db7ce","span_id":"413c27c2-037c-4d73-8683-a141624db7ce","tags":null}],"cursor":"aajI2PI1AAA"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - ZuRTlGI9oAMEVLw=
            X-Amzn-Requestid:
                - 57a8aa34-5e33-4702-894e-89d84cf58b5d
            X-Bt-Api-Duration-Ms:
                - "182"
            X-Bt-Brainstore-Duration-Ms:
                - "176"
            X-Bt-Cursor:
                - aajI2PI1AAA
            X-Bt-Internal-Trace-Id:
                - 69a8c8e300000000180e18ff0d85357f
        status: 200 OK
        code: 200
        duration: 322.868542ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers:
        url: https://api.braintrust.dev/v1/dataset/42c8e29a-cb66-48bb-b096-231ef67ee693
        method: DELETE
      response:
        body: '{"id":"42c8e29a-cb66-48bb-b096-231ef67ee693","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-objects-fetch","description":null,"created":"2026-03-05T00:05:44.048Z","deleted_at":"2026-03-05T00:05:55.772Z","user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null,"url_slug":"test-objects-fetch"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"13e-pm9nW/A6zwttzgo7ca8oGurjkb8"
            X-Amz-Apigw-Id:
                - ZuRToEcPoAMEvDg=
            X-Amzn-Requestid:
                - a50493f3-8dca-4e87-b882-823fe0023540
            X-Bt-Internal-Trace-Id:
                - 69a8c8e3000000003a48e11d1467a996
        status: 200 OK
        code: 200
        duration: 289.345792ms
