---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oRH4CIAMEYpA=
            X-Amzn-Requestid:
                - 0c642f29-6c46-485f-b8f2-4e7822122b3c
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000004cda104df4b3d644
        status: 200 OK
        code: 200
        duration: 255.192333ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"query-params-test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"92950121-7318-4ce2-8bc2-453ce18a0b1b","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"query-params-test","description":null,"created":"2025-11-07T18:04:34.732Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"107-RW8GmCqd+KD1RePoZdaKXJujtIg"
            X-Amz-Apigw-Id:
                - T73oUFtaoAMEIUA=
            X-Amzn-Requestid:
                - b4c05ad9-6fac-4a73-9b9f-7994fc26faad
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000504b5390cca48aae
        status: 200 OK
        code: 200
        duration: 185.696583ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?limit=5&project_id=842c2063-b9c7-4c40-9fb9-fa95f810c57f
        method: GET
      response:
        body: '{"objects":[{"id":"f0492b1f-afdc-45f8-8071-d48ceaf115eb","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-12T14:55:10.533Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},{"id":"4f4979ac-adf6-4902-8df7-79d009b6ad0c","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-get","description":"Test dataset for DatasetAPI.Get","created":"2025-11-12T02:58:27.657Z","deleted_at":null,"user_i[...]
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?limit=5&project_id=842c2063-b9c7-4c40-9fb9-fa95f810c57f&starting_after=f0492b1f-afdc-45f8-8071-d48ceaf115eb
        method: GET
      response:
        body: '{"objects":[{"id":"4f4979ac-adf6-4902-8df7-79d009b6ad0c","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-get","description":"Test dataset for DatasetAP[...]
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?dataset_name=query-params-test&limit=1&project_id=842c2063-b9c7-4c40-9fb9-fa95f810c57f
        method: GET
      response:
        body: '{"objects":[{"id":"92950121-7318-4ce2-8bc2-453ce18a0b1b","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"query-params-test","description":null,"created":"2025-11-07T18:04:34.732Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"115-hWJKPEnEGElaVFv1JXphhl0OFHU"
            X-Amz-Apigw-Id:
                - T73oaH8foAMEGlA=
            X-Amzn-Requestid:
                - 0ad9bd8b-f1e9-40d0-bc50-ca1cb1a71b02
            X-Bt-Internal-Trace-Id:
                - 69149fcf000000006a033e3b2d484662
        status: 200 OK
        code: 200
        duration: 161.707458ms
