---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0sEH6zIAMEqhg=
            X-Amzn-Requestid:
                - d168b9dc-2290-4134-bf3b-9b983515519c
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b30000000074324b5405c55d57
        status: 200 OK
        code: 200
        duration: 2.432499416s
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"51ab07e6-b65b-4a64-aaf8-6b32b8d1c901","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-07T18:04:40.252Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"109-ikTF8lV+zOeecCc/hL982bB5WHk"
            X-Amz-Apigw-Id:
                - Tr0s1Es1oAMEiKw=
            X-Amzn-Requestid:
                - f7743a52-dae6-4cdb-812d-7ef67072affa
            X-Bt-Internal-Trace-Id:
                - 690e34b80000000043b55dc2734360f7
        status: 200 OK
        code: 200
        duration: 217.596792ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?id=51ab07e6-b65b-4a64-aaf8-6b32b8d1c901&limit=10
        method: GET
      response:
        body: '{"objects":[{"id":"51ab07e6-b65b-4a64-aaf8-6b32b8d1c901","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-07T18:04:40.252Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"117-YxXKjs0TF2Sxnz5N/VrPABBciAU"
            X-Amz-Apigw-Id:
                - Tr0s5E-xoAMELjQ=
            X-Amzn-Requestid:
                - 6e493a74-cf23-4e3f-a2e2-d77675ec0a32
            X-Bt-Internal-Trace-Id:
                - 690e34b8000000006b2a2480cb186f35
        status: 200 OK
        code: 200
        duration: 134.291834ms
