---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oRGjYIAMECdg=
            X-Amzn-Requestid:
                - b36a8577-40fc-4eee-8161-8cfedabc732c
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000004cff02cb479915be
        status: 200 OK
        code: 200
        duration: 250.894958ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-test","description":"Full lifecycle test dataset"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"bd64d523-f3bc-4cc5-bd99-9f64c1d921c0","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-test","description":"Full lifecycle test dataset","created":"2025-11-12T02:58:27.247Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"11d-fUvwvBooeus6rGRWb3g6w3AfU64"
            X-Amz-Apigw-Id:
                - T73oUHrFoAMEtRw=
            X-Amzn-Requestid:
                - cb3049b8-8f0b-4d5d-bdf8-305a8a2467ba
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000000613495ee3d8d6dd
        status: 200 OK
        code: 200
        duration: 157.62125ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?id=bd64d523-f3bc-4cc5-bd99-9f64c1d921c0&limit=1
        method: GET
      response:
        body: '{"objects":[{"id":"bd64d523-f3bc-4cc5-bd99-9f64c1d921c0","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-test","description":"Full lifecycle test dataset","created":"2025-11-12T02:58:27.247Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12b-fQLjB79/ZHzXqv1q8s4GaBB2kGA"
            X-Amz-Apigw-Id:
                - T73oVH8aoAMEGQA=
            X-Amzn-Requestid:
                - 758a7532-8303-4c14-a8de-20d3c4811ae4
            X-Bt-Internal-Trace-Id:
                - 69149fce000000007fe9ae93216f6b31
        status: 200 OK
        code: 200
        duration: 153.648125ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"question":"What is 2+2?"},"expected":{"answer":"4"},"tags":["math","easy"]},{"input":{"question":"What is the capital of France?"},"expected":{"answer":"Paris"},"tags":["geography","easy"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/bd64d523-f3bc-4cc5-bd99-9f64c1d921c0/insert
        method: POST
      response:
        body: '{"row_ids":["4598ed96-acda-4571-9ca7-4abb0b6389e9","cc69018e-b502-4471-817b-d0345fbcf235"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"5b-2D9GBqmDa1DrQJqi0IQYX/WI7zE"
            X-Amz-Apigw-Id:
                - T73oXEeCoAMELcA=
            X-Amzn-Requestid:
                - 086108dd-fcf2-4771-9397-1361f5111d20
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000545d63a85b41dbf2
        status: 200 OK
        code: 200
        duration: 414.744ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"limit":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/bd64d523-f3bc-4cc5-bd99-9f64c1d921c0/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07571852584341667841","_xact_id":"1000196129554357583","created":"2025-11-12T14:55:10.751Z","dataset_id":"bd64d523-f3bc-4cc5-bd99-9f64c1d921c0","expected":{"answer":"Paris"},"id":"cc69018e-b502-4471-817b-d0345fbcf235","input":{"question":"What is the capital of France?"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"f87407ba-d0a3-44d0-822b-e79d9f428a46","span_id":"f87407ba-d0a3-44d0-822b-e79d9f428a46","tags":["geography","easy"]},{"_pagination_key":"p07571852584341667840","_xact_id":"1000196129554357583","created":"2025-11-12T14:55:10.750Z","dataset_id":"bd64d523-f3bc-4cc5-bd99-9f64c1d921c0","expected":{"answer":"4"},"id":"4598ed96-acda-4571-9ca7-4abb0b6389e9","input":{"question":"What is 2+2?"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"af473a15-6352-4521-8c6f-42c5418140b0","span_id":[...]
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset/bd64d523-f3bc-4cc5-bd99-9f64c1d921c0
        method: DELETE
      response:
        body: '{"id":"bd64d523-f3bc-4cc5-bd99-9f64c1d921c0","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-test","description":"Full lifecycle test dataset","created":"2025-11-12T02:58:27.247Z","deleted_at":"2025-11-12T14:55:11.723Z","user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"133-WICHJtm8h0fAYHZ6N27+NsnpU7o"
            X-Amz-Apigw-Id:
                - T73ofFxioAMEp-g=
            X-Amzn-Requestid:
                - b6832b05-555e-4948-a6cf-5ad44a592e63
            X-Bt-Internal-Trace-Id:
                - 69149fcf0000000001e19cbabaa98bdb
        status: 200 OK
        code: 200
        duration: 196.616375ms
[...]
