---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oSHDmIAMERIQ=
            X-Amzn-Requestid:
                - 242c6e4f-30a1-4984-91f1-d017af45df49
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000003c2e700ff44b7ffa
        status: 200 OK
        code: 200
        duration: 249.26075ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"2083aa94-f61e-4d33-9a9d-646be0061aff","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query","description":null,"created":"2025-11-12T02:58:27.264Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"108-Wi0ov5bEB6ouvHCE+7zu2X7/zPI"
            X-Amz-Apigw-Id:
                - T73oUG_IoAMER8g=
            X-Amzn-Requestid:
                - 31192fe4-9b5a-4d65-a454-d2d5c808eae9
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000004b3415e3657b7f38
        status: 200 OK
        code: 200
        duration: 127.983834ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"q":"1"},"expected":{"a":"1"}},{"input":{"q":"2"},"expected":{"a":"2"}},{"input":{"q":"3"},"expected":{"a":"3"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/2083aa94-f61e-4d33-9a9d-646be0061aff/insert
        method: POST
      response:
        body: '{"row_ids":["dc5c9321-b467-47dd-99ca-24a2bec91ef9","88707449-7d50-4dba-9ae7-c84a160d9969","0c54492f-0f54-4ed2-a1a9-5ec8457bff87"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"82-D7Q1fYrfaoyMzlmPxMGlR8soM4U"
            X-Amz-Apigw-Id:
                - T73oVGDOIAMEGoA=
            X-Amzn-Requestid:
                - 77377599-a356-466c-9131-89e46e6c303b
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000051d0fb57d6db1e2c
        status: 200 OK
        code: 200
        duration: 436.808709ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"limit":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/2083aa94-f61e-4d33-9a9d-646be0061aff/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07571852584337342467","_xact_id":"1000196129554357517","created":"2025-11-12T14:55:10.770Z","dataset_id":"2083aa94-f61e-4d33-9a9d-646be0061aff","expected":{"v":4},"id":"a4120715-5e70-4c23-b9a3-717686ceff73","input":{"n":4},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"d5e93c6f-3401-4fae-b1ff-e78875736560","span_id":"d5e93c6f-3401-4fae-b1ff-e78875736560","tags":null},{"_pagination_key":"p07571852584337342466","_xact_id":"1000196129554357517","created":"2025-11-12T14:55:10.770Z","dataset_id":"2083aa94-f61e-4d33-9a9d-646be0061aff","expected":{"v":3},"id":"1d4fd4f1-2934-458e-b27f-f3fba511e525","input":{"n":3},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"b52047fb-0b45-48b3-84d5-2a971b24ef31","span_id":"b52047fb-0b45-48b3-84d5-2a971b24ef31","tags":null},{"_pagination_key":"p0757185258433734[...]
