---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oXG7mIAMECow=
            X-Amzn-Requestid:
                - 13c76529-3458-436d-ad5c-5f095a3dc11f
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000574478b1f84df38c
        status: 200 OK
        code: 200
        duration: 104.701334ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"2083aa94-f61e-4d33-9a9d-646be0061aff","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query","description":null,"created":"2025-11-12T02:58:27.264Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"108-Wi0ov5bEB6ouvHCE+7zu2X7/zPI"
            X-Amz-Apigw-Id:
                - T73oYGDXoAMELGA=
            X-Amzn-Requestid:
                - e55fe718-757a-407a-8f93-973a886d32fa
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000678a18d546af33b6
        status: 200 OK
        code: 200
        duration: 135.647542ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"question":"What is 2+2?"},"expected":{"answer":"4"},"tags":["math","easy"]},{"input":{"question":"What is the capital of France?"},"expected":{"answer":"Paris"},"tags":["geography"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/2083aa94-f61e-4d33-9a9d-646be0061aff/insert
        method: POST
      response:
        body: '{"row_ids":["af6333fa-0998-4aee-a77e-267a37378b12","59ea4b11-5204-4beb-bd2b-7f3f834d7da0"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"5b-JaMMROmSZ1VUJF6CN/wqO7Pko9Q"
            X-Amz-Apigw-Id:
                - T73oaEBcoAMEO8w=
            X-Amzn-Requestid:
                - 79808a36-f6e5-4002-a7f1-417ff766310a
            X-Bt-Internal-Trace-Id:
                - 69149fcf000000003cfc3782c0229f60
        status: 200 OK
        code: 200
        duration: 232.782959ms
