---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0r6EIeoAMEAjw=
            X-Amzn-Requestid:
                - 328112f0-b1eb-4a74-bb95-92368b3bf3b2
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b20000000066975566668dce0d
        status: 200 OK
        code: 200
        duration: 200.840834ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"query-params-test"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"92950121-7318-4ce2-8bc2-453ce18a0b1b","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"query-params-test","description":null,"created":"2025-11-07T18:04:34.732Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"107-RW8GmCqd+KD1RePoZdaKXJujtIg"
            X-Amz-Apigw-Id:
                - Tr0r-HtPIAMEdxg=
            X-Amzn-Requestid:
                - 2822e7b0-4f33-47e6-807c-b37f9a84ba5c
            X-Bt-Internal-Trace-Id:
                - 690e34b20000000034f152592d2bfe25
        status: 200 OK
        code: 200
        duration: 182.7025ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?limit=5&project_id=842c2063-b9c7-4c40-9fb9-fa95f810c57f
        method: GET
      response:
        body: '{"objects":[{"id":"17e04d82-e892-42c4-b798-60dfce34e1da","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-test","description":"Full lifecycle test dataset","created":"2025-11-07T18:04:34.850Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null},{"id":"bb731722-73cc-475a-b267-57f109382ff9","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset","description":"Test dataset for integration tests","created":"2025-11-07T18:04:34.801Z","delet[...]
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?limit=5&project_id=842c2063-b9c7-4c40-9fb9-fa95f810c57f&starting_after=17e04d82-e892-42c4-b798-60dfce34e1da
        method: GET
      response:
        body: '{"objects":[{"id":"bb731722-73cc-475a-b267-57f109382ff9","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset","description":"Test dataset for integration t[...]
    - id: 4
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?dataset_name=query-params-test&limit=1&project_id=842c2063-b9c7-4c40-9fb9-fa95f810c57f
        method: GET
      response:
        body: '{"objects":[{"id":"92950121-7318-4ce2-8bc2-453ce18a0b1b","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"query-params-test","description":null,"created":"2025-11-07T18:04:34.732Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"115-hWJKPEnEGElaVFv1JXphhl0OFHU"
            X-Amz-Apigw-Id:
                - Tr0sIHy0oAMER-w=
            X-Amzn-Requestid:
                - 4ebaac35-d4e3-43cf-8bf5-db5de06c8d2c
            X-Bt-Internal-Trace-Id:
                - 690e34b3000000000f3cd7853f274d9d
        status: 200 OK
        code: 200
        duration: 118.467875ms
