---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oVHv-IAMEGog=
            X-Amzn-Requestid:
                - 34ac39a9-77a8-4d2c-934b-6d6672150d44
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000006a6aa2f707a73c35
        status: 200 OK
        code: 200
        duration: 125.453917ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-fields"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"4d376202-4de2-46e9-956a-4939eacf5512","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-fields","description":null,"created":"2025-11-12T02:58:27.326Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"109-P4jm7oHa6bDYzeqFWJX1MTMnieE"
            X-Amz-Apigw-Id:
                - T73oXGssoAMEXcA=
            X-Amzn-Requestid:
                - ebdac565-502d-4ab5-af76-c2ddd79b9540
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000006b9849cc025aa1b7
        status: 200 OK
        code: 200
        duration: 122.145875ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"context":"philosophical","question":"What is the meaning of life?"},"expected":{"answer":"42","confidence":0.95},"metadata":{"model":"test-model","source":"test"},"tags":["philosophy","test","integration"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/4d376202-4de2-46e9-956a-4939eacf5512/insert
        method: POST
      response:
        body: '{"row_ids":["45a7ae87-1f38-4ee7-937d-6f6804d7bbce"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"34-AKj4dJuPbroTxJMSaBVZ5+93+r8"
            X-Amz-Apigw-Id:
                - T73oYGGgIAMERDw=
            X-Amzn-Requestid:
                - bf16e817-8f38-4e2d-ae80-ce60457fe1de
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000052cdd304ea094304
        status: 200 OK
        code: 200
        duration: 500.688333ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"limit":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/4d376202-4de2-46e9-956a-4939eacf5512/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07571852588647645184","_xact_id":"1000196129554423287","created":"2025-11-12T14:55:10.872Z","dataset_id":"4d376202-4de2-46e9-956a-4939eacf5512","expected":{"answer":"42","confidence":0.95},"id":"45a7ae87-1f38-4ee7-937d-6f6804d7bbce","input":{"context":"philosophical","question":"What is the meaning of life?"},"is_root":true,"metadata":{"model":"test-model","source":"test"},"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"50934797-1369-4980-81d4-1525c3d6cf3d","span_id":"50934797-1369-4980-81d4-1525c3d6cf3d","tags":["philosophy","test","integration"]},{"_pagination_key":"p07571667888174202880","_xact_id":"1000196126736117723","created":"2025-11-12T02:58:27.385Z","dataset_id":"4d376202-4de2-46e9-956a-4939eacf5512","expected":{"answer":"42","confidence":0.95},"id":"e4269e43-cf91-4168-adf1-cc67f4e4d607","input":{"context":"philosophical","question":"What is the meaning of life?"},"is_root":true,"metadata":{"model":"test-model","source":"test"},"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"621365aa-6b04-4eb7-9c73-7922ccfb1fc5","span_id":"621365aa-6b04-4eb7-9c73-7922ccfb1fc5","tags":["philosophy","test","integration"]}],"cursor":"aRP30+/bAAA"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - T73odH2qoAMED5g=
            X-Amzn-Requestid:
                - 7d5f87b0-2027-4ec4-8ed9-6608735b42d7
            X-Bt-Cursor:
                - aRP30+/bAAA
            X-Bt-Internal-Trace-Id:
                - 69149fcf000000002b41c22ab34e1d3a
        status: 200 OK
        code: 200
        duration: 415.040458ms
