---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oRHtYIAMEGog=
            X-Amzn-Requestid:
                - 46893ebf-b5e3-4150-b58e-814a24a0841a
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000069c6a78e74ddda92
        status: 200 OK
        code: 200
        duration: 271.778ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"f0492b1f-afdc-45f8-8071-d48ceaf115eb","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-12T14:55:10.533Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"109-fRgYyZZUwi6DT6piiwl3Fu6GIPs"
            X-Amz-Apigw-Id:
                - T73oUGunIAMEvUw=
            X-Amzn-Requestid:
                - 76e7dc83-a33b-40e1-a2bc-6ae7e5baa367
            X-Bt-Internal-Trace-Id:
                - 69149fce000000006ebc49bac65aa258
        status: 200 OK
        code: 200
        duration: 153.692791ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?id=f0492b1f-afdc-45f8-8071-d48ceaf115eb&limit=1
        method: GET
      response:
        body: '{"objects":[{"id":"f0492b1f-afdc-45f8-8071-d48ceaf115eb","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-12T14:55:10.533Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"117-tIC27+eIfR8dsVQ/yoZoYlX/01Y"
            X-Amz-Apigw-Id:
                - T73oWGpmoAMEW0A=
            X-Amzn-Requestid:
                - d1b4a3bd-cc0c-494c-8f7f-2c470563f382
            X-Bt-Internal-Trace-Id:
                - 69149fce000000004eebf659be380dbe
        status: 200 OK
        code: 200
        duration: 256.864208ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset/f0492b1f-afdc-45f8-8071-d48ceaf115eb
        method: DELETE
      response:
        body: '{"id":"f0492b1f-afdc-45f8-8071-d48ceaf115eb","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-12T14:55:10.533Z","deleted_at":"2025-11-12T14:55:10.994Z","user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"11f-liVFHXLXdz+E07dOhX4B9/6Khpg"
            X-Amz-Apigw-Id:
                - T73oYEoyIAMElqA=
            X-Amzn-Requestid:
                - 3b98f7d8-75b4-4692-8db3-299460724815
            X-Bt-Internal-Trace-Id:
                - 69149fce000000003af3a640d578e50d
        status: 200 OK
        code: 200
        duration: 180.414209ms
[...]
