---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0r-GKHoAMEH-A=
            X-Amzn-Requestid:
                - 163c973b-88a1-40a9-96ab-4780c4d3ff64
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b20000000071d1256befbf6850
        status: 200 OK
        code: 200
        duration: 105.609125ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"8d016d6f-24df-4190-a9bb-b200c94c41c8","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query","description":null,"created":"2025-11-07T18:04:34.763Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"108-a32Je6hE36lzDYjwsnKk5xUcMiE"
            X-Amz-Apigw-Id:
                - Tr0sAEi5oAMEr-Q=
            X-Amzn-Requestid:
                - 8b993c52-1cc0-4252-a393-590a6bb25795
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b2000000004210ce600be908a9
        status: 200 OK
        code: 200
        duration: 142.73825ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"text":"hello"},"expected":{"output":"Hello"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/8d016d6f-24df-4190-a9bb-b200c94c41c8/insert
        method: POST
      response:
        body: '{"row_ids":["f73db1ee-c341-4594-b4d8-176b285c5f92"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"34-HtoTVuUTsrCdR6SmAvJvxdFdb5c"
            X-Amz-Apigw-Id:
                - Tr0sDEp3IAMEt4Q=
            X-Amzn-Requestid:
                - f2395c27-e0ed-4f86-add2-d48d832499c3
            X-Bt-Internal-Trace-Id:
                - 690e34b3000000001c41d98d21e33f17
        status: 200 OK
        code: 200
        duration: 251.813459ms
