---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oRE8xIAMEmxQ=
            X-Amzn-Requestid:
                - e1097a61-40eb-4ee5-9411-3262c18c38cd
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000064f20caa65eee754
        status: 200 OK
        code: 200
        duration: 259.090459ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"f0492b1f-afdc-45f8-8071-d48ceaf115eb","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-12T14:55:10.533Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"109-fRgYyZZUwi6DT6piiwl3Fu6GIPs"
            X-Amz-Apigw-Id:
                - T73oUFgyoAMEVMA=
            X-Amzn-Requestid:
                - 2e0b07b3-001b-4e78-a135-6315fefaaab1
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000002042131d7ea5ae98
        status: 200 OK
        code: 200
        duration: 201.472834ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?id=f0492b1f-afdc-45f8-8071-d48ceaf115eb&limit=10
        method: GET
      response:
        body: '{"objects":[{"id":"f0492b1f-afdc-45f8-8071-d48ceaf115eb","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-12T14:55:10.533Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"117-tIC27+eIfR8dsVQ/yoZoYlX/01Y"
            X-Amz-Apigw-Id:
                - T73oWF-lIAMEiKw=
            X-Amzn-Requestid:
                - 1fb9e950-20ec-4989-b68b-cdf0f3c14a1a
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000041d29959a7facd38
        status: 200 OK
        code: 200
        duration: 165.895875ms
