---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0r6F7iIAMEogQ=
            X-Amzn-Requestid:
                - df3dfd72-6f7d-4289-b51a-9a51fc91a42b
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b20000000005c949eb56a6088f
        status: 200 OK
        code: 200
        duration: 198.817333ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-test","description":"Full lifecycle test dataset"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"17e04d82-e892-42c4-b798-60dfce34e1da","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-test","description":"Full lifecycle test dataset","created":"2025-11-07T18:04:34.850Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"11d-n7AUmvPJNvaGkzPP+YvtlR95fKE"
            X-Amz-Apigw-Id:
                - Tr0r-G6VIAMEDcQ=
            X-Amzn-Requestid:
                - 9aed0048-bbbf-4ee0-9eea-da7c7128f91d
            X-Bt-Internal-Trace-Id:
                - 690e34b2000000003a4564ed8711144a
        status: 200 OK
        code: 200
        duration: 275.270625ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?id=17e04d82-e892-42c4-b798-60dfce34e1da&limit=1
        method: GET
      response:
        body: '{"objects":[{"id":"17e04d82-e892-42c4-b798-60dfce34e1da","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-test","description":"Full lifecycle test dataset","created":"2025-11-07T18:04:34.850Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"12b-Awvv0L7UgeTQJZGYr1a1sfg6Vug"
            X-Amz-Apigw-Id:
                - Tr0sDGu2IAMEd6w=
            X-Amzn-Requestid:
                - 716096b8-b288-4014-884c-e1a9dc802066
            X-Bt-Internal-Trace-Id:
                - 690e34b3000000001bf77c7b2dfb2c8d
        status: 200 OK
        code: 200
        duration: 149.334125ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"question":"What is 2+2?"},"expected":{"answer":"4"},"tags":["math","easy"]},{"input":{"question":"What is the capital of France?"},"expected":{"answer":"Paris"},"tags":["geography","easy"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/17e04d82-e892-42c4-b798-60dfce34e1da/insert
        method: POST
      response:
        body: '{"row_ids":["d83bdfa1-1c9a-4e24-95db-7f34a8bc411c","d7ac8bfa-5753-4df9-8c85-e46d95c4def0"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"5b-NlTlKc65H+p6N4ePn/W676KgYGw"
            X-Amz-Apigw-Id:
                - Tr0sGGAVoAMEHrw=
            X-Amzn-Requestid:
                - 7371c961-55fc-4766-b662-d8c6438a6565
            X-Bt-Internal-Trace-Id:
                - 690e34b30000000069d184c641c50c81
        status: 200 OK
        code: 200
        duration: 331.879375ms
    - id: 4
      request:
        host: api.braintrust.dev
        body: '{"limit":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/17e04d82-e892-42c4-b798-60dfce34e1da/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07570045970203738113","_xact_id":"1000196101987613535","created":"2025-11-07T18:04:35.485Z","dataset_id":"17e04d82-e892-42c4-b798-60dfce34e1da","expected":{"answer":"Paris"},"id":"d7ac8bfa-5753-4df9-8c85-e46d95c4def0","input":{"question":"What is the capital of France?"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"a5ddeef4-5f21-46f1-b7fc-698bd394c832","span_id":"a5ddeef4-5f21-46f1-b7fc-698bd394c832","tags":["geography","easy"]},{"_pagination_key":"p07570045970203738112","_xact_id":"1000196101987613535","created":"2025-11-07T18:04:35.484Z","dataset_id":"17e04d82-e892-42c4-b798-60dfce34e1da","expected":{"answer":"4"},"id":"d83bdfa1-1c9a-4e24-95db-7f34a8bc411c","input":{"question":"What is 2+2?"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"42d3580f-f5b0-4d00-a328-9d2ccf999ca4","span_id":"42d3580f-f5b0-4d00-a328-9d2ccf999ca4","tags":["math","easy"]}],"cursor":"aQ40s7tfAAA"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - Tr0sNEIvoAMECHA=
            X-Amzn-Requestid:
                - 23328292-6d66-482a-97d8-bdcaeaa08355
            X-Bt-Cursor:
                - aQ40s7tfAAA
            X-Bt-Internal-Trace-Id:
                - 690e34b40000000060a5a8eaa2969fa5
        status: 200 OK
        code: 200
        duration: 128.742833ms
    - id: 5
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset/17e04d82-e892-42c4-b798-60dfce34e1da
        method: DELETE
      response:
        body: '{"id":"17e04d82-e892-42c4-b798-60dfce34e1da","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"lifecycle-test","description":"Full lifecycle test dataset","created":"2025-11-07T18:04:34.850Z","deleted_at":"2025-11-07T18:04:36.474Z","user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"133-xFcWuqIOus2NWhFl+MUC+kze7Xg"
            X-Amz-Apigw-Id:
                - Tr0sPHS-IAMEDFA=
            X-Amzn-Requestid:
                - e2098493-8486-4a09-90a0-c3a1e44470b9
            X-Bt-Internal-Trace-Id:
                - 690e34b40000000068caa5099f70bee4
        status: 200 OK
        code: 200
        duration: 126.854542ms
[...]
