---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0r6ERjoAMEdGg=
            X-Amzn-Requestid:
                - a74a210f-978f-4f7f-902a-feee70f92b5e
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b20000000026606430a8edaa97
        status: 200 OK
        code: 200
        duration: 223.464375ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"8d016d6f-24df-4190-a9bb-b200c94c41c8","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query","description":null,"created":"2025-11-07T18:04:34.763Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"108-a32Je6hE36lzDYjwsnKk5xUcMiE"
            X-Amz-Apigw-Id:
                - Tr0r-Gk1IAMEK3A=
            X-Amzn-Requestid:
                - 3d90fa8b-2cf2-4928-9728-537e4ec8e8b4
            X-Bt-Internal-Trace-Id:
                - 690e34b20000000058bdd3361a947577
        status: 200 OK
        code: 200
        duration: 158.00525ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"q":"1"},"expected":{"a":"1"}},{"input":{"q":"2"},"expected":{"a":"2"}},{"input":{"q":"3"},"expected":{"a":"3"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/8d016d6f-24df-4190-a9bb-b200c94c41c8/insert
        method: POST
      response:
        body: '{"row_ids":["514ad423-9af6-442c-9390-503de6c8df4c","8692461b-c3f0-403e-97f1-9dfafc024594","5f6f1e6c-4d8e-49fb-8953-7b977b0e7e52"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"82-WWKrNJuxEHlcDDo19gP6/V0FNNY"
            X-Amz-Apigw-Id:
                - Tr0sBGpWoAMEqwA=
            X-Amzn-Requestid:
                - b0eadab1-056c-4033-b926-233b1d66a216
            X-Bt-Internal-Trace-Id:
                - 690e34b2000000002c763ac9f4884768
        status: 200 OK
        code: 200
        duration: 510.046167ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"limit":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/8d016d6f-24df-4190-a9bb-b200c94c41c8/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07570045970204721155","_xact_id":"1000196101987613550","created":"2025-11-07T18:04:35.553Z","dataset_id":"8d016d6f-24df-4190-a9bb-b200c94c41c8","expected":{"v":4},"id":"bca4a6ee-6e5d-44ea-afd7-e7be3bbfe520","input":{"n":4},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"6b2e27d2-56b9-49b1-a031-bb0f8a4738d5","span_id":"6b2e27d2-56b9-49b1-a031-bb0f8a4738d5","tags":null},{"_pagination_key":"p07570045970204721154","_xact_id":"1000196101987613550","created":"2025-11-07T18:04:35.553Z","dataset_id":"8d016d6f-24df-4190-a9bb-b200c94c41c8","expected":{"v":3},"id":"f900e6ea-1c59-4df4-b65d-ab0220c1d7ab","input":{"n":3},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"426d5cfa-1cb1-4377-9ea1-0b9e767f780d","span_id":"426d5cfa-1cb1-4377-9ea1-0b9e767f780d","tags":null},{"_pagination_key":"p0757004597020472[...]
