---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0r6EifIAMEf5Q=
            X-Amzn-Requestid:
                - 430f7f86-8b13-4692-b028-18e7388bf933
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b2000000000e7e60756d0597af
        status: 200 OK
        code: 200
        duration: 211.299667ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"1a6c717a-1877-4e88-b6ab-bcc635486bc1","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-07T18:04:34.706Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"109-trA/6jirgQr2PAyDBl1RR/y5PcU"
            X-Amz-Apigw-Id:
                - Tr0r-EJvoAMEZDw=
            X-Amzn-Requestid:
                - bdd6c5ad-d539-4bda-a9c7-540d41c9c07f
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b2000000002fc95c0776506ad1
        status: 200 OK
        code: 200
        duration: 139.255375ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?id=1a6c717a-1877-4e88-b6ab-bcc635486bc1&limit=1
        method: GET
      response:
        body: '{"objects":[{"id":"1a6c717a-1877-4e88-b6ab-bcc635486bc1","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-07T18:04:34.706Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"117-GtV8TGNO53J1Ys/grMFvpwnVVrc"
            X-Amz-Apigw-Id:
                - Tr0sBE1NIAMEuXw=
            X-Amzn-Requestid:
                - 0add7d79-8351-419e-a643-2bf766305c77
            X-Bt-Internal-Trace-Id:
                - 690e34b2000000007a8843bc700e0ba6
        status: 200 OK
        code: 200
        duration: 130.476208ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset/1a6c717a-1877-4e88-b6ab-bcc635486bc1
        method: DELETE
      response:
        body: '{"id":"1a6c717a-1877-4e88-b6ab-bcc635486bc1","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-07T18:04:34.706Z","deleted_at":"2025-11-07T18:04:35.290Z","user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"11f-xYp287etGugCq0dQ5alxWykh5KM"
            X-Amz-Apigw-Id:
                - Tr0sDF4XIAMEj9A=
            X-Amzn-Requestid:
                - 91fa4a7b-0f32-411a-8e98-7d89f0529bc0
            X-Bt-Internal-Trace-Id:
                - 690e34b3000000004153403f5ab74a43
        status: 200 OK
        code: 200
        duration: 152.572833ms
[...]
