---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0r6FzFIAMEj9A=
            X-Amzn-Requestid:
                - ca772de5-6874-40c6-a08b-ca3699e283d0
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b20000000033e80f0df284d1a3
        status: 200 OK
        code: 200
        duration: 198.727083ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-fields"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"b883bcf1-e436-4c71-8092-b40479019e6b","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-fields","description":null,"created":"2025-11-07T18:04:34.714Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"109-QOwUYyxawi2j47wDihDIO/eQUYE"
            X-Amz-Apigw-Id:
                - Tr0r-GxcIAMEWsw=
            X-Amzn-Requestid:
                - d5edfbed-5373-44ed-9839-6fdd6e23bbfb
            X-Bt-Internal-Trace-Id:
                - 690e34b2000000007b1166318cd451c2
        status: 200 OK
        code: 200
        duration: 163.980041ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"context":"philosophical","question":"What is the meaning of life?"},"expected":{"answer":"42","confidence":0.95},"metadata":{"model":"test-model","source":"test"},"tags":["philosophy","test","integration"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/b883bcf1-e436-4c71-8092-b40479019e6b/insert
        method: POST
      response:
        body: '{"row_ids":["157d8a27-ce78-4219-a856-9a70bc7c70aa"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"34-Nu5tqPxDRsASLrgwDDyblOftwaw"
            X-Amz-Apigw-Id:
                - Tr0sBHSXIAMEMaw=
            X-Amzn-Requestid:
                - 09684762-75d3-495c-98e9-83271ede79f9
            X-Bt-Internal-Trace-Id:
                - 690e34b20000000058646b9a565e04fb
        status: 200 OK
        code: 200
        duration: 301.498208ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"limit":10}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/b883bcf1-e436-4c71-8092-b40479019e6b/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07570045970184142848","_xact_id":"1000196101987613236","created":"2025-11-07T18:04:34.966Z","dataset_id":"b883bcf1-e436-4c71-8092-b40479019e6b","expected":{"answer":"42","confidence":0.95},"id":"157d8a27-ce78-4219-a856-9a70bc7c70aa","input":{"context":"philosophical","question":"What is the meaning of life?"},"is_root":true,"metadata":{"model":"test-model","source":"test"},"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"1870ffd7-6a3f-40a3-9ba3-5c53bdcb4c87","span_id":"1870ffd7-6a3f-40a3-9ba3-5c53bdcb4c87","tags":["philosophy","test","integration"]}],"cursor":"aQ40s7o0AAA"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - Tr0sHEzEIAMESPg=
            X-Amzn-Requestid:
                - c8e6878f-f65d-4645-aa33-645b1006b030
            X-Bt-Cursor:
                - aQ40s7o0AAA
            X-Bt-Internal-Trace-Id:
                - 690e34b30000000011084f252080d819
        status: 200 OK
        code: 200
        duration: 127.785542ms
