---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oUE23IAMEH2A=
            X-Amzn-Requestid:
                - b039ec69-556c-4fd7-8737-8c9b4d0dc42f
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000007e3b7f095a896013
        status: 200 OK
        code: 200
        duration: 149.918792ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"2083aa94-f61e-4d33-9a9d-646be0061aff","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query","description":null,"created":"2025-11-12T02:58:27.264Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"108-Wi0ov5bEB6ouvHCE+7zu2X7/zPI"
            X-Amz-Apigw-Id:
                - T73oVHIBoAMEUtw=
            X-Amzn-Requestid:
                - 548cb281-fd13-40ea-b05c-eef31419b01b
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000001ed2faa3eca95930
        status: 200 OK
        code: 200
        duration: 182.74475ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"n":1},"expected":{"v":1}},{"input":{"n":2},"expected":{"v":2}},{"input":{"n":3},"expected":{"v":3}},{"input":{"n":4},"expected":{"v":4}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/2083aa94-f61e-4d33-9a9d-646be0061aff/insert
        method: POST
      response:
        body: '{"row_ids":["857c7985-e97e-4ac8-a94b-3881108a6e82","2e243e1d-fedd-4228-a8b5-77561f3efcbf","1d4fd4f1-2934-458e-b27f-f3fba511e525","a4120715-5e70-4c23-b9a3-717686ceff73"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"a9-9B8j0eG2kN0UInckpLW+YlCfKKk"
            X-Amz-Apigw-Id:
                - T73oXFIAIAMETQQ=
            X-Amzn-Requestid:
                - 7cd163f7-cfee-4290-a6ea-441150bf2ade
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000025515bc2f4a80035
        status: 200 OK
        code: 200
        duration: 379.216375ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"limit":2}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/2083aa94-f61e-4d33-9a9d-646be0061aff/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07571852588646465537","_xact_id":"1000196129554423269","created":"2025-11-12T14:55:11.052Z","dataset_id":"2083aa94-f61e-4d33-9a9d-646be0061aff","expected":{"answer":"Paris"},"id":"59ea4b11-5204-4beb-bd2b-7f3f834d7da0","input":{"question":"What is the capital of France?"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"96c8b6f9-f9f4-430b-99f5-5c241115fc43","span_id":"96c8b6f9-f9f4-430b-99f5-5c241115fc43","tags":["geography"]},{"_pagination_key":"p07571852588646465536","_xact_id":"1000196129554423269","created":"2025-11-12T14:55:11.052Z","dataset_id":"2083aa94-f61e-4d33-9a9d-646be0061aff","expected":{"answer":"4"},"id":"af6333fa-0998-4aee-a77e-267a37378b12","input":{"question":"What is 2+2?"},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"218cff10-b325-4a85-8995-3d4481be0c5b","span_id":"218cff10-b325-4a85-8995-3d4481be0c5b","tags":["math","easy"]}],"cursor":"aRSfz93lAAA"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - T73obE3AoAMEb9g=
            X-Amzn-Requestid:
                - a1bca36a-2002-43f0-ba9a-bd30b697ac7e
            X-Bt-Cursor:
                - aRSfz93lAAA
            X-Bt-Internal-Trace-Id:
                - 69149fcf0000000024c14880f9f6b8c6
        status: 200 OK
        code: 200
        duration: 326.384125ms
[...]
