---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oREwmIAMEkuQ=
            X-Amzn-Requestid:
                - 38dbd545-7321-4141-843b-70f4e21fd4a2
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000000db3760f17ca19be
        status: 200 OK
        code: 200
        duration: 249.310791ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"2083aa94-f61e-4d33-9a9d-646be0061aff","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query","description":null,"created":"2025-11-12T02:58:27.264Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"108-Wi0ov5bEB6ouvHCE+7zu2X7/zPI"
            X-Amz-Apigw-Id:
                - T73oUEx2IAMEjYg=
            X-Amzn-Requestid:
                - ef2891be-9991-4d70-ba06-6edd76e26cd2
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce000000002a1520993fc41d7d
        status: 200 OK
        code: 200
        duration: 189.793333ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"text":"hello"},"expected":{"output":"Hello"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/2083aa94-f61e-4d33-9a9d-646be0061aff/insert
        method: POST
      response:
        body: '{"row_ids":["3fa44b56-d00c-4093-9c63-87c30d202337"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"34-mI/rJd2jR5EyYPnAxIJZlThI/Hk"
            X-Amz-Apigw-Id:
                - T73oWEj5oAMEdCg=
            X-Amzn-Requestid:
                - d4a92c12-ab26-41fc-bdba-af0ad079f007
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000034015d5e4b1d0191
        status: 200 OK
        code: 200
        duration: 375.1205ms
