---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - T73oRFBEoAMEelA=
            X-Amzn-Requestid:
                - 02c839af-dabc-463d-a3ba-62914c0c3f71
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce00000000490c78092b0bd6f6
        status: 200 OK
        code: 200
        duration: 255.178125ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset","description":"Test dataset for integration tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"f7b36204-e4d1-43f3-bc77-169bec19595e","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset","description":"Test dataset for integration tests","created":"2025-11-12T02:58:27.281Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"122-4b2Wf1G4Lvh74XhXCfxa5bBccLs"
            X-Amz-Apigw-Id:
                - T73oUHA0IAMEpJA=
            X-Amzn-Requestid:
                - 350a1ba9-001b-47b2-92bc-ab716fadae15
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 69149fce0000000068976ba3c0c31c57
        status: 200 OK
        code: 200
        duration: 171.77825ms
