---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0sBEufoAMEMYA=
            X-Amzn-Requestid:
                - ed44f882-7dde-4e9b-8255-4d25e0aa30fa
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b30000000033dc7444b3dd2614
        status: 200 OK
        code: 200
        duration: 93.919291ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"8d016d6f-24df-4190-a9bb-b200c94c41c8","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query","description":null,"created":"2025-11-07T18:04:34.763Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"108-a32Je6hE36lzDYjwsnKk5xUcMiE"
            X-Amz-Apigw-Id:
                - Tr0sDHFDoAMEpaA=
            X-Amzn-Requestid:
                - b8ae1518-970e-45e5-b560-a90153e41a1a
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b3000000006ae5b4a8e5c581ec
        status: 200 OK
        code: 200
        duration: 147.953791ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"question":"What is 2+2?"},"expected":{"answer":"4"},"tags":["math","easy"]},{"input":{"question":"What is the capital of France?"},"expected":{"answer":"Paris"},"tags":["geography"]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/8d016d6f-24df-4190-a9bb-b200c94c41c8/insert
        method: POST
      response:
        body: '{"row_ids":["e1b22a65-0d05-4e66-a37a-3b8a9dedb8f0","4829b907-7a2f-44a1-9aba-468dee9500e3"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"5b-xyWdyyF+gI27jwSYJXujAO64HoM"
            X-Amz-Apigw-Id:
                - Tr0sGHKfIAMEZdg=
            X-Amzn-Requestid:
                - 25b4f92a-f8bc-442b-b3d6-5af309c99487
            X-Bt-Internal-Trace-Id:
                - 690e34b30000000000c202b5b0e9da6f
        status: 200 OK
        code: 200
        duration: 290.415875ms
