---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0r6FffIAMEalA=
            X-Amzn-Requestid:
                - 24556455-5fa8-452a-be82-f4667cd91ade
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b20000000012f22bb88a3b9fe5
        status: 200 OK
        code: 200
        duration: 225.941792ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"8d016d6f-24df-4190-a9bb-b200c94c41c8","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-query","description":null,"created":"2025-11-07T18:04:34.763Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"108-a32Je6hE36lzDYjwsnKk5xUcMiE"
            X-Amz-Apigw-Id:
                - Tr0r-GG-IAMEmrw=
            X-Amzn-Requestid:
                - ca47c101-ef77-443f-991e-16634d84a3d0
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b20000000025d2b418371f9255
        status: 200 OK
        code: 200
        duration: 432.503417ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: '{"events":[{"input":{"n":1},"expected":{"v":1}},{"input":{"n":2},"expected":{"v":2}},{"input":{"n":3},"expected":{"v":3}},{"input":{"n":4},"expected":{"v":4}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/8d016d6f-24df-4190-a9bb-b200c94c41c8/insert
        method: POST
      response:
        body: '{"row_ids":["93c4b916-84dd-4f05-a36e-f7047c23c90f","236a92b3-eb38-4cae-bf7c-9bb79d2120fb","f900e6ea-1c59-4df4-b65d-ab0220c1d7ab","bca4a6ee-6e5d-44ea-afd7-e7be3bbfe520"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"a9-X7H4t80W052dUifiITmlzOyubng"
            X-Amz-Apigw-Id:
                - Tr0sHGfJoAMEG8A=
            X-Amzn-Requestid:
                - 1acfb9a7-ec6f-40d3-bc40-5b61e350ff91
            X-Bt-Internal-Trace-Id:
                - 690e34b300000000195a88aa48496ff4
        status: 200 OK
        code: 200
        duration: 265.589167ms
    - id: 3
      request:
        host: api.braintrust.dev
        body: '{"limit":2}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset/8d016d6f-24df-4190-a9bb-b200c94c41c8/fetch
        method: POST
      response:
        body: '{"events":[{"_pagination_key":"p07570045970204721155","_xact_id":"1000196101987613550","created":"2025-11-07T18:04:35.553Z","dataset_id":"8d016d6f-24df-4190-a9bb-b200c94c41c8","expected":{"v":4},"id":"bca4a6ee-6e5d-44ea-afd7-e7be3bbfe520","input":{"n":4},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"6b2e27d2-56b9-49b1-a031-bb0f8a4738d5","span_id":"6b2e27d2-56b9-49b1-a031-bb0f8a4738d5","tags":null},{"_pagination_key":"p07570045970204721154","_xact_id":"1000196101987613550","created":"2025-11-07T18:04:35.553Z","dataset_id":"8d016d6f-24df-4190-a9bb-b200c94c41c8","expected":{"v":3},"id":"f900e6ea-1c59-4df4-b65d-ab0220c1d7ab","input":{"n":3},"is_root":true,"metadata":null,"origin":null,"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","root_span_id":"426d5cfa-1cb1-4377-9ea1-0b9e767f780d","span_id":"426d5cfa-1cb1-4377-9ea1-0b9e767f780d","tags":null}],"cursor":"aQ40s7tuAAI"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - Tr0sMFMboAMEUbw=
            X-Amzn-Requestid:
                - b84c6f0f-9e19-4d3f-ba37-b9147640e506
            X-Bt-Cursor:
                - aQ40s7tuAAI
            X-Bt-Internal-Trace-Id:
                - 690e34b4000000004d8d55b13fbf7d32
        status: 200 OK
        code: 200
        duration: 119.081ms
[...]
