---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: '{"name":"go-sdk-tests"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/project
        method: POST
      response:
        body: '{"id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","org_id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"go-sdk-tests","created":"2025-11-04T13:38:56.532Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","settings":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"eb-poL8yUftdUFahhL/Peyi6gN8N/E"
            X-Amz-Apigw-Id:
                - Tr0r6FBXoAMEdmA=
            X-Amzn-Requestid:
                - 35135dba-f50d-4315-8731-64e777acb9fd
            X-Bt-Found-Existing:
                - "true"
            X-Bt-Internal-Trace-Id:
                - 690e34b20000000045bcaec8f06461d3
        status: 200 OK
        code: 200
        duration: 198.644541ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: '{"project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.braintrust.dev/v1/dataset
        method: POST
      response:
        body: '{"id":"1a6c717a-1877-4e88-b6ab-bcc635486bc1","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-07T18:04:34.706Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"109-trA/6jirgQr2PAyDBl1RR/y5PcU"
            X-Amz-Apigw-Id:
                - Tr0r-HPbIAMEZnw=
            X-Amzn-Requestid:
                - bbfd9a64-ac24-4626-ac38-5a3a65182223
            X-Bt-Internal-Trace-Id:
                - 690e34b2000000005948c732ae8d480b
        status: 200 OK
        code: 200
        duration: 160.288416ms
    - id: 2
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/dataset?dataset_name=test-dataset-modify&limit=10
        method: GET
      response:
        body: '{"objects":[{"id":"1a6c717a-1877-4e88-b6ab-bcc635486bc1","project_id":"842c2063-b9c7-4c40-9fb9-fa95f810c57f","name":"test-dataset-modify","description":null,"created":"2025-11-07T18:04:34.706Z","deleted_at":null,"user_id":"855483c6-68f0-4df4-a147-df9b4ea32e0c","metadata":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"117-GtV8TGNO53J1Ys/grMFvpwnVVrc"
            X-Amz-Apigw-Id:
                - Tr0sBFUJIAMEYTQ=
            X-Amzn-Requestid:
                - 7fcba32d-a9ea-472b-88a7-eebde9051609
            X-Bt-Internal-Trace-Id:
                - 690e34b2000000002a2cc6a8bcb8be8d
        status: 200 OK
        code: 200
        duration: 166.991542ms
