---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '{"text":"I love this product"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Stainless-Arch:
                - arm64
            X-Stainless-Lang:
                - go
            X-Stainless-Os:
                - MacOS
            X-Stainless-Package-Version:
                - 7.9.0
            X-Stainless-Retry-Count:
                - "0"
            X-Stainless-Runtime:
                - go
            X-Stainless-Runtime-Version:
                - go1.26.5
        url: https://api.cloudflare.com/client/v4/accounts/dummy-account-id-for-replay/ai/run/@cf/huggingface/distilbert-sst-2-int8
        method: POST
      response:
        body: '{"result":[{"score":0.000121056436910294,"label":"NEGATIVE"},{"score":0.9998788833618164,"label":"POSITIVE"}],"success":true,"errors":[],"messages":[]}'
        headers:
            Api-Version:
                - 2026-09-25.epoch
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.3615ms
