---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/prompt?limit=1&project_name=go-sdk-tests&slug=sdk-go-load-prompt
        method: GET
      response:
        body: '{"objects":[{"_xact_id":"1000197686699028920","created":"2026-08-14T14:57:32.298Z","description":null,"function_type":"prompt","id":"9db0c7e3-4cd8-478b-9048-1af5b3d854fe","log_id":"p","metadata":null,"name":"sdk-go-load-prompt","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","project_id":"7f591203-74a0-4126-9103-1fb905b32618","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You greet people warmly."},{"role":"user","content":"Say hello to {{name}}."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"template_format":"mustache"},"slug":"sdk-go-load-prompt","tags":null,"function_data":{"type":"prompt"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"28e-oiNY5yIaVrgkrkmBvxQCaQZo8Pw"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - Cw-ZOG9BIAMEJ6Q=
            X-Amzn-Requestid:
                - dd79bf25-99a8-4039-b484-68bf6282aee2
            X-Bt-Internal-Trace-Id:
                - 6a90443a000000004522692922f792bd
        status: 200 OK
        code: 200
        duration: 462.355802ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/prompt?limit=1&project_id=7f591203-74a0-4126-9103-1fb905b32618&slug=sdk-go-load-prompt
        method: GET
      response:
        body: '{"objects":[{"_xact_id":"1000197686699028920","created":"2026-08-14T14:57:32.298Z","description":null,"function_type":"prompt","id":"9db0c7e3-4cd8-478b-9048-1af5b3d854fe","log_id":"p","metadata":null,"name":"sdk-go-load-prompt","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","project_id":"7f591203-74a0-4126-9103-1fb905b32618","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You greet people warmly."},{"role":"user","content":"Say hello to {{name}}."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"template_format":"mustache"},"slug":"sdk-go-load-prompt","tags":null,"function_data":{"type":"prompt"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"28e-oiNY5yIaVrgkrkmBvxQCaQZo8Pw"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - Cw-ZSHrKoAMEWBg=
            X-Amzn-Requestid:
                - c358db2a-2079-4b55-9967-192f8fb29e10
            X-Bt-Internal-Trace-Id:
                - 6a90443a000000002100a1926a90275d
        status: 200 OK
        code: 200
        duration: 311.469977ms
