---
version: 2
interactions:
    - id: 0
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/prompt?limit=1&project_name=go-sdk-tests&slug=sdk-go-load-prompt
        method: GET
      response:
        body: '{"objects":[{"_xact_id":"1000197686699028920","created":"2026-08-14T14:57:32.298Z","description":null,"function_type":"prompt","id":"9db0c7e3-4cd8-478b-9048-1af5b3d854fe","log_id":"p","metadata":null,"name":"sdk-go-load-prompt","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","project_id":"7f591203-74a0-4126-9103-1fb905b32618","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You greet people warmly."},{"role":"user","content":"Say hello to {{name}}."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"template_format":"mustache"},"slug":"sdk-go-load-prompt","tags":null,"function_data":{"type":"prompt"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"28e-oiNY5yIaVrgkrkmBvxQCaQZo8Pw"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - Ca84TEm5IAMEMig=
            X-Amzn-Requestid:
                - 5e7ec6a0-fccc-4869-993c-dcb3920f61f1
            X-Bt-Internal-Trace-Id:
                - 6a877501000000004e365641ca1fc787
        status: 200 OK
        code: 200
        duration: 44.542936ms
    - id: 1
      request:
        host: api.braintrust.dev
        body: ""
        form: {}
        headers: {}
        url: https://api.braintrust.dev/v1/prompt/9db0c7e3-4cd8-478b-9048-1af5b3d854fe
        method: GET
      response:
        body: '{"_xact_id":"1000197686699028920","created":"2026-08-14T14:57:32.298Z","description":null,"function_type":"prompt","id":"9db0c7e3-4cd8-478b-9048-1af5b3d854fe","log_id":"p","metadata":null,"name":"sdk-go-load-prompt","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","project_id":"7f591203-74a0-4126-9103-1fb905b32618","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"system","content":"You greet people warmly."},{"role":"user","content":"Say hello to {{name}}."}]},"options":{"model":"gpt-4o-mini","params":{"temperature":0}},"template_format":"mustache"},"slug":"sdk-go-load-prompt","tags":null,"function_data":{"type":"prompt"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"280-wtSHLkYcDy0XFl83W+BqW688Ey0"
            Surrogate-Control:
                - no-store
            X-Amz-Apigw-Id:
                - Ca84UGZwoAMEnOQ=
            X-Amzn-Requestid:
                - 621a76d4-1707-4f8a-b80a-71d5c38eddd0
            X-Bt-Internal-Trace-Id:
                - 6a8775010000000079454fe2f7a9cd34
        status: 200 OK
        code: 200
        duration: 387.147624ms
